<div class="">
<!-- Edward Add 2014/11/01 -->
<!--	<h1><?php echo $this->__( "Shop by brand: %s",  $this->getBrand()->getTitle() ); ?></h1> -->
	<div class="brand-meta">
	<?php if( $this->getBrand()->getFile() ) :?>
	<div class="brand-image">
		<img src="<?php echo $this->getBrand()->getFileUrl();?>" title="<?php echo $this->getBrand()->getTitle();?>"/>
	</div>
	<?php endif; ?>
	<?php if( $this->getBrand()->getDescription() ) : ?>
	<div class="brand-description">
		<?php echo $this->getBrand()->getDescription();?>
	</div>
	<?php endif; ?>	
	</div>
<div class="brand-product">
<?php echo $this->getChildHtml('products') ?>
</div>
</div>
