<?php
/**
 * 20120425 Settv product sort toolbar
 *                     Sean
 */
?>
<div class="product-category-sort">
<?php if($this->getCollection()->getSize()): ?>
<?php if( $this->isExpanded() ): ?>
	<?php $SortOrders = $this->getAvailableOrders() ; ?>
	<ul>
		<?php foreach($SortOrders as $_key=>$_order): ?>
		<?php if($this->isOrderCurrent($_key)): ?>
		<?php if($this->getCurrentDirection() == 'desc'): ?>
		<li><a class="act"
			href="<?php echo $this->getOrderUrl(null, 'asc') ?>"
			title="<?php echo $this->__('Set Ascending Direction') ?>"><span><?php echo $this->__($_order) ?><em>▼</em>
			</span> </a></li>
		<?php else: ?>
		<li><a class="act"
			href="<?php echo $this->getOrderUrl(null, 'desc') ?>"
			title="<?php echo $this->__('Set Descending Direction') ?>"><span><?php echo $this->__($_order) ?><em>▲</em>
			</span> </a></li>
		<?php endif; ?>
		<?php else:?>
		<li><a href="<?php echo $this->getOrderUrl($_key, 'asc') ?>"><span><?php echo $this->__($_order) ?>
			</span> </a></li>
		<?php endif; ?>
		<?php endforeach; ?>
	</ul>
	<h5>
		<?php echo $this->__('Sort By').":" ?>
	</h5>
<?php endif; ?>
<?php endif ?>
</div>
