<?php if($this->getCollection()->getSize()): ?>
<?php if( $this->isExpanded() ): ?>
<div class="sort sel floatR">
	<?php $SortOrders = $this->getAvailableOrders() ; ?>
	<ul>
		<?php foreach($SortOrders as $_key=>$_order): ?>
		<li><?php if($this->isOrderCurrent($_key)): ?> <?php if($this->getCurrentDirection() == 'desc'): ?>
			<a class="act" href="<?php echo $this->getOrderUrl(null, 'asc') ?>"
			title="<?php echo $this->__('Set Ascending Direction') ?>"><span><?php echo $this->__($_order) ?>
					<em>▼</em> </span> </a> <?php else: ?> <a class="act"
			href="<?php echo $this->getOrderUrl(null, 'desc') ?>"
			title="<?php echo $this->__('Set Descending Direction') ?>"><span><?php echo $this->__($_order) ?>
					<em>▲</em> </span> </a> <?php endif; ?> <?php else:?> <a
			href="<?php echo $this->getOrderUrl($_key, 'asc') ?>"><span><?php
			echo $this->__($_order) ?> </span> </a> <?php endif; ?>
		</li>
		<?php endforeach; ?>
	</ul>
	<h5>
		<?php echo $this->__('Sort By') ?>
	</h5>
</div>

<?php endif; ?>
<?php endif ?>
