<?php $einvoice = $this->getEinvoiceObj(); ?>
<div class="container">
	<div class="einvoice">
		<div class="title company">
			<?php echo $einvoice->getCompanyName()?>
		</div>
		<div class="title">電子發票證明聯</div>
		<div class="title bolder">
			<?php echo $einvoice->getYear()?>
			年
			<?php echo $einvoice->getStartMonth()?>
			-
			<?php echo $einvoice->getEndMonth()?>
			月
		</div>
		<div class="title bolder">
			<?php echo $einvoice->getInvoiceNumer()?>
		</div>
		<div class="description">
			<?php echo $einvoice->getCreateDate()?>
			&nbsp;&nbsp;
			<?php echo $einvoice->getCreateTime()?>
		</div>
		<div>
			<div class="description first-div desc-padding">
				隨機碼：
				<?php echo $einvoice->getRandomCode()?>
			</div>
			<div class="description">
				總計：
				<?php echo $einvoice->getTotal()?>
			</div>
		</div>
		<div class="description">
			賣方
			<?php echo $einvoice->getCompanyTaxId() ?>
		</div>
		<div class="barcode">
			<div class="barcode39">
				<?php echo $einvoice->getBarcode();?>
			</div>
		</div>
		<div>
			<div id="einvoice_qrcode_left" class="first-div qrcode-padding"></div>
			<div id="einvoice_qrcode_right"></div>
		</div>
	</div>
</div>
<script>

jQuery(document).ready(function () {
	$("#einvoice_qrcode_left").qrcode({		
		size: 300,
		fill: '#000',
		render: 'image',
		text: '<?php echo $einvoice->getQrcode();?>'
	}).find("img").css("width", 70);

	$("#einvoice_qrcode_right").qrcode({		
		size: 300,
		fill: '#000',
		render: 'image',
		text: '**'
	}).find("img").css("width", 70);

	$('.barcode39').barcode({
		code:'code39'
	});
});

</script>
