<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<?php echo $this->getChildHtml('head') ?>
</head>

<body>
	<?php echo $this->getChildHtml('content') ?>
</body>

</html>


