<div class="brand">
	<h1><?php echo $this->__( "All Brands" );?></h1>

	<div class="brand-wrapper">
		<ul>
		<?php $brands = $this->getBrands(); ?>
		<?php foreach( $brands as $brand ): ?>
			<li>
				<a href="<?php echo $brand->getLink();?>" title="<?php echo $brand->getTitle();?>">
				<img src="<?php echo $brand->getIconUrl();?>" alt="<?php echo $brand->getTitle();?>" />
				</a>
				<a href="<?php echo $brand->getLink();?>" title="<?php echo $brand->getTitle();?>">
					<span><?php echo $brand->getTitle();?></span>
				</a>
			</li>
		<?php endforeach; ?>
		</ul>
	</div>	
</div>