<?php
/**
 * 20120425 Settv product sort toolbar
 *                     Sean
 */
?>

<?php if($this->getCollection()->getSize()): ?>      
    <?php if( $this->isExpanded() ): ?>
    	<select name="sortby" id="sortby" onChange="setSearch(this.value);">
    	    <?php $Sorts = $this->getAvailableOrders() ; ?>
            <?php foreach($Sorts as $_key=>$_order): ?>
            		<?php if($_key == "created_at"):?>
            			<option value="<?php echo $this->getOrderUrl($_key, 'desc') ?>" <?php if($this->isOrderCurrent($_key)) echo "SELECTED" ;?>><?php echo $this->__($_key) ?></option>
            		<?php else:?>
            			<option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>" <?php if($this->isOrderCurrent($_key)) echo "SELECTED" ;?>><?php echo $this->__($_key) ?></option>
            		<?php endif;?>	
            			<?php /*  
            			<?php echo $this->__($_order) ?>
            			<?php if($this->getCurrentDirection() == 'desc'): ?>
                			<a href="<?php echo $this->getOrderUrl(null, 'asc') ?>" title="<?php echo $this->__('Set Ascending Direction') ?>"><img src="<?php echo Mage::getDesign()->getSkinUrl('imgs/icon/arr1.png')?>" alt="<?php echo $this->__('Set Ascending Direction') ?>"  /></a>
            			<?php else: ?>
                			<a href="<?php echo $this->getOrderUrl(null, 'desc') ?>" title="<?php echo $this->__('Set Descending Direction') ?>"><img src="<?php echo Mage::getDesign()->getSkinUrl('imgs/icon/arr2.png')?>" alt="<?php echo $this->__('Set Descending Direction') ?>"  /></a>
            			<?php endif; ?>
            			*/ ?>
            <?php endforeach; ?>
        </select>
    <?php endif; ?>
<?php endif ?>
<script>
function setSearch(UrlStr) {
	location.href = UrlStr;
};
</script>