<?php $categories = $this->getCategories(); ?>
<?php $attributes = $this->getAttributes(); ?>
<?php $product = $this->getProductObject(); ?>
<?php $data = Mage::getSingleton("supplierfrontendproductuploader/session")->getProductData(); ?>
<?php Mage::getSingleton("supplierfrontendproductuploader/session")->clear(); ?>
<?php $this->setProduct($product); ?>
<?php $selectedCategories = isset($data['category']) ? $data['category'] : array(); ?>
<?php $mediaGallery = (isset($data['image'])) ? $data['image'] : array(); 
$customer = Mage::getSingleton('customer/session')->getCustomer();

$attribute = Mage::getModel('eav/entity_attribute')->loadByCode('customer', 'supplier');
$attribute_options_model= Mage::getModel('eav/entity_attribute_source_table') ;
$attribute_table        = $attribute_options_model->setAttribute($attribute);
$options                = $attribute_options_model->getAllOptions(false);

$supplier_value = $customer->getSupplier();

foreach($options as $option) {
	if ($option['value'] == $supplier_value)	{
		$supplier = $option['label'];
		break;
	}
}


?>
<div class="container-fluid main-container vendor-container">
    <h1><?php echo Mage::helper('supplierfrontendproductuploader')->__('Add Product'); ?></h1>
    <div class="row">
        <div class="span12 container-fluid form-container">
            <form name="product_create_form" id="product_create_form" action="<?php echo Mage::getUrl('cminds_supplierfrontendproductuploader/product/save', array('_secure' => true)) ?>" method="post" enctype="multipart/form-data">
                <div class="span8">
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="name">
                                <?php echo $this->getLabel('name', 'Name', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="span5 input-container">
                            <input type="text" id="name" name="name" class="input-text required-entry" value="<?php echo (isset($data['name']) ? $data['name'] : ''); ?>"/>
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="short_description">
                                <?php echo $this->getLabel('short_description', 'Short Description', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="span7 input-container">
                            <textarea id="short_description" name="short_description" class="input-text required-entry form-control wysiwyg" rows="15"><?php echo (isset($data['short_description']) ? $data['short_description'] : ''); ?></textarea>
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="description">
                                <?php echo $this->getLabel('description', 'Detailed Description ', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="span8 input-container">
                            <textarea id="description" name="description" class="input-text form-control required-entry wysiwyg" rows="15"><?php echo (isset($data['description']) ? $data['description'] : ''); ?></textarea>
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="product_cost">
                                <?php echo $this->getLabel('product_cost', 'Cost', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="span5 input-container">
                            <input type="text" id="product_cost" name="product_cost" value="<?php echo (isset($data['product_cost']) ? $data['product_cost'] : ''); ?>" class="input-text required-entry validate-number" />
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="price">
                                <?php echo $this->getLabel('price', 'Price', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="span5 input-container">
                            <input type="text" id="price" name="price" value="<?php echo (isset($data['price']) ? $data['price'] : ''); ?>" class="input-text required-entry validate-number validate-greater-than-zero" />
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="special_price">
                                <?php echo $this->getLabel('special_price', 'Special Price', false); ?>:
                            </label>
                        </div>
                        <div class="span5 input-container">
                            <input type="text" id="special_price" name="special_price" value="<?php echo (isset($data['special_price']) ? $data['special_price'] : ''); ?>" class="input-text validate-number" />
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="special_price_from_date">
                                <?php echo $this->getLabel('special_price_from_date', 'Special Price From', false); ?>:
                            </label>
                        </div>
                        <div class="span5 input-container">
                            <input type="text" id="special_price_from_date" name="special_price_from_date" value="<?php echo (isset($data['special_price_from_date']) ? $data['special_price_from_date'] : ''); ?>" class="input-text datepicker" />
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="special_price_to_date">
                                <?php echo $this->getLabel('special_price_to_date', 'Special Price To', false); ?>:
                            </label>
                        </div>
                        <div class="span5 input-container">
                            <input type="text" id="special_price_to_date" name="special_price_to_date" value="<?php echo (isset($data['special_price_to_date']) ? $data['special_price_to_date'] : ''); ?>" class="input-text datepicker" />
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="span3 label-container">
                            <label for="qty">
                                <?php echo $this->getLabel('qty', 'QTY Available', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="span5 input-container">
                            <input type="text" id="qty" name="qty" value="<?php echo (isset($data['qty']) ? $data['qty'] : ''); ?>" class="input-text required-entry validate-number validate-greater-than-zero" />
                        </div>
                    </div>
                    <?php if($this->canAddSku()): ?>
                        <div class="container form-group">
                            <div class="span3 label-container">
                                <label for="sku">
                                    <?php echo $this->getLabel('sku', 'SKU', false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="span5 input-container">
                                <input type="text" id="sku" name="sku" value="<?php echo (isset($data['sku']) ? $data['sku'] : ''); ?>" class="input-text required-entry" />
                            </div>
                        </div>
                    <?php endif;?>
                    <?php foreach($attributes AS $attribute): ?>
                        <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']); ?>

                        <?php if($attributeObj->getData('is_user_defined') == 1) : ?>
                            <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                            <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); ?>
                            <div class="container form-group">
                                <div class="span3 label-container">
                                    <label for="product_name">
                                        <?php echo $this->getLabel($attributeObj); ?>
                                        <?php if($isRequired == 1): ?><span class="required">*</span> <?php endif; ?>:
                                    </label>
                                </div>
                                <div class="span8 input-container">
                                    <?php echo $this->getAttributeHtml($attributeObj, $data); ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
                <div class="span3 right ">
                    <div class="form-group">
                        <div class="span5 photo-content">
                            <h5><?php echo $this->__('Product Images'); ?></h5>
                            <span class="file_upload_span btn btn-small btn-primary"><?php echo $this->__('Select and Upload Image')?></span>
                            <input type="file" name="file_upload" id="file_upload" multiupload />
                            <input type="hidden" class="image hidden" name="main_photo" id="main_photo" value="<?php echo isset($data['main_photo']) ? $data['main_photo'] : ''; ?>" />
                            <div class="span3 photos">
                                <ul class="photo panel-body">
                                    <?php foreach($mediaGallery AS $img) : ?>
                                        <li class="thumbnail<?php echo (isset($data['main_photo']) && $data['main_photo'] == $img) ? ' main' : '' ?>">
                                            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>upload/resized<?php echo $img; ?>" alt="" data-name="<?php echo $img; ?>"/>
                                            <span class="remove"><i class="icon-remove"></i></span>
                                            <span class="default"><i class="icon-home"></i></span>
                                            <input type="hidden" class="image hidden" name="image[]" value="<?php echo $img; ?>" /></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="category-list">
                        <h5><?php echo Mage::helper('supplierfrontendproductuploader')->__('Product Categories'); ?></h5>
                        <input type="checkbox" name="category[]" value="3" checked="checked" />
                        <?php foreach($categories AS $category): ?>
                            <?php $cat = Mage::getModel('catalog/category')->load($category->getEntityId()); ?>
                            <?php if($cat->getData('available_for_supplier') == 0) continue; ?>
                            <li class="level-<?php echo $cat->getLevel(); ?>">
                                <input type="checkbox" name="category[]" value="<?php echo $cat->getId(); ?>"<?php echo (in_array($cat->getId(), $selectedCategories) ? ' checked' : '') ?> <?php print $cat->getData('available_for_supplier') == 0 ? 'disabled="true"' : "";?>/>
                                <?php echo $cat->getName(); ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <div class="span12">
                    <input type="submit" name="submit" class="btn btn-primary" value="<?php echo $this->__('Save Product') ?>" />
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('product_create_form');
    //]]>

    var custom_upload_uri = '<?php echo $this->getUrl('cminds_supplierfrontendproductuploader/product/customupload',array('_secure' => true,'id'=>$product->getId()));?>';
    var custom_image_list_uri = '<?php echo $this->getUrl('cminds_supplierfrontendproductuploader/product/imagelist/',array('_secure' => true,'id'=>$product->getId()));?>';
    var custom_upload_create = true;
    jQuery(document).ready(function($){
        var supplier = '<?php echo $supplier; ?>';
        jQuery('.datepicker').datepicker();
        var supplier_select = jQuery('select[name="supplier"]');
        supplier_select.parent().parent().css('display','none');
        supplier_select.find('option').each(function(){
			if(jQuery(this).text() === supplier){
				supplier_select.val(jQuery('select[name="supplier"] option[value="'+this.value+'"]').val())
			}
        });
        jQuery('#file_upload').fileupload({
            url: '<?php echo Mage::getUrl('cminds_supplierfrontendproductuploader/product/upload', array('_secure' => true)) ?>',
            dataType: 'json',
            done: function (e, data) {
                if(data.result.success) {
                    $('.photo.panel-body').append('<li class="thumbnail"><img src="' + data.result.url + '" alt="" data-name="' + data.result.name + '"/><span class="remove"><i class="icon-remove"></i></span><span class="default"><i class="icon-home"></i></span><input type="hidden" class="image hidden" name="image[]" value="' + data.result.name + '" /></li>');
                } else {
                    alert(data.result.message);
                }
            }
        })
        .prop('disabled', !jQuery.support.fileInput)
            .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled')
        .on('fileuploadadd', function (e, data) {
            var limit = <?php echo $this->getMaxImagesCount() ?>;
    
            if(jQuery('.thumbnail:visible').length >= limit) {
                alert('The upload limit has been reached');
                return false;
            }
        });

        jQuery(document).on('click', 'li span.remove', function($){
            var img = jQuery(this).prev();
            var imgName = jQuery(img).attr('data-name');

            $j('input.image.hidden').each(function(el){
                if($j(this).val() == imgName) {
                    $j(this).val('');
                }
            });
            $j(this).parent().fadeOut();

        });
/*
        jQuery('.wysiwyg').each(function(){
            if(this.name=='in_depth'){
                $(this).wysihtml5({
			            html: true,
			            color: false
		            });
            }else{
            	$(this).wysihtml5({
		            html: true,
		            image: false,
		            color: false
	            });
            }
        });
*/
        
        jQuery(document).on('click', 'li span.default', function($){
            var img = jQuery(this).prev().prev();
            var imgName = jQuery(img).attr('data-name');
            var mainPhotoInput = jQuery('#main_photo');
            mainPhotoInput.val(imgName);

            if(jQuery('li.thumbnail.main').length) {
                jQuery('li.thumbnail.main').removeClass('main');
            }

            img.parent().addClass('main');
        });
    });
</script>
