.searchbox{ position: relative; min-width: 42px; height: 42px; z-index:999;}
.sb-search {
	position: absolute; top:0; right:0;
	
	width: 0%;
	min-width: 42px;
	height: 42px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.searchbox .sb-search-input,
.searchbox .sb-search-input:focus{
	background: #333;
}
.searchbox .sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;	
	width: 280px;
	height: 42px;
	margin: 0;
	z-index: 10;
	padding:0 40px 0 7px;
	font-family: inherit;
	font-size: 14px;
	color: #fff;
}

.sb-search-input::-webkit-input-placeholder {
	color: #9f9f9f;
}

.sb-search-input:-moz-placeholder {
	color: #9f9f9f;
}

.sb-search-input::-moz-placeholder {
	color: #9f9f9f;
}

.sb-search-input:-ms-input-placeholder {
	color: #9f9f9f;
}

.sb-icon-search,
.sb-search-submit  {
	width: 42px;
	height: 42px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
}

.sb-icon-search {
	color: #fff;
	background: url(../images/icon-search.png) center no-repeat #333;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {

}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 290px;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background-color: #F23030;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
