/* Category Page ========================================================================= */
.category-title { display: none;}
.category-image { overflow:hidden; margin:0 0 20px; text-align:center; }
.category-image img { max-width : 100%; height: auto}
.category-description { margin:0 0 10px; }
.category-products {}
/* End Category Page ========================================================================= */

/* View Type: List */
.products-grid{ margin-bottom: 30px;}
.products-list li.item { margin: 0 0 20px;}
.products-list li.item.last { border-bottom:0; }
.products-list li.item:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }