/* Bottom info */
.bottom-info{
	background-image: url(#{$image-url}bg-dot.png);
	background-position: left top;
	background-repeat: repeat;
	background-color: #e8e8e8;
	padding: 20px 0;
	h3{ display: inline-block; color: #282828;}
	.fa{
		background-color: #282828;
	    color: #FFFFFF;
	    font-size: 28px;
	    padding: 20px 14px 20px 20px;
	    text-align: center;
	    margin: 0 18px 0 0;
	}
}

/* Custom footer links */
.custom-footer-links{ 
	h1,h4{ color: #fff;}	
	h1{ 
		margin: 0;
	}
}

.custom-footer-links {
	.fa{
		font-size: 18px;
		vertical-align: top;
		line-height: 22px;
		&.fa-envelope{ font-size:15px;}
	}
	p{
		span{ display: inline-block; padding-left: 12px;}
	}
}

/* box-ad */
.box-ad{
	position: relative;
	img{ max-width: 100%; line-height: auto;}
	.box-des{ position: absolute; top: 20px; right: 25px; text-align: right; color: #eee;}
	h3{ font-size: 22px; line-height: 26px; font-family: 'robotolight'; letter-spacing: 2px; color: #eee; margin: 0 0 8px;}
	p{ line-height: 18px; margin: 0 0 25px;}
	a{ background-color: #282828; color: #eee; font-size: 15px; padding: 9px 38px; cursor: pointer;}
}

/* logo-bank */
.logo-bank { 
	height: 74px; text-align: right; line-height: 74px;
	img{ vertical-align: middle;}
}

/* box-custom */
.box-custom h3{
	color : $primary-color;
}