/* Footer ================================================================================ */
.footer-container { 
	background: $footer-background; padding: 50px 0 0; 
	a,p{ font-size: 13px; color: #767676;}
	a{ 
		line-height: 30px;
		&:hover{ color: $primary-color;}
	}
	p{ line-height: 20px;}
	h4{ border-bottom: 1px solid #313131; padding: 0 0 18px; margin: 0 0 10px;}
	.custom-subscribe{
		margin: 45px 0 0;
		h4{ text-transform: uppercase; border: none; margin: 0;}
		.input-box{ width: 75%; float: left;}
		.actions{ 
			width:24%; float: right;
			.button.button{ 
				width: 100%; text-align: center; background: #373737; height: 40px; text-transform: uppercase; font-size: 15px; text-transform: uppercase; font-family: 'robotolight';
				&:hover{ background: $primary-color;}
			}
		}
	}
	.input-text{ background: transparent; border-color:#3b3b3b; height: 40px; color:#999; padding: 0 10px; width: 100%;}
	.input-text:focus{ background: transparent; border-color: #464646;}
	.coppyright{ border-top: 1px solid #313131;}
}
.footer { padding:45px 0 0; }
.footer .store-switcher { display:inline; margin:0 5px 0 0; color:#fff; }
.footer .store-switcher label { font-weight:bold; vertical-align:middle; }
.footer .store-switcher select { padding:0; vertical-align:middle; }
.footer a { color:#fff; text-decoration:none; }
.footer a:hover { text-decoration:underline; }
.footer .bugs { margin:13px 0 0; color:#ecf3f6; }
.footer .bugs a { color:#ecf3f6; text-decoration:underline; }
.footer .bugs a:hover { text-decoration:none; }
.footer address { padding: 15px 0; line-height: 44px; font-size: 11px; color: #737373;}
.footer address a { color:#ecf3f6; text-decoration:underline; }
.footer address a:hover { text-decoration:none; }
.footer ul { display:inline; }
.footer ul.links { display:block; }
.footer li { display:inline; padding:0 7px 0 4px; }
.footer li.last { background:none !important; padding-right:0 !important; }
.footer-container .bottom-container { margin:0 0 5px; }
/* ======================================================================================= */