/* Layout ================================================================================ */
.wrapper {}
.page {}
.page-print { background:#fff; padding:25px 30px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { background:#fff; padding:25px 30px; text-align:left; }
.main-container {}
.main {}

/* Base Columns */
.col-left { margin-bottom: 40px; @include clearfix();}
.col-main { margin-bottom: 40px; @include clearfix();}
.col-right { margin-bottom: 40px; @include clearfix();}

/* 1 Column Layout */
.col1-layout .col-main {}

/* 2 Columns Layout */
.col2-left-layout .col-main {}
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout{
	.col-main {}
	.col-wrapper {}
	.col-wrapper .col-main {}
}

/* Content Columns */ 
.col2-set{
	.col-1 { float:left; width:48.5%; }
	.col-2 { float:right; width:48.5%; }
	.col-narrow { width:32%; }
	.col-wide { width:65%; }
} 
.col3-set{
	.col-1 { float:left; width:32%; }
	.col-2 { float:left; width:32%; margin-left:2%; }
	.col-3 { float:right; width:32%; }
}
.col4-set{
	.col-1 { float:left; width:23.5%; }
	.col-2 { float:left; width:23.5%; margin:0 2%; }
	.col-3 { float:left; width:23.5%; }
	.col-4 { float:right; width:23.5%; }
}
/* ====================================================================================== */
.page .set,
#slideshow{ margin: $set-margin; @include clearfix();}
.col-main .block{ margin: 0;}

/* Layout */
.boxed{ max-width: 1170px; margin: 0 auto;}