/* Product View ========================================================================== */
.ratings-table th,
.ratings-table td {}
.ratings-table th { font-size: 14px; padding-right:10px; padding-bottom: 3px; }

/* Reviews */
.product-view .ratings{ margin-bottom: 20px;}
.product-view .ratings .rating-links a{ padding: 0 5px;}
.product-view .rating-box{}
.product-view .product-shop .nobr { font-size: 14px; padding: 10px 0 5px; display: inline-block;}

/* Availability */
.availability { margin:0; }
.availability span { font-weight:bold; }
.availability.in-stock span {}
.availability.out-of-stock span { color:#d83820; }

.availability-only { margin:10px 0 7px; line-height:16px; background:url(../images/i_availability_only.gif) 0 50% no-repeat; padding-left:15px; }
.availability-only span,
.availability-only a { border-bottom:1px dashed #751d02; color:#000; }
.availability-only a { background:url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat; cursor:pointer; padding-right:15px; text-decoration:none; }
.availability-only .expanded { background-position:100% -15px; }
.availability-only strong { color:#be2c00; }

.availability-only-details { margin:0 0 7px; }
.availability-only-details th { background:#d2d6d9; font-size:10px; padding:0 8px; }
.availability-only-details td { background:#ebf0f3; border-bottom:1px solid #fff; font-size:11px; padding:2px 8px 1px; }
.availability-only-details tr.odd td.last { color:#d95e00; font-weight:bold; }

.product-view .product-shop .availability { font-size:12px; line-height: 34px; color:#959595; }
.product-view .product-shop .availability span { font-weight:normal; color:$primary-color; }



/* Email to a Friend */
.email-friend { margin:0; }

/* Alerts */
.alert-price { margin:0; font-size:11px; }
.alert-stock { margin:0; font-size:11px; }


/* Excluding tax */
.price-excluding-tax { display:block; color:#999; }
.price-excluding-tax .label { white-space:nowrap; color:#999; }
.price-excluding-tax .price { font-size:13px; font-weight:normal; color:#c76200; }

/* Including tax */
.price-including-tax { display:block; color:#999; }
.price-including-tax .label { white-space:nowrap; color:#999; }
.price-including-tax .price { font-size:13px; font-weight:bold; color:#c76200; }

/* Configured price */
.configured-price { margin:0; }
.configured-price .price-label { font-weight:bold; white-space:nowrap; }
.configured-price .price { font-weight:bold; }

/* FPT */
.weee { display:block; font-size:11px; color:#444; }
.weee .price { font-size:11px; font-weight:normal; }

/* Excl tax (for order tables) */
.price-excl-tax  { display:block; }
.price-excl-tax .label { display:block; white-space:nowrap; }
.price-excl-tax .price { display:block; }

/* Incl tax (for order tables) */
.price-incl-tax { display:block; }
.price-incl-tax .label { display:block; white-space:nowrap; }
.price-incl-tax .price { display:block; font-weight:bold; }

/* Price range */
.price-from { margin:0; }
.price-from .price-label { font-weight:bold; white-space:nowrap; }

.price-to { margin:0; }
.price-to .price-label { font-weight:bold; white-space:nowrap; }

/* Price notice next to the options */
.price-notice { padding-left:10px; color:#999; }
.price-notice .price { font-weight:bold; color:#2f2f2f; }

/* Price as configured */
.price-as-configured { margin:0; }
.price-as-configured .price-label { font-weight:bold; white-space:nowrap; }

.price-box-bundle { padding:0 0 10px 0; }
.price-box-bundle .price-box { margin:0 !important; padding:0 !important; }
.price-box-bundle .price { color:#555; }
/********** Product Prices > */

/* Tier Prices */
.product-pricing,
.tier-prices { margin:10px 0; padding:10px 0; }
.tier-prices li { padding:4px 0; }
.tier-prices .benefit { font-style:italic; font-weight:bold; color:#2f2f2f; }
.tier-prices .price { font-weight:bold; color:#2f2f2f; }

.tier-prices-grouped li { padding:2px 0; color:#e26703; }
.tier-prices-grouped li .price { font-weight:bold; }

/* Add to Links */
.add-to-links { font-size:11px; margin:5px 0 0; }
.add-to-links .separator { display:none; }

/* Add to Cart */
.add-to-cart label { display: none;}
.add-to-cart .qty { float:right; margin-left:5px; height: 40px; width: 40px !important; }
.add-to-cart button.button { float:left; }
.add-to-cart .paypal-logo { clear:left; margin:0; text-align:right; }
.add-to-cart .paypal-logo .paypal-or { clear:both; display:block; margin:5px 60px 5px 0; }
.product-view .add-to-cart .paypal-logo { margin:0; }

/* Add to Links + Add to Cart */
.add-to-box {}
.add-to-box .add-to-cart{ float:left; margin: 30px 0;}
.product-options-bottom .add-to-cart { float:left; margin: 20px 0 30px;}

.add-to-box .or { float:left; font-weight:bold; margin:0 7px; color:#666; }
.add-to-box .add-to-links { float:left; margin:0; font-size:12px !important; line-height:1.25 !important; text-align:left !important; }
.add-to-box .add-to-links li { display:block !important; }
.add-to-box .add-to-links li .separator { display:none !important; }
.add-to-box .p-addto{ 
	clear: both;
	border-top: 1px solid #BEBEBE;
	padding: 20px 0;
	@include clearfix();
}

.product-view {}

.product-essential {}
.product-essential h2 {}

.product-collateral { padding:40px 0; }
.product-collateral h2 { font-size:15px; border-bottom:1px solid #BEBEBE; padding:0 0 6px; margin:0 0 15px; }
.product-collateral .box-collateral { margin:0 0 35px; }
.product-collateral .box-collateral h2{

}

/* Product Images */
.product-view .product-img-box { width:100%; overflow: hidden;}
.product-view .product-img-box img{ max-width:100%; height: auto; }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
/*
.product-view .product-img-box .product-image { margin:0 0 13px; }
.product-view .product-img-box .product-image-zoom { position:relative; width:100%; height:600px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .zoom-notice { font-size:11px; margin:0 0 5px; text-align:center; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:18px; margin:0 auto 13px; padding:0 28px; background:url(../images/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom.disabled { -moz-opacity:.3; -webkit-opacity:.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; opacity:.3; }

.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:-1px; width:9px; height:22px; background:url(../images/magnifier_handle.gif) 0 0 no-repeat;  }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:2px; top:0; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:2px; top:0; }
.product-view .product-img-box .more-views h2 { font-size:11px; border-bottom:1px solid $border-color; margin:0 0 8px; text-transform:uppercase; }
.product-view .product-img-box .more-views ul { margin-left:-9px }
.product-view .product-img-box .more-views li { float:left; margin:0 0 8px 9px; }
.product-view .product-img-box .more-views li a { float:left; width:56px; height:56px; border:2px solid $border-color; overflow:hidden; }
*/
.product-view .more-views{ 

    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    height: 164px;
    &.ps-container .ps-scrollbar-y-rail{ right: 10px !important;}
}
.ps-container .ps-scrollbar-x-rail{ z-index: 9999;}
.product-view .more-views ul { 
	@include clearfix();
}
.product-view .product-img-box .more-views{
	margin-left: -5px; margin-right: -5px;
	@include clearfix();
	h2,h4{ display: none;}
	li{ float:left; padding: 0 5px;}
}

.product-image-popup { margin:0 auto; }
.product-image-popup .buttons-set { float:right; clear:none; border:0; margin:0; padding:0; }
.product-image-popup .nav { font-weight:bold; margin:0 100px; text-align:center; }
.product-image-popup .image { display:block; margin:10px 0;  }
.product-image-popup .image-label { font-size:13px; font-weight:bold; margin:0 0 10px; color:#2f2f2f; }

/* Product Shop */
.product-view .product-shop {}
.col1-layout .product-view .product-shop {}
.col3-layout .product-view .product-shop {}
.product-view .product-shop .product-name { margin:-8px 0 13px; }
.product-view .product-shop .product-name h1 { font-size: 24px;}
.product-view .product-shop .availability { float: right; margin: 5px 0;}
.product-view .product-shop .short-description { margin:10px 0 0; border-bottom: 1px solid #bebebe; padding: 10px 0 30px; font-size: 14px; color: #7f7f7f; line-height: 22px;}
.product-view .product-shop .price-box {}
.product-view .product-shop .p-info { border: 1px solid #bebebe; border-width: 1px 0; padding: 10px 0 12px;}
.product-view .product-shop .price-box .old-price .price{ font-size: 22px;}
.product-view .product-shop .special-price { float: none; clear: both;}
.product-view .product-shop .p-info .price,
.product-view .product-options-bottom .price-box .price { font-size: 30px; color: $primary-color; font-family: 'robotolight'; line-height: 34px;}
.product-view .product-shop .add-to-links,
.product-view .product-shop .email-friend,
.products-list .add-to-links{ 
	font-size:12px; text-align:left; margin:0;float: left;
	a{				
		padding-left: 24px;
		position: relative;
		margin: 0 20px 0 0;
		display: block;
		&:before{
			content: "";
			position: absolute;
			width: 20px;
			height: 100%;
			left: 0;
			top: 0;
			background-image: url(#{$image-url}product-icons.png);
			background-repeat: no-repeat;
		}
		&.link-wishlist:before{ background-position: -95px 0px;}
		&.link-compare:before{ background-position: -174px 0;}
	}
}
.product-view .product-shop .email-friend a:before{
	background-image: url(#{$image-url}email.png);
	background-position: 0px 7px;

}

.product-view .product-shop .add-to-links li,
.product-view .product-shop .add-to-links li .separator { float:left; }

.product-view .product-shop .add-to-links a,
.product-view .product-shop .email-friend a{
	font-size: 12px; color: #414141; margin: 0 20px 0 0; line-height: 24px;
	@include transition(all,0.2s,ease-in-out);
	&:hover{ @include opacity(0.7);}
}
#track_outer{ display: none;}
/* Product Options */
.product-options { position:relative; margin: 18px 0 0;}
.product-options dt { padding:5px 0 0; font-weight:normal; }
.product-options dt label { color:$secondary-color; font-size:14px; font-weight: normal; margin: 0 0 7px;}
.product-options dt label.required em { color:#eb340a; float: right; margin-left: 3px;}
.product-options dd .qty-holder { display:block; padding:10px 0 0; }
.product-options dd .qty-holder label { vertical-align:middle; }
.product-options dt .qty-disabled { background:none; border:0; padding:3px; color:#2f2f2f; }
.product-options dd {}
.product-options dl.last dd.last {}
.product-options dd input.input-text { width:98%; }
.product-options dd input.datetime-picker { width:150px; }
.product-options dd .time-picker { display:-moz-inline-box; display:inline-block; padding:2px 0; vertical-align:middle; }
.product-options dd textarea { width:100%; height:8em; }
.product-options dd select { width:100%; padding: 5px 2px; }
.product-options dd .multiselect option { border-bottom:1px dotted #d9e5ee; padding:2px 4px; }
.product-options ul.options-list { margin-right:5px; }
.product-options ul.options-list li { line-height:1.5; padding:2px 0 0; clear: both; }
.product-options ul.options-list input.radio { float:left; margin-top: 4px;}
.product-options ul.options-list input.checkbox { float:left; margin-top:3px; }
.product-options ul.options-list .label { display:block; margin-left:18px; line-height: 1.6;}
.product-options ul.options-list label { font-weight:normal; vertical-align: middle; }
.product-options ul.validation-failed { padding:0 7px; }
.product-options p.note { margin:0; font-size:11px; }
.product-options p.required { position:absolute; right:0; top:10px; }

.product-options-bottom {}
.product-options-bottom .product-pricing,
.product-options-bottom .tier-prices { margin:0; padding:0 0 10px; border:0; background:0; color:#e26703; }
.product-options-bottom .tier-prices li { background:0; padding:2px 0; }
.product-options-bottom .tier-prices .price,
.product-options-bottom .tier-prices .benefit { color:#e26703; }
.product-options-bottom .price-box { margin:0; padding:0; }
.product-options-bottom .add-to-links { 
	clear: both;
	float: none !important;
	border-top: 1px solid #BEBEBE;
	padding: 20px 0;
	@include clearfix();
}
.col3-layout .product-options-bottom .price-box { float:none; padding:0 0 5px; }
.product-options-bottom .price-label { float:left; padding-right:5px; }
.product-options-bottom .price-tax { float:left; }
.product-options-bottom .add-to-cart { float:left; }
.product-shop .product-options-bottom { margin:0 0 10px; }
.product-shop .product-options-bottom .price-box { float:right; margin: 20px 0 30px; line-height: 38px;}
.product-shop .product-options-bottom .price-label { float:none; padding-right:0; }
.product-shop .product-options-bottom .price-tax { float:none; }
.product-shop .product-options-bottom .add-to-cart-box { clear:both; float:left; padding-top:12px; }
.product-shop .product-options-bottom .add-to-links { @include clearfix();}
#product-options-wrapper dd{ padding: 0 0 20px;}
#product-options-wrapper dd.last{ border-bottom: 1px solid #BEBEBE;}

/* Grouped Product */
.product-view .grouped-items-table .price-box { margin:0; padding:0; }

/* Block: Description */
.product-view .box-description {}

/* Block: Additional */
.product-view .box-additional .data-table th,
.product-view .box-additional .data-table td { line-height:1.25; }

/* Block: Upsell */
.product-view .box-up-sell h2 {}
/*
.product-view .box-up-sell .products-grid {}
.product-view .box-up-sell .products-grid td { width:25%; background:#f6f2e7; border-right:1px solid $border-color; border-bottom:1px solid $border-color; padding:15px 10px 12px; line-height:1.6em; }
.product-view .box-up-sell .products-grid tr.last td { border-bottom:0; }
.product-view .box-up-sell .products-grid td.last { border-right:0; }
.product-view .box-up-sell .products-grid td img { border:1px solid $border-color; }
.product-view .box-up-sell .products-grid .product-image { text-align:center; }
.product-view .box-up-sell .products-grid td.empty { border-right:0; background:#f1ecdb; }
.product-view .box-up-sell .products-grid .ratings .rating-box { float:none; display:block; margin:0 0 3px; }
*/
/* Block: Tags */
.product-view .box-tags {}
.product-view .box-tags h3 { font-size:13px; }
.product-view .box-tags .product-tags { display:block; margin:0 0 15px; }
.product-view .box-tags .product-tags li { display:inline; padding:0 7px 0 4px; }
.product-view .box-tags .product-tags li.first { padding-left:0; }
.product-view .box-tags .product-tags li.last { background:none; padding-right:0; }
.product-view .box-tags .form-add label { display:block; font-size:13px; font-weight:bold; margin:0 0 5px; color:#0a263c;}
.product-view .box-tags .form-add .input-box { float:left;}
.product-view .box-tags .form-add input.input-text { width:100%; height: 40px; }
.product-view .box-tags .form-add button.button span {}
.product-view .box-tags .note { margin:8px 0 0; font-size:11px; clear: both; }

/* Block: Reviews */
.product-view .box-reviews dl { margin:15px 0; }
.product-view .box-reviews .ratings-table{ margin:10px 0; }
.product-view .box-reviews dt a,
.product-view .box-reviews dt span { font-weight:bold; }
.product-view .box-reviews dd { margin:0 0 15px; border-bottom: 1px solid #D7D7D7; padding: 0 0 15px;}
.product-view .box-reviews dd small { font-style:italic; }
.product-view .box-reviews .form-add { margin:15px 0 0; }
.product-view .box-reviews .form-add h3 { font-size:13px; font-weight:normal; }
.product-view .box-reviews .form-add h3 span { font-weight:bold; }
.product-view .box-reviews .form-add h4 { font-size:12px; }
.product-view .box-reviews .form-add .data-table td { text-align:center; }
.product-view .box-reviews .form-add .form-list { margin:15px 0 0; }
.product-view .box-reviews .form-add .form-list .input-box { width:360px; }
.product-view .box-reviews .form-add .form-list input.input-text,
.product-view .box-reviews .form-add .form-list textarea { width:100%; }

/* Send a Friend */
.send-friend .form-list { width:615px; overflow:hidden; }
.send-friend .form-list li { margin-right:-15px; }
.send-friend .form-list li p { margin:0 15px 0 0; }
.send-friend .form-list .field { width:315px; }
.send-friend .form-list .input-box { width:300px; }
.send-friend .form-list input.input-text,
.send-friend .form-list textarea { width:100%; }
.send-friend .form-list li.wide .input-box { width:612px; }
.send-friend .form-list li.wide textarea { width:609px; }
.send-friend .buttons-set .limit { float:right; margin:0 7px 0 0; font-size:11px; line-height:21px; }

/* Rating list */
table.ratings-list tr td{ line-height: 26px; vertical-align: middle; padding: 0 10px 0 0 !important;}

/* product-review-table */
#product-review-table{ 
	th{ font-size: 14px; padding: 8px 10px;}
	td{ 
		text-align: center;
		.radio{ margin-top: 6px;}
	}
	tbody{
		tr{ border-top: 1px solid #E9E9E9;}
	}
}
#review-form{}


.product-options ul.options-list li:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }


/* ======================================================================================= */