/* Shopping Cart ========================================================================= */
.page-title { border-bottom: 3px solid $secondary-color; margin-bottom: 30px;}
.page-title h1 { font-size: 28px; color: $secondary-color; text-transform: uppercase; padding: 40px 0 30px;}

.cart .data-table tr th,
.cart .data-table tr td{ padding:10px 20px;}

.cart .data-table tbody th,
.cart .data-table tbody td{ padding:30px 20px;}

.cart .data-table tbody .product-name a{ font-size: 16px; color: $secondary-color;}

.cart .data-table tr td:first-child{ padding-left:0;}
.cart .data-table tr td:last-child{ padding-right:0;}
/* Checkout Types */
.cart .page-title .checkout-types { display: none;}
.cart .title-buttons .checkout-types { float:right; margin:0;}
.cart .title-buttons .checkout-types li {}
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding:10px 0 0;}

/* Shopping Cart Table */
.cart-table th { padding:2px 10px; }
.cart-table td { padding:10px; }
.cart-table .product-name {}
.cart-table .item-msg { margin:5px 0; font-size:11px; font-weight:bold; color:#df280a; }
.cart-table tfoot td { padding:5px 10px; }
.cart-table .btn-continue { float:left; }
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update span {}
.cart-table .btn-update,
.cart-table .btn-empty { float:right; }
.cart-table .btn-update { margin-left:10px; }

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals {}
.cart .cart-collaterals .col2-set {}
.cart .cart-collaterals .col2-set .col-2 {}

.cart .crosssell { }
.cart .crosssell h2 { font-size: 20px; text-transform: uppercase;}
.cart .crosssell .product-image { float:left; }
.cart .crosssell .product-details {}
.cart .crosssell .product-name { }
.cart .crosssell li.item { margin:12px 0; }
.cart .crosssell .link-compare { font-weight:normal; }

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .shipping .form-list .input-box,
.cart .shipping .form-list select{
	width: 100%;
}
.cart .form-list input.input-text{ width: 50%;}
.cart .discount,
.cart .shipping { margin:0 0 30px; }
.cart .discount h2,
.cart .shipping h2 { text-transform:uppercase; font-size: 20px; border-bottom: 3px solid $secondary-color; padding: 0 0 8px;}
.cart .discount button span,
.cart .shipping button span {}
.cart .discount .buttons-set,
.cart .shipping .buttons-set { margin:10px 0 0; border:0; padding:0; text-align:left; }
.cart .discount .buttons-set button.button,
.cart .shipping .buttons-set button.button { float:none; margin-left:0; }

.cart .discount h2 {}
.cart .discount .input-box { margin:5px 0 0; width:100%; }
.cart .discount input.input-text { width:100%; }

.cart .shipping h2 {}
.cart .shipping .sp-methods { margin:10px 0 0; padding:5px 0 0; }

/* Shopping Cart Totals */
.cart .totals { background:#efefef; padding: 5px 10px 0;}
.cart .totals table { width:100%; margin: 10px 0;}
.cart .totals td { padding:5px 15px 0 5px; font-size: 16px; }
.cart .totals tr.last td {}
.cart .totals tfoot th { padding:5px 15px 5px 7px; }
.cart .totals tfoot td { }
.cart .totals tfoot th strong,
.cart .totals tfoot td strong { font-size:15px; }
.cart .totals .checkout-types { font-size:13px; padding:8px 15px 15px; text-align:right; }
.cart .totals .checkout-types li { clear:both; margin:10px 0; }

/* Options Tool Tip */
.item-options dt { font-weight:bold; font-style:italic; }
.item-options dd { margin:0 0 6px; }
.truncated { cursor:help; }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value { position:relative; z-index:999; }
.truncated .truncated_full_value .item-options { position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid $border-color; background-color:#f6f6f6; }
.truncated .truncated_full_value .item-options > p { font-weight:bold; text-transform:uppercase; }
.truncated .show .item-options { top:-20px; left:50%; }
.col-left .truncated .show .item-options { left:15px; top:7px; }
.col-right .truncated .show .item-options { left:-240px; top:7px; }


/* Generic Info Box */
.info-box { background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px; }
.info-box h2 { font-weight:bold; font-size:13px; }

.info-table th { font-weight:bold; padding:2px 15px 2px 0; }
.info-table td { padding:2px 0; }

/* Shopping cart total summary row expandable to details */
tr.summary-total { cursor:pointer; }
tr.summary-total td {}
tr.summary-total .summary-collapse { float:right; text-align:right; padding-left:20px; background:url(../images/bkg_collapse.gif) 0 5px no-repeat; cursor:pointer; }
tr.show-details .summary-collapse { background-position:0 -52px; }
tr.show-details td {}
tr.summary-details td { font-size:11px; background-color:#dae1e4; color:#626465; }
tr.summary-details-first td { border-top:1px solid #d2d8db; }
tr.summary-details-excluded { font-style:italic; }

/* Shopping cart tax info */
.cart-tax-info { display:block; }
.cart-tax-info,
.cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; background:url(../images/bkg_collapse.gif) 100% 5px no-repeat; cursor:pointer; }
.cart-tax-info .price,
.cart-tax-total .price { display:inline !important; font-weight:normal !important; }
.cart-tax-total-expanded { background-position:100% -52px; }
/* ======================================================================================= */