/* Sidebar =============================================================================== */
.sidebar{ margin-bottom: 40px;}
.block { margin:0 0 30px; }
.block img{ max-width: 100%; height: auto; }
.block .block-title { border-bottom:3px solid $border-color; padding:5px 0;  margin-bottom: 20px; line-height: 1.25; padding: 0 0 8px; }
.block .block-title strong { text-transform:uppercase; font-size: 20px; color: $secondary-color; font-family: 'robotoregular'; font-weight: normal;}
.block .block-title strong span {}
.block .block-title a { text-decoration:none !important; }
.block .block-subtitle { margin:0; padding:5px 0; font-size:1em; }
.block .block-content { }
.block .block-content li.item { 
    padding:8px 0; @include clearfix(); 
    .btn-remove{ margin-top:10px;}
}
.block .block-content .product-name { color:#1e7ec8; }
.block .btn-remove,
.block .btn-edit { float:right; margin:1px 0 2px 5px; }
.block .actions { }
.block .actions a { float:left; }
.block .actions button.button { float:right; }
.block .empty { border: 1px solid #bebebe; border-width: 1px 0; color:#7f7f7f; line-height:68px; margin: 35px 0 }

.block li.odd {}
.block li.even {}

/* Mini Products List */
.mini-products-list .product-image { float:left; margin: 0 12px 0 0;}
.mini-products-list .product-details { overflow: hidden;}
.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small { word-wrap:break-word; }
.block-cart .mini-products-list .product-details .nobr { white-space:normal !important; }

/* Block: Currency Switcher */
.block-currency {}
.block-currency .block-content select { width:100%;}

/* Block: Layered Navigation */
.block-layered-nav {}
.block-layered-nav .block-title {}
.block-layered-nav .block-subtitle { display: none;}
.block-layered-nav .block-content {}
.block-layered-nav dt { 
    padding:10px 26px 14px 0; font-weight:normal; text-transform:uppercase; font-size: 16px; color: $secondary-color; border-bottom: 1px solid #bebebe; position: relative;
    &:last-child{ border-bottom: none;}
    &:before{ 
        content:""; position: absolute; width:25px; height: 25px; right:0; 
        background-color:#ebebeb; cursor: pointer;
        background-image: url(#{$image-url}arrow-smaill.png);
        background-position: 9px -50px;
        background-repeat: no-repeat;
    }
    &.active:before{
        background-position: 10px 9px;
    }
}
.block-layered-nav dd { padding: 0 0 10px; }
.block-layered-nav dd.last { border: none;}
.block-layered-nav .currently li { padding:5px 24px 5px 0; position:relative; z-index:1;}
.block-layered-nav dd li{ border-bottom: 1px solid #e9e9e9; padding: 10px 0 10px 18px; color: #7f7f7f; background: url(#{$image-url}sum.gif) left center no-repeat;}
.block-layered-nav dd li:last-child{ border: none;}
.block-layered-nav dd li a{ font-size: 14px; color: #7f7f7f;}
.block-layered-nav dd li a:hover{ color: $primary-color;}
.block-layered-nav .currently .label { color:#333; padding:0 5px 0 0; font-size: 1em; font-weight: normal;}
.block-layered-nav .currently .value { display:inline-block; vertical-align:middle; }
.block-layered-nav .currently .btn-previous,
.block-layered-nav .currently .btn-remove { position:absolute; right:4px; top:15px; margin:0; }
.block-layered-nav .currently .btn-previous { right:17px; }
.block-layered-nav .actions {}
.block-layered-nav .actions a { float: right;}

/* Block: Cart */
.block-cart .block-title { /*border-bottom:0;*/ }
.block-cart .block-title strong {}
.block-cart .summary { background:#fff; padding:2px 8px 8px; margin:-1px 0 0; position:relative; z-index:1; }
.block-cart .amount { margin:0; }
.block-cart .amount a { font-weight:bold; }
.block-cart .subtotal { margin:5px 0 0; padding:2px 0; background:#fbebd9; text-align:center; }
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions { border-bottom:1px solid $border-color; }
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.block-cart .actions .paypal-logo .paypal-or { clear:both; display:block; padding:0 55px 8px 0; }

/* Block: Wishlist */
.block-wishlist .block-title strong {}
.block-wishlist .actions { text-align:right; }
.block-wishlist .actions a {}

/* Block: Related */
.block-related .block-content #block-related{ max-height: 650px; overflow: hidden; position: relative; }
.block-related .block-title { margin-bottom: 15px;}
.block-related input.checkbox { float: right; margin-top: 0;}

.block-related .item { margin: 25px 0 30px; padding: 0 8px 0 0 !important;}
.block-related .block-subtitle { 
    font-size: 13px; color: #959595;
    border-bottom: 1px solid #bebebe;
    padding: 0 0 13px;
    a{ color: $primary-color;}
}
.block-related .product-name a{
    font-size: 14px; color: $secondary-color;
    display: block; line-height: 1.3;
}
.block-related .link-wishlist{ font-size: 12px; color: #7f7f7f;}
.block-related .price-box{ 
    margin: 3px 0;
}

.sidebar .block-related{ margin-top: -4px;}

/* Block: Compare Products */
.block-compare .block-title strong {}
.block-compare button.button span {}
.page-popup .link-print { background:url(../images/i_print.gif) 0 2px no-repeat; padding:2px 0 2px 25px; font-weight:bold; color:#1e7ec8; }
.compare-table { border:0; }
.compare-table thead tr.first th,
.compare-table thead tr.first td { border:0; background:none; padding:0; font-size:0; line-height:0; }
.compare-table .btn-remove { float:right; background-image:url(../images/btn_remove2.gif); width:72px; height:15px; }
.compare-table tbody th { background:#d9e5ee url(../images/bkg_th-v.gif) 100% 0 repeat-y; }
.compare-table tbody th,
.compare-table tbody td { padding:10px; border:0; border-top:1px solid $border-color; border-left:1px solid $border-color; }
.compare-table tbody td.last { border-right:1px solid $border-color; }
.compare-table tbody tr.last th,
.compare-table tbody tr.last td { border-bottom:1px solid $border-color !important; }
.compare-table tr.add-to-row td { background:#fffada; text-align:center; }
.compare-table tr.first td { text-align:center; }
.compare-table tr.first td .product-name { font-size:13px; font-weight:bold; margin:0 0 5px; color:#203548; }
.compare-table tr.first td .product-name a { color:#203548; }
.compare-table tr.first td .ratings { width:69px; margin:0 auto; }
.compare-table tr.first td p,
.compare-table tr.add-to-row td p { margin:0; }
#compare-items{ margin-bottom: 15px;}
/* Block: Recently Viewed */
.block-viewed .block-title strong {}

/* Block: Recently Compared */
.block-compared .block-title strong {}

/* Block: Poll */
.block-poll .block-title strong {}
.block-poll .block-subtitle { font-size:12px; }
.block-poll label { 
    color: #555555;
    font-weight: normal;
    line-height: 20px; 
}
.block-poll input.radio { float:left; margin-top:1px;}
.block-poll .label { 
    display: block;
    font-size: 100%;
    font-weight: normal;
    margin-left: 18px;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}
.block-poll li { padding:4px 0; }
.block-poll .actions { margin:5px 0 0; }
.block-poll button.button span {}
.block-poll .answer { font-weight:bold; }
.block-poll .votes { float:right; margin-left:10px; }

/* Block: Orders and Returns */
.block-gr-search li { padding:3px 9px; }
.block-gr-search button.button span { border-color:$border-color; background:#618499; }

/* Block: Tags */
.block-tags .block-title strong {}
.block-tags .block-content .tags-list { background:none; border:0; padding: 10px 0;}
.block-tags .block-content .tags-list li { display: inline-block;}
.block-tags .block-content a {}
.block-tags .actions {}
.block-tags .actions a {}


/* Block: Subscribe */
.block-subscribe .block-content { padding:5px 10px; }
.block-subscribe .block-title strong {}
.block-subscribe label { font-weight:bold; color:#666; }
.block-subscribe input.input-text { display:block; width:167px; margin:3px 0; }
.block-subscribe .actions { background:none; padding:0; margin:3px 0 0; text-align:left; }
.block-subscribe .actions button.button { float:none; }
.block-subscribe .actions button.button{ border-color:$border-color; background:#618499; }

/* Block: Reorder */
.block-reorder .block-title strong {}
.block-reorder input.checkbox { float:left; margin:2px -20px 0 0; }
.block-reorder .product-name { margin-left:20px; }
.block-reorder .validation-advice { margin:3px 9px 7px; }

/* Block: Login */
.block-login .block-title strong {}
.block-login .block-content { padding:5px 10px; }
.block-login label { font-weight:bold; color:#666; }
.block-login input.input-text { display:block; width:167px; margin:3px 0; }
.block-login .actions { background:none; padding:0; margin:3px 0 0; }
.block-login .actions button.button span { border-color:$border-color; background:#618499; }

/* Paypal */
.sidebar .paypal-logo { display:block; margin:10px 0; text-align:center; }
.sidebar .paypal-logo a {}
.block .actions:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* BEST SELLERS */
.block-bestsallers .block-content{
    max-height: 648px;
    overflow: hidden;
    position: relative;
}


/* Other */
.p-media .product-meta .price{ color: $primary-color !important;}