/* Pager */
.pager .amount { float:left; margin:0; }
.pager .limiter { float:right; }
.pager .limiter label { vertical-align:middle; }
.pager .limiter select { margin:0 0 1px; vertical-align:middle; }
.pager .pages {}
.pager .pages ol { display:inline; }
.pager .pages li { display:inline; margin:0 1px; }
.pager .pages li a,
.pager .pages .current
{
	height: 25px;
    line-height: 26px;
    width: 25px;
    background: #EBEBEB;
    border: none;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    color: #262626;
}
.pager .pages .current { background: #cacaca;}

/* toolbar-bottom */
.toolbar-bottom{ margin: 55px 0 0;}

/* Fix bt */
.toolbar .pager li > a, .toolbar .pager li > span{
	-webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.toolbar label{ 
	color: #212121;
    font-size: 14px;
    font-weight: normal;
    padding: 0 8px 0 0;
    vertical-align: middle;
}

.toolbar {
	.view-mode { 
		float:left; 
		margin:0 35px 0 0; 
		line-height: 30px;
		label{ float: left;}
		a, strong{ 
			display: block; 
			width: 26px; 
			height: 30px; 
			overflow: hidden; 
			text-indent: 9999em; 
			float: left;
			background-image: url(#{$image-url}toolbar-icons.png);
			background-repeat: no-repeat;
			background-position: 0;
			margin: 0 4px;
		}
		strong.grid{ background-position: 0 -40px;}
		a.grid{ background-position: 0px 7px;}

		strong.list{ background-position: -35px -41px;}
		a.list{ background-position: -35px 7px;}
	}
	.limiter{ float: left;}
	.i-next,.i-previous{ font-size:16px !important;}
}

.sorter .sort-by { float:right; }
.sorter .sort-by label { vertical-align:middle; }
.sorter .sort-by select { margin:0 0 1px; vertical-align:middle; }
.sorter .link-feed {}

/* Toolbar */
.toolbar { 
	border-top: 1px solid #bebebe;
	.sorter {
		border-bottom: 1px solid #bebebe;
		padding: 12px 0;
		margin: 0;
		select {
		    height: 30px;
		    min-width: 100px;
		    font-size: 14px;
		    color: #212121;
		}
	}
	.pager{
		margin: 20px 0 0;
		.pages{
			float: right;
			strong{ display: none;}
		}
	}
	strong{ font-weight: normal;}
}
.toolbar-bottom .hd-b,.toolbar-top .hd-t{ display: none !important;}
.toolbar .pager {}
.toolbar .sorter {}
.toolbar-bottom {
	.pager{ margin: 20px 0;}

}

.toolbar:after,
.sorter:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }