/* typo ================================================================================= */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:$secondary-color; font-family: inherit;}
h1            { font-size:30px; font-weight:normal; }
h2            { font-size:26px; font-weight:normal; }
h3            { font-size:20px; font-weight:normal; }
h4            { font-size:16px; font-weight:normal; }
h5            { font-size:14px; font-weight:normal; }
h6            { font-size:11px; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; margin :0 }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/* ====================================================================================== */
