//
// Variables
// --------------------------------------------------
$image-url :				'../images/';

// Themes colors
// -------------------------
$primary-color :			#fd4a38;
$secondary-color :			#282828;
$threedary-color :			#767676;

$link-color :				#000000;
$link-hover-color :			$primary-color;
$text-color :				$secondary-color;

// Reset
// -------------------------
$body-background :			url(#{$image-url}body.png) repeat;
$page-background :			#fff;
$body-text-align :			left;
$base-font-size :			13px;
$base-line-height :			1.55;
$base-font-family :			robotoregular, Arial, Helvetica, sans-serif;

// Border
// -------------------------
$border-color:				#2e2e2e;
$base-border-color:			#d7d7d7;
$secondary-border-color:	$secondary-color;

// Layout
// -------------------------
$set-margin :				0 0 60px;

// Form
// -------------------------
$button-border-color :		transparent;
$button-background :		$secondary-color;
$button-textcolor :			#fff;

$button-hover-border-color :transparent;
$button-hover-background :	$primary-color;
$button-hover-textcolor :	#fff;

// Messages
// -------------------------
$success-color :			#3d6611;
$success-background :		#eff5ea;

$error-color :				#df280a;
$error-background :			#f16048;

$notice-color :				#e26703;
$notice-background :		#fafaec;

$note-background :			#fafaec;

// header
// -------------------------
$head-background :			#fff;
$head-height :				112px;
$head-color :				$text-color;

// Toplinks
// -------------------------
$toplinks-background :		#fff;
$toplinks-border :			6px solid #e8e8e8;
$toplinks-padding :			10px 0;

$toplinks-fontsize : 		12px;
$toplinks-color : 			#000;
$toplinks-color-hover : 	$primary-color;
$toplinks-link-border :		1px solid #CACACA;

// TopCart
// -------------------------
$topcart-color : 			$primary-color;
$topcart-background :		$secondary-color;
$topcart-border :			1px solid #454545;


// navigation
// -------------------------
/* 0 Level */
$nav-background :			$secondary-color;
$nav-linkcolor :			#fff;
$nav-linkcolor-hover :		$primary-color;
$nav-linkcolor-active :		$primary-color;

/* Child Level */
$nav-child-background :		$secondary-color;
$nav-child-background-hover:$secondary-color;
$nav-child-linkcolor :		#fff;
$nav-child-linkcolor-hover :$primary-color;

// footer
// -------------------------
$footer-background :		$secondary-color;

// product
// -------------------------
$product-name-color :		#000;
$regular-price-color :		#000;
$price-color :				#C77200;	
$minimal-price-color :		#212121;
$old-price-color :			#888;
$price-label-color :		#999999;
$special-price-color :		#000;

// breadcrumbs
// -------------------------
$brc-padding :				40px 0 20px;
$brc-border :				3px solid $secondary-color;
$brc-margin :				0 0 50px;

