@charset "UTF-8";
/* CSS Document */

.pro-intud {line-height:1.7em;}
.pro-intud p {padding:10px 8px; margin:0 0 1.5em;}
.pro-intud h2 {display:block; background:#ccc;color:#666;padding:8px;}
.pro-intud h3 {color:#39F; font-size:1.2em}
.pro-intud h4, .pro-intud h5, .pro-intud h6 {padding:5px 0;}
.pro-intud ul {madgin:10px 0}
.pro-intud ul li {padding:10px 0 0 0}
.pro-intud img{ margin:0 auto ;clear:both;}