.leftCol {
	max-width: 230px;
	width: 230px !important;
	overflow: hidden
}

#faq-info h6 {
	font-size: 15px;
	padding: 14px 14px 7px 14px;
	background: #000;
	color: #fff;
}

ul.faq {
	font-size: 13px;
}

ul.faq li a {
	color: #000;
	display: block;
	min-height: 1.5em;
	line-height: 1.5em;
	padding: 8px 18px;
	background: #fff
}

ul.faq li a:hover,ul.faq li.act a {
	color: #fff;
	background: #e3222e
}

.faq-main-info {
	width: 736px;
	background: #fff;
}

.faq-title {
	background: #d7d7d7;
	line-height: 50px;
	font-size: 16px;
	padding: 0 14px
}

.faq-intro {
	padding: 17px 14px;
	font-size: 13px;
	min-height: 350px
}

.btntop {
	width: 50px;
	height: 50px;
	float: right;
	margin-right: -14px;
}

.btntop a {
	display: block;
	background: #999;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
}

.btntop a:hover {
	background: #e3222e;
	color: #fff
}