/*footer*/
.footer {
	display: block;
	position: relative;
	bottom: 0px;
	width: 980px;
	margin: 0 auto;
	margin-top: 14px;
}

.footerBar-Nav {
	height: 65px;
	background: #555
}

.footerBar-Nav a {
	color: #fff;
}


.footer .sol {
	float: right;
	padding: 21px 21px 0 21px;
}

.footer .sol a {
	
}

.footer .pDiv {
	padding: 0 15px;
}

.footerBar {
	height: 65px;
	background: #555
}

.footerBar a {
	color: #fff;
}

ul.footer-Nav {
	text-align: left;
	display: inline;
	padding: 0px;
	margin: 0;
	height: 65px;
	text-align: center;
	background: #999
}

ul.footer-Nav li a {
	font: 13px/18px sans-serif;
	display: block;
	float: left;
	margin-right: -5px;
	margin-top: 0px;
	padding: 0 10px;
	line-height: 65px;
	background: #555;
	height: 65px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	min-width: 2em;
}

ul.footer-Nav li a:hover {
	background: #e3222e;
	color: #fff;
}

.footer .pDiv {
	font-size: 12px;
	line-height: 35px;
	clear: both;
}

.footer .pDiv a {
	color: #e3222e;
	text-decoration: underline;
	font-size: 12px;
}