/*funtion icon*/
.funtionIcon{ min-height:100px}
.funtionIcon ul{ margin:20px 0 0 3px}
.funtionIcon ul li{
	display: inline-block;
	width: 36px;
	height: 20px; background-position:center center ; background-repeat:no-repeat ; 	
}
.funtionIcon ul li.icon_1{ background-image:url(../imgs/funicon/icon_1.png) ;  }
.funtionIcon ul li.icon_2{ background-image: url(../imgs/funicon/icon_2.png);}
.funtionIcon ul li.icon_3{ background-image:url(../imgs/funicon/icon_3.png)}
.funtionIcon ul li.icon_4{ background-image:url(../imgs/funicon/icon_4.png)}
.funtionIcon ul li.icon_5{ background-image:url(../imgs/funicon/icon_5.png)}
.funtionIcon ul li.icon_6{ background-image:url(../imgs/funicon/icon_6.png)}
.funtionIcon ul li.icon_7{ background-image:url(../imgs/funicon/icon_7.png)}
.funtionIcon ul li.icon_8{ background-image:url(../imgs/funicon/icon_8.png)}
.funtionIcon ul li.icon_9{ background-image:url(../imgs/funicon/icon_9.png)}
/*funtion icon fin*/