#customizeMenu {
	display: none;
}

.header {
	width: 100%;
	margin-bottom: 14px;	
}

.headerBar {
	background-color: #FFFFFF;
	height: 65px;
	width: 100%;
	position: relative;
	display: block;
}

.headerBar .logoIcon {
	left: 0px;
	font-size: 0;
	line-height: 0;
	text-indent: -1000px;
	float: left;
}

.headerBar .logoIcon .logo {
	background: #e3222e url(../settvimgs/logo.png) no-repeat;
	width: 140px;
	height: 65px;
}

.headerBar .menu {
	height: 65px;
	float: left;
}

.headerBar .menu>ul {
	float: left;
	height: 65px;
	padding: 0;
	margin: 0;
}

.headerBar .menu>ul>li {
	height: 65px;
	float: left;
	list-style-type: none;
	border-right: 1px solid #eee;
}
.headerBar .menu a {
	line-height: 20px;
}
.headerBar .menu>ul>li>a {
	display: block;
	padding: 23px 10px 22px 10px;
	color: Black;	
}

.headerBar .menu>ul>li>a.selected:hover {
	color: Black;
}

.headerBar .menu>ul>li>a:hover {
	background: #64584c;color: #fff;
}

.headerBar .menu>ul>li>a.selected {
	background-color: #F8F3F0;
}

.headerBar .menu ul li ul {
	display: none;
	position: absolute;
	background-color: #555;
	width: 100%;
	padding: 0;
	margin: 0;
	left: 0;
}

.headerBar .menu ul li ul li ul li a {	
	padding: 22px 0px ;
	text-align: center;		
}

.headerBar .joinus {
	display: block;
	float: right;
	padding-right: 20px;
}

.headerBar .joinus .joinusItem {
	height: 65px;
}

.headerBar .joinus .joinusItem a {
	color: Black;
}

.headerBar .joinus .joinusItem ul li {
	display: inline;
}

.headerBar .joinus .joinusItem ul li a:hover {
	color: #e3222e;
}

.headerBar .search {
	display: block;
	float: right;
}

.headerBar .search .searchBox {
	height: 65px;
	padding-right: 20px
}

.headerBar .first {
	background: url('../settvimgs/shopping_cart.jpg') no-repeat white;
}

.headerBar .last {
	border-left: 1px solid black;
	margin-left: 5px;
	padding-left: 6px;
}

.headerSubBar .submenu {
	width: 100%;
	position: relative;
}

.arrow-down {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: #F8F3F0 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	position: absolute;
	z-index: 100;
	margin-left: 25px;
}

/*search*/
.searchBox input {
	background: #fafafa;
	border: 1px solid #f5f0ec;
	border-radius: 1px;
	color: #b8b8b8;
	display: block;
	float: left;
	font-size: 13px;
	height: 30px;
	margin: 0;
	padding: 0 10px;
	width: 125px;
	line-height: 30px;
}

.searchBox input::-webkit-input-placeholder {
	color: #b8b8b8;
}

.searchBox input:-moz-placeholder {
	color: #b8b8b8;
}

.searchBox input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	border-color: #f5f0ec;
	color: #888;
	outline: none;
}

.searchBox input:focus::-webkit-input-placeholder {
	color: #888;
}

.searchBox input:focus:-moz-placeholder {
	color: #888;
}

.searchBox button {
	background: #e3222e url(../settvimgs/search.png) no-repeat 5px 5px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #e3222e;
	border-radius: 1px;
	color: #b1a599;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 30px;
	text-indent: -99999px;
}

.searchBox button:hover,.searchBox button:focus {
	background: #e3222e url(../settvimgs/search.png) no-repeat 5px 5px;
	outline: none;
	border: 1px solid #b0101a;
}

.searchBox button:active {
	background: #e3222e url(../settvimgs/search.png) no-repeat 5px 6px;
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}


@-webkit-keyframes glow {
    0% {border-color: #f5f0ec;box-shadow: 0 0 5px rgba(214,203,194,.2), inset 0 0 5px rgba(214,203,194,.1), 0 2px 0 #000;}	
    100% {border-color: #b1a599;box-shadow: 0 0 20px rgba(214,203,194,.6), inset 0 0 10px rgba(214,203,194,.4), 0 2px 0 #000;}}

@-moz-keyframes glow {
    0% {border-color: #f5f0ec;box-shadow: 0 0 5px rgba(214,203,194,.2), inset 0 0 5px rgba(214,203,194,.1), 0 2px 0 #000;}	
    100% {border-color: #b1a599;box-shadow: 0 0 20px rgba(214,203,194,.6), inset 0 0 10px rgba(214,203,194,.4), 0 2px 0 #000;}}

@-o-keyframes glow {
    0% {border-color: #f5f0ec;box-shadow: 0 0 5px rgba(214,203,194,.2), inset 0 0 5px rgba(214,203,194,.1), 0 2px 0 #000;}	
    100% {border-color: #b1a599;box-shadow: 0 0 20px rgba(214,203,194,.6), inset 0 0 10px rgba(214,203,194,.4), 0 2px 0 #000;}}

@-ms-keyframes glow {
    0% {border-color: #f5f0ec;box-shadow: 0 0 5px rgba(214,203,194,.2), inset 0 0 5px rgba(214,203,194,.1), 0 2px 0 #000;}	
    100% {border-color: #b1a599;box-shadow: 0 0 20px rgba(214,203,194,.6), inset 0 0 10px rgba(214,203,194,.4), 0 2px 0 #000;}
}
@keyframes glow {
    0% {border-color: #f5f0ec;box-shadow: 0 0 5px rgba(214,203,194,.2), inset 0 0 5px rgba(214,203,194,.1), 0 2px 0 #000;}	
    100% {border-color: #b1a599;box-shadow: 0 0 20px rgba(214,203,194,.6), inset 0 0 10px rgba(214,203,194,.4), 0 2px 0 #000;}
}

@media (max-width: 1090px) {
  .quickCart {
    display: none;
  }
}

.quickCart {
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: center;
	border: 1px solid #CCCCCC;
	padding: 2px;
}

.quickCart>.shopingInfo {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 30px;
}

.quickCart>.shopingInfo td {
    padding: 2px 0;
}

.quickCart>.shopingInfo .numberFont {
	color: #FF0000;
}

.quickCart>.order {
	background: none repeat scroll 0 0 #e3222e;
	color: white;
	width: 30px;
}

.quickCart>.order td {
    padding: 4px 0;
}

.quickCart>.order a {
	color: white;	
}