.imgAryContainer {
	margin-top: 18px;
}

/* adBlock S */
.adblock {
	overflow: hidden;
	width: 980px; /* 廣告圖片的寬 + 選單圖片最大的寬 */
	height: 400px; /* 廣告圖片的高 */
	/*border: 1px solid #ccc;*/
	position: relative;
}

.adblock ul, .adblock li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.adblock ul.showbox,#adblock ul.link {
	position: absolute;
}

.adblock ul.showbox li {
	border: none;
	vertical-align: middle;
	height: 400px;
	width: 718px;
	display: block;
	overflow: hidden;	
}

.adblock ul.showbox a .adImg {
	height: 100%;
	width: 100%;
}

.adblock ul.link {
	right: 0;
	background: #9F8F7F;
	height: 400px;
}

.adblock ul.link li
{
	position: relative;
}

.adblock ul.link li a { /*display: block;*/
	width: 252px; /* 滑鼠未移入時的選單圖片寬 */
	height: 80px; /* 選單圖片的高 */
	/* position: absolute; */
	text-indent: 20px;
	/*line-height: 80px; 上下*/
	right: 0;
	background-color: #6e6153;
	border-width: 0 0 1px 10px;	
	border-bottom-color: #57503F;
	border-left-color: #64584B;
	border-style: solid;
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	/* IE 垂直置中 */
	*height: auto !important;
	*margin-top: expression(17-this.clientHeight/ 2);	
}

.adblock ul.link li a.selected { /* width: 200px;	 滑鼠移入時的選單圖片寬 */
	/*text-indent: 40px; */
	background-color: #64584B;
	border-color: #64584B;
}
.adblock ul.link li a .arrow-left {
	width: 0px;   height: 0px;   
    border: 40px solid;   
    border-color: transparent #64584B transparent transparent;   
    border-style: dashed solid dashed dashed;   
    position: absolute;   
    z-index: 90;   
    right: 262px;
    display: none;
    top:0px
}
.adblock ul.link li a.selected .arrow-left {	
    display: block;	
}

/* adBlock E */

/* imgAry S */
.imgAry {
	width: 1000px;
	left: -10px;
	padding: 0px;
	margin: 0px;
}

.imgAry .img-small {
	width: 218px;
	height: 218px;
}

.imgAry .img-medium {
	width: 468px;
	height: 218px;
}

.imgAry .img-large {
	width: 468px;
	height: 468px;

}

.imgAry .box {
	margin: 10px;
	padding: 5px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
	line-height: 0px;
}

.imagAry a IMG {
	border: medium none;
}
/* imgAry E */

.alertBar {
	height: 50px;
	background-color: #e3222e;	
	margin-bottom: 14px;
	color: #fff;
}

.alertBar .message  {
	font-size: 16px;
	line-height: 50px;
	margin-right: 55px;
	padding: 0 15px
}

.alertBar .message a {
	color: #fff
}

.alertBar .message a:hover {
	text-decoration: underline;
}

.alertBar .btn {
	width: 50px;
	height: 50px;
	float: right;
}

.alertBar .btn a {
	display: block;
	background: #a61517 url(../settvimgs/btn/tickre_cl.png) center no-repeat;
	width: 50px;
	height: 50px;
}

.alertBar .btn a:hover {
	background: #650b0c url(../settvimgs/btn/tickre_cl.png) center no-repeat;
}

.ui-widget-header {
	border: 0px;
	background: #fff;
	margin-top: 7px;	
}