.loginDiv {
	background: #fff;
	position: relative
}

.loginDiv h1 {
	font-size: 21px;
	text-align: center;
	display: block;
	height: 70px;
	line-height: 70px;
}

.emline {
	width: 830px;
	margin: 0 auto;
	color: #878787
}

.emline em {
	text-align: center
}

.or-split {
	font-size: 12px;
	position: relative;
	width: 100%;
	display: block;
	margin: 10px 0;
}

.or-split:before {
	left: 0;
}

.or-split:after {
	right: 0;
}

.or-split:before,.or-split:after {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 45%;
	background: #d8d8d8;
	top: 9px;
}

.signin {
	margin: 0 auto;
	width: 650px;
}

.signin h5 {
	display: inline-block;
	width: 100px;
	text-align: center;
}

.signin h6 {
	display: block;
	margin: 0 0 15px;
}

.signin input {
	margin: 0 0 15px 10px;
}

.signin textarea {
	margin: 0 0 15px 10px;
	height: auto;
}

.signin input[type="checkbox"] {
	margin: 0 0 0px 10px;
}

.signbox {
	height: 55px;
	line-height: 55px;
	border: 1px solid #f3f3f3;
	width: 475px;
	margin: 0;
	padding: 0 5px;
	background: #fff;
	font-size: 15px;
	padding: 0 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #787878
}

.signin input:focus {
	border-color: #d2d2d2;
	color: #555;
	outline: none;
}

.link-txt {
	margin: 5px 0 15px 100px;
	vertical-align: baseline;
	padding-left: 15px;
}

.link-txt a {;
	color: #878787
}

.link-txt a:hover {
	color: #0088de;
	text-decoration: underline;
	font-size: 13px;
}

.link-txt {
	font-size: 13px
}

.link-txt span a {
	color: #e3222e;
	padding: 0 5px;
}

.link-txt span a:hover {
	color: #e3222e;
	text-decoration: underline
}

.btn {
	margin: 0 0 20px 100px;
	padding-left: 15px;
}

.floatR>.btn {
	margin: 0 auto;
	padding: 0px;
}

.btn a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ed1c24;
	height: 30px;
	width: 100px;
	display: block;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	color: #fff;
	text-shadow: rgba(0, 0, 0, .6) 0 1px 3px;
}

.btn a:hover {
	background: #b32029;
	color: #fff;
}

.signin ul {
	display: block;
}

.signin ul li {
	display: block;
	position: relative;
}

.comtxt_a {
	font-size: 12px;
	color: #878787;
	position: absolute;
	left: 630px;
	top: 10px;
	width: 164px;
	padding: 0 0 0 5px;
	height: 47px;
	line-height: 1.6em;
	top: 10px;
}

.noticeDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 980px;
	height: 70px;
}

.st1 {
	background: #ed1c24;
	height: 70px;
	color: #fff;
	text-align: center;
	line-height: 70px;
	font-size: 16px;
}

.st1 span {
	padding: 0 5px 0 0;
	text-shadow: rgba(0, 0, 0, .6) 0 1px 3px;
}

.mid-canvas {
	padding: 30px 50px 0px 50px;
	background: #FFF;
	position: relative;
	min-height: 250px;
}

.mid-canvas .imgDiv {
	position: absolute;
	top: 108px;
	left: 59px
}

.mid-canvas h3 {
	font-size: 21px;
	padding: 10px 0;
	display: block;
	border-bottom: 1px solid #ccc
}

.mid-canvas h5 {
	padding: 15px 0 0
}

.mid-canvas p {
	font-size: 13px;
	padding: 15px 0 0 0
}

.mid-canvas input {
	height: 45px;
	line-height: 1.7em;
	border: 1px solid #ccc;
	width: 70%;
	margin: 15px 10px 15px 0;
	padding: 0 5px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url(../imgs/bg/ra-bg.png) top;
}