@charset "UTF-8";
body{ background:#f0f0f0}

#bodyDiv{width:980px ; margin:0 auto;}

/*footer*/
footer{}
.footer-Nav{ height:65px; background:#555}
.footer-Nav a{ color:#fff; }
/*ticker*/
.ticker{height:50px; background:#e3222e;color:#fff }
.ticker h1{ font-size:16px ; line-height:50px; margin-right:55px ; ;  padding:0 15px}
.ticker h1 a{color:#fff  }
.ticker h1 a:hover{ text-decoration:underline;}
.ticker .btn{ width:50px ; height:50px; float:right;}
.ticker .btn a{display:block ; background:#a61517 url(../imgs/btn/tickre_cl.png) center no-repeat ;width:50px ; height:50px;}
.ticker .btn a:hover{ background:#650b0c url(../imgs/btn/tickre_cl.png) center no-repeat;}

/*ticker3*/
.ticker3{height:50px; background:#fff;color:#000; margin-bottom:28px;}
.ticker3 h1{ width:610px ; float:left ; height:50px ; display:block ; line-height:50px; text-align:left; padding:0 15px ; font-size:13px}
.ticker3 h1 b{padding:0 5px 0 0}
.ticker3 h1 em{ padding:0 5px; color:#e3222e}

.ticker3 .sel{ background:#fff ; height:50px; color:#000; width:320px;}
.ticker3 .sel h5{ line-height:50px ; padding:0 15px} 
.ticker3 .sel ul{ float:right; padding:13px 40px 0 0 }
.ticker3 .sel li{ float:left ; display: block ; margin:0 5px }
.ticker3 .sel a{text-align:center ; font-size:12px; color:#000;}
.ticker3 .sel a span{ display:block ; width:77px ; line-height:24px; height:24px ;text-align:center  }
.ticker3 .sel a.act span,.ticker3 .sel a span:hover{
background-image: linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -o-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -moz-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -ms-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(204,22,25)),
	color-stop(1, rgb(219,53,56))
); background-color:#da3235;
-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;color:#FFF;
}
/*ticker3 fine*/

/*活動輪播筐*/
.adArea{width:980px ; height:403px; background:#6e6153 }

.imgplace{ position:relative}
.imgplace ul.showImg{ width:716px ; height:403px ; display:block ; overflow:hidden}
.selectUl{
	position: absolute; padding-top:2px;
	display: block;
	right:0;
	top: 0px;
	width: 306px; background:url(../imgs/bg/ulline.png) repeat-y; height:401px;
}
.selectUl li{ height:80px;}
.selectUl a{ color:#FFF ; font-size:15px; transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease ;}
.selectUl .act{ background:url(../imgs/btn/arr2.png)}
.selectUl a span{ display:block ; background: url(../imgs/bg/liline.png) no-repeat bottom; height:55px ; padding:15px 15px 10px 70px; line-height:1.7em}
.selectUl a:hover span{background: url(../imgs/bg/liline.png) repeat-y; }
/*首頁畫布*/
.contant{}


/*首頁區塊相關ＣＳＳ*/
.contant-warp{}




/*輪撥區*/
#adArea{margin:1px auto 0 auto}
#adWindow{
	background-image: url(../images/window.jpg);
	width:622px;height:268px;
	float:left
}
#adArea #ad{
	width:320px;
	height:250px;
	background-color: #e8e8ea;
	border-top: 1px solid #FFF;
	border-right: 1px solid #b5bdc0;
	border-bottom: 1px solid #b5bdc0;
	border-left: 1px solid #FFF;
	padding:5px;
	float:right;
	margin:3px 0 0 0;
}
#ShortcutArea{weight:129px;height:52px;margin-top:5px}
#ShortcutArea .imgfloat{float:left}
#ShortcutBar{
	padding-left:135px
}
#ShortcutBar li{
	float:left;
	margin-left:3px;
	list-style-type: none;
	height:25px;
	margin-bottom:3px
}

#flash_item{height:110px;margin-top:5px}
/**/
.inner {width: 980px;margin: 0 auto ; padding:28px 0 0 0}
.section.first {margin-top: 28px}
.col-a.col-last {float: right}

.ul-style-A{margin-top: 0 ;float: right}
.ul-style-b{margin-top: 0 ;}

.col {float: left;margin-right: 28px}
.col {margin-bottom: 28px}
.col-last {margin-right: 0!important}
li.col {-webkit-font-smoothing: subpixel-antialiased;-webkit-backface-visibility: hidden}
li.col:hover .poster-inner {cursor: pointer;background: #000}
li.col:active .poster-inner {cursor: pointer;background: #000}
li.col:hover .poster-outer {}
li.col:hover img {opacity: .95}
li.col:active img {opacity: .90}

.col-b {width: 224px}
.col-b .poster-inner {height: 215px}

.col-a {width: 476px}
.col-a .poster-inner {height: 378px}
.poster-outer {
	border: #e2e2e2 solid 1px; box-shadow: 0 0 1px 0 rgba(0,0,0,.3);
	transition: all .1s ease;-webkit-transition: all .1s ease;-moz-transition: all .1s ease}
.poster-inner {
	border: 4px white solid;position: relative;overflow: hidden;background: #f5f5f1;
	transition: all .1s ease;-webkit-transition: all .1s ease;-moz-transition: all .1s ease}

.promo-outer {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box ; height:225px ; overflow:hidden;
}
.promo-inner {box-shadow: inset 0 0 10px rgba(0,0,0,.1);-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.1);-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.1);-webkit-transition: all .1s ease
}

.promo-outer:hover>.poster-outer {border-color: #cbd7d8}
.promo-outer:hover {border-color: #cbd7d8}
.promo-outer:hover>.promo-inner {cursor: pointer;background-color: #dae7e8;background-position: 0 0;box-shadow: inset 0 0 10px rgba(0,0,0,.07);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.07);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.07)}
.promo-outer:hover>.promo-inner a {text-decoration: underline}
.promo-outer:active>.promo-inner {background-color: #d2e1e3}


/*--------------產品頁樣板--------------------*/
.productDiv{}
.slide-right{max-width:230px ; width:230px!important; overflow:hidden}
#pro-info{ background:#fff;padding:14px ; width:202px;}
#pro-info h2{color:#3e3e3e; font-size:16px;  line-height:1.3em;min-height:60px; width:190px }
#pro-info .fb{margin:12px 0}
.addhistr a{ background:url(../imgs/btn/faver.png) top left no-repeat ; display:block; width:100px ; height:25px;  width:110px;}
.addhistr a:hover{background:url(../imgs/btn/faver.png) bottom left no-repeat}
#pro-info p{padding:10px 0  35px 0; line-height:1.5em ; font-size:13px; display:block;min-height:2.5em}
#pro-info .fixdiv{padding:10px 0  35px 0; line-height:1.5em ; font-size:16px; display:block; min-height:180px}

/*FAQ*/
#faq-info{ background:#fff;width:230px }
#faq-info h6{ font-size:15px ;padding:14px 14px 7px 14px; background:#000 ; color:#fff}
ul.faq{font-size:13px;}
ul.faq li{padding:0; display:block ; border-bottom:1px solid #efefef}
ul.faq li a{color:#000; display:block;min-height:1.5em; line-height:1.5em ;padding: 8px 18px ; background:#fff}
ul.faq li a:hover,ul.faq li.act a{ color:#fff ; background:#e3222e}
.btntop{ width:50px ; height:50px; float:right; margin-right:-14px;}
.btntop a{display:block ; background:#999 ;width:50px ; height:50px; text-align:center ; color:#fff ;}
.btntop a:hover{ background:#e3222e; color:#fff}

#to-top {};


.pro-price{ font-size:16px ; color:#998d04}
.pro-price  select{ height:23px ; font-size:13px ;  padding:2px}
.pro-price li{ border-top:1px  dotted #fbc3c3 ; display:block ; padding:8px 0}

#pro-info dl{padding:10px 0;text-align:right; font-size:16px; border-top:1px  dotted #fbc3c3}
#pro-info dd{padding:0 0 10px 0; display:block;}
#pro-info dd em{text-decoration:line-through }
#pro-info dt em{ font-size:140%; color:#f78529;padding:10px 0 10px 4px;}
#pro-info .btn { margin:0 0 20px 0 ;}
#pro-info .btn a{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; background:#ed1c24;height:38px; width:200px ; display:block; text-align:center ; line-height:2.5em; font-size:16px ;color:#fff ; margin: 0 auto;  }
#pro-info .btn a:hover{ background:#ffd634 ; color:#7b6c24;} 

#pro-info .btn span{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; background:#CCC;height:38px; width:200px ; display:block; text-align:center ; line-height:2.5em; font-size:16px ;color:#fff ; margin: 0 auto;  }


#pro-info h5{ font-size:18px ; display:block;padding:20px 0 20px 90px; background:url(../imgs/icon/titbg.png) ; height:20px;margin:0 0 15px 0}
#pro-info h5 em{ color:#fa7f35;padding:0 3px}
.ad230x90{margin:14px 0}

/*產品頁*/
.prod-main-info{width:736px ; background:#fff ; }
.prod-Pic-area{height:496px;padding: 17px 14px}
.prod-Pic-area h1{ margin:0 ; padding:0 0 14px 0; color:#e3222e}
.pro-pic{width:590px ; height:443px ; }
.pro-pic img{ border:1px solid #e8e8e8}
.pic-nav{ width:92px; padding-top:16px}
.pic-nav ul{width:90px ; padding:16px 0 0 0;}
.pic-nav ul li{ width:90px ; height:68px; background:#d7d7d7; margin:0 0 16px 0}
.pic-nav ul li a{ opacity:.8;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease}
.pic-nav ul li a:hover{ opacity:1}
.btn-up a ,.btn-down a{width:90px ; height:22px; display:block;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease}
.btn-up a{ background: #e3222e url(../imgs/btn/up.png)}
.btn-up a:hover{background: #d9d9d9 url(../imgs/btn/up.png)}
.btn-down a{background: #e3222e url(../imgs/btn/down.png)}
.btn-down a:hover{background: #d9d9d9 url(../imgs/btn/down.png)}

.pro-titile{ background:#d7d7d7; line-height:50px ; font-size:16px; padding: 0 14px}
.pro-intud{padding: 17px 14px  ; font-size:13px;min-height:350px}

/*運送資訊*/
.shippingInfo{padding:20px 0}
.shippingInfo ul{ width:100%}
.shippingInfo li{ background-color:#fff; float:left ; width:224px  ; height:184px; margin-right:28px; font-size:13px;}
.shippingInfo li h6{ display:block ; width:224px ; height:61px ;}
.shippingInfo li p{padding:10px; line-height:1.6em;font-size:13px;}
.shippingInfo li a{ color:#666 ; background:#FFF;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease ; display:block;width:224px  ; height:184px}
.shippingInfo li a:hover{ background:#daefff ; color:#000}
.shippingInfo li a span{ color:#39F}
.shippingInfo .t1{ background:url(../imgs/shipping/1.png)}
.shippingInfo .t2{background:url(../imgs/shipping/2.png)}
.shippingInfo .t3{background:url(../imgs/shipping/3.png)}
.shippingInfo .t4{background:url(../imgs/shipping/4.png)}
.shippingInfo .fix{ margin-right:0; }

/*次首頁*/
.contant .pic3in1-pic{ height:320px}
.contant .pic3in1-pic ul li{ width:308px;margin-right:28px; float:left;display:block;box-shadow: 0 0 1px 0 rgba(0,0,0,.3)}
.contant .pic3in1-pic ul li a{ display:block; opacity:0.8 ; background:#FFF ;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease ;}
.contant .pic3in1-pic ul li img{border: 5px white solid;}
.contant .pic3in1-pic ul li a:hover{opacity:1}
.contant .pic3in1-pic li.fix{margin-right: 0!important}

/*ticker2*/
.ticker2{height:50px; background:#e3222e;color:#fff; margin-bottom:28px;}
.ticker2 h1{ width:110px ; float:left ; height:50px ; background:#555 ; display:block ; line-height:50px; text-align:center;}
.ticker2 .funDiv{ padding:20px 0 0 125px ; background:url(../imgs/btn/tag.gif) no-repeat 130px 9px}
.ticker2 .funDiv a{ color:#FFF ; font-size:13px ;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;text-shadow: rgba(0, 0, 0, .6) 0 1px 3px;
 }
.ticker2 .funDiv a:hover{text-shadow: rgba(255, 255, 255, .6) 0 1px 3px;
}
.ticker2 .funDiv span{ padding:0 5px;}
.ticker2 .sel{ background:#a61517 ; height:50px; color:#FFF; width:320px;}
.ticker2 .sel h5{ line-height:50px ; padding:0 15px} 
.ticker2 .sel ul{ float:right; padding:13px 40px 0 0 }
.ticker2 .sel li{ float:left ; display: block ; margin:0 5px }
.ticker2 .sel a{text-align:center ; font-size:12px; color:#FFF;}
.ticker2 .sel a span{ display:block ; width:77px ; line-height:24px; height:24px ; }
.ticker2 .sel a.act span,.ticker2 .sel a span:hover{
background-image: linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -o-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -moz-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);
background-image: -ms-linear-gradient(bottom, rgb(204,22,25) 0%, rgb(219,53,56) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(204,22,25)),
	color-stop(1, rgb(219,53,56))
); background-color:#da3235;
-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
}
/*ticker2 fine*/


.pro-list{ clear:both}
.pro-list ul{clear:both ; width:100%}
.pro-list li{ width:224px ; float:left ;  display:block;box-shadow: 0 0 1px 0 rgba(0,0,0,.3); margin: 0 28px 28px 0}
.pro-list li a{ display:block; opacity:0.8 ; background:#FFF ; color:#000 ; padding:5px;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease ;}
.pro-list li a:hover{ opacity:1 ; color:#e3222e}
.pro-list li a h6{ height:40px ; text-align:center ; padding:10px 6px ; line-height:1.4em ; font-size:15px;}
.fixed{margin-right: 0!important}

/*頁籤*/
.pager{ clear:both;}
ul.page-nav{
	margin-bottom: 0;font-size: 13px;padding: 0 8px;list-style: none;position: relative;width:14em; margin:0 auto;vertical-align: middle;
	text-align: center;
	}


ul.page-nav li{ margin: 0;font-weight: bold;display: inline;}
ul.page-nav li a{padding: 0 5px;color:#555}
ul.page-nav li a:hover{ color:#e3222e} 
ul.page-nav li.active a,ul.page-nav a.active {color:#e3222e}
.controls {display: block;clear: both;float: none;width: 76px;padding: 10px 0 0;margin: 0 auto;height:40px;}
.controls a {width: 30px;height: 30px;margin: 0 4px; display:block; float:left}
a.prev{ background:url(../imgs/btn/p_arr.png) left bottom}
a:hover.prev{ background:url(../imgs/btn/p_arr.png) right bottom}
a.next{ background:url(../imgs/btn/p_arr.png) left top}
a:hover.next{ background:url(../imgs/btn/p_arr.png) right top}

/*頁籤 fine*/

/*faq page*/

/*member center*/
.member_ticker , .checkout_ticker{ height:65px ; background:#FFF}
.member_ticker ul{ width:480px ; float:right; padding:25px 0 0 0} 
.member_ticker li{ display:inline-block ; padding:0}
.member_ticker li span{padding:8px 0}
.member_ticker li a{font-size:15px; color:#666; padding:8px;-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #fff;background:#fff;}
.member_ticker li a:hover,.member_ticker li a.act{ background:#c1e8f5;-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #c1e8f5;
}
.titlImg{ background:url(../imgs/member/tit.png) ; width:147px ; height:43px; margin:12px 0 0 18px; float:left}
.men-form{ background:#fff; padding:22px 24px ; border-top:4px solid #eaeaea; min-height:550px}

/*mem-ticker2*/
.mem-ticker2{height:50px; background:#cae2ea;color:#fff; margin-bottom:10px;}
.mem-ticker2 h1{ width:110px ; float:left ; height:50px ; background:#29be99 ; display:block ; line-height:50px; text-align:center;}
.mem-ticker2 a,.user-block h6 a,.men-table a,.user-block-inside h6 a{font-size:12px; color:#6b6b6b; text-decoration:underline}
.mem-ticker2 a:hover,.user-block h6 a:hover,.men-table a:hover,.user-block-inside h6 a:hover{ color:#09C}
.mem-ticker2 div{ margin:0 0 0 120px;padding:17px 0 0 0 }

/*ticker2 fine*/
.men-table{ background:#b8b8b8;font-weight:100 ; color:#3f3f3f ; font-size:13px; text-align:center; border:1px solid #b8b8b8 ; margin:0 0 15px 0;}
.men-table th{ background:#f1f1f1 ; height:50px ;  line-height:50px ; font-weight:100 ; color:#3f3f3f ; font-size:13px;}
.men-table td{ background:#fff;text-align:center ; height:50px;padding:5px}


.user-block{ width:30% ; font-size:13px ; display:inline-block; margin:0 3% 3% 0; min-height: 174px; background: #f1f1f1;}
.user-block h6 span{ display:block; float:left;color:#fff ; height:50px; background:#29be99 ; line-height:50px; font-size:15px ; width:120px ; text-align:center ; margin-right:10px}
.user-block h6 {display:block; height:50px ; background:#c1e8f5}
.user-block h6 a{ line-height:50px;}
.user-block ul{ display:block ; padding:10px ; background:#f1f1f1}
.user-block ul li{ padding:5px ; color:#666}


.messages { height:40px ; background:#eaeaea}
.messages .icon {width:21px ; height:21px;margin:12px 4px 4px 4px}
.messages .i-ok { background:url(../imgs/member/ok.png) ; }
.messages .i-err { background:url(../imgs/member/notice.png) ;}
.messages p { padding:15px 0 0  31px; font-size:13px ; color:#33F }
.messages li { padding:15px 0 0  31px; font-size:13px ; color:#33F }

.user-block-inside{ font-size:13px ; margin:0 3% 3% 0; width:47% ; float:left}
.user-block-inside h6 span{ display:block; float:left;color:#fff ; height:50px; background:#29be99 ; line-height:50px; font-size:15px ; width:120px ; text-align:center ; margin-right:10px}
.user-block-inside h6 {display:block; height:50px ; background:#c1e8f5}
.user-block-inside h6 a{ line-height:50px;}
.user-block-inside ul{ display:block ; padding:10px ; background:#f1f1f1}
.user-block-inside ul li{ padding:5px }


.pt_area_a{  padding:5px; color:#666 ; margin:0 0 10px 0;font-size:13px;min-height:3em; background:#f1f1f1}

.pt_area_a dl{padding:10px}
.pt_area_a dt{padding:0 0 10px 0 ; font-size:15px ; display:block; color:#333 }
.pt_area_a dt span{display:block ; padding:2px 6px 2px 0}
.pt_area_a dt a,.fun-btn a{font-size:12px ;height:25px; line-height:25px; ;color:#333 ; float:left; background:#e8e8e1;padding:0px 8px;-moz-border-radius:10px;-webkit-border-radius:10px;border:1px solid #CCC;}
.pt_area_a dd{ display:block ; clear:left ; padding:5px 0}
ul.fun-btn{ display:block; padding: 0 10px ; border-top:1px dotted #ccc}
ul.fun-btn li{ display:inline-block; }
.fun-btn a:hover{ color:#fff ; background:#f89e2a}
.pt_area_a ul,.pt_area_a ol{padding:10px}
.pt_area_a ul li{padding:5px 0;}

.comTxt{ margin-bottom:10px; color:#666 }
.comTxt span{ color:#36F ; padding:0 .4em}
.lindDot{ border-bottom:1px dotted #CCC ; padding:0 0 10px; color:#09F ; font-size:1.1em !important}
.order-info{color:#666 }
.order-info .mem-ticker2{margin-bottom:0;}
.order-info h6{ font-size:1.2em}
.order-info ul{ display:block ; float:left ; width:48%; padding:1%}
.order-info ul li{ margin:10px; font-size:.9em}
.lindDot{ border-bottom:1px dotted #CCC ; padding:0 0 10px; color:#09F ; font-size:1.1em}
.grayBg{background:#f1f1f1}
.order-info .btn{ text-align:center ; margin:10px 0;height:40px ;}
.order-info .btn a{ display:block ; width:120px ; height:40px ; background:#36f; color:#fff;padding:0px 5px;-moz-border-radius:5px; line-height:40px;
	-webkit-border-radius:5px; font-size:13px;
	border:1px solid #CCC; float:right }
.order-info .btn a:hover{color:#FFF ; background:#7783C7}

.priceTag ol {
	text-align: right;
	padding: 10px 10px 0 0;
	display: block;
	color: #666
}

.priceTag ol li {
	padding: 0 0 10px 0;
	text-decoration: underline;
}
/*右欄 / 2*/
.form_b ul,.form_b ol{display:block; clear:both}
.form_b li{display:block ; margin:10px 0  ; position:relative ; padding:0 0 0 5%;width:45%;float:left}
.form_b ol li{ width:90%; padding:0}
.form_b	li label {display: block;padding: 5px 0px 3px 0px;font: bold 12px arial,sans-serif;color: #333;}
.form_b input{width: 300px;height: 32px;border: 1px solid #B8B8B8;color: #333;font-size: 13px;padding-left: 5px;background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) top;}

.form_b .check{ clear:both; ; padding:0 10px 5px }
.form_b .check input{ background:none ; width:15px  ; border:none ; padding:0 0 0 0 ; height: 15px;}


.Addressform h5 {
	display: block;
	padding: 0px 0 0px 10px;
	font-size: 16px;
}

.Addressform ul input {
	width: 250px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Addressform label {
	display: block;
	min-width: 60px;
	padding: 8px 20px 0 5px;

}

.Addressform select {
	width: 250px;
	height: 32px;
	border: 1px solid #B8B8B8;
	color: #333;
	font-size: 13px;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/**/

/*member center fin*/

/*Payment*/
.titlImg2{ background:url(../imgs/member/tit2.png) no-repeat; width:147px ; height:43px; margin:12px 0 0 18px; float:left}
.checkout_ticker ul{ width:745px ; float:right; padding:25px 0 0 0} 
.checkout_ticker li{ display:inline-block ; padding:0 10px ; color:#8a8a8a; }
.checkout_ticker li span{padding:8px 0 ; font-size:9px ; font-family:"MS Serif", "New York", serif}
.checkout_ticker li a{font-size:15px; color:#8a8a8a; padding:8px;}
.checkout_ticker li a:hover,.checkout_ticker li a.act{ color:#e3222e;
}

.paymentstyle .btn{ text-align:center ; margin:10px 0;height:40px ;}
.paymentstyle .btn a{ display:block ; width:120px ; height:40px ; background:#36f; color:#fff;padding:0px 5px;-moz-border-radius:5px; line-height:40px;
	-webkit-border-radius:5px; font-size:13px;
	border:1px solid #CCC;  margin:0 auto;}
.paymentstyle h3{ margin-bottom:10px ; font-size:16px}
.paymentstyle .btn a:hover{ background:#e3222e}

.payment-form{margin:10px 0;background: #ecf3f9;}

.payment-form h6{padding: 0px 0 0 30px;font-size: 16px;}
.payment-form h4{padding: 15px 20px 0 30px;font-size: 13px; color:#666 ; display:block ; float:left}
.payment-form .bgColor_1 label {display: block;min-width: 80px;padding: 10px 20px 0 30px; font-size:13px}
.payment-form .bgColor_2 label {display: block;min-width: 80px;padding: 10px 20px 0 30px; font-size:13px}
.payment-form .bgColor_1 select {height: 32px;padding-left: 5px;margin: 10px 0 0 30px;}
.payment-form .bgColor_2 select {height: 32px;padding-left: 5px;margin: 0px;}

.input-box input {height: 32px;padding-left: 5px;margin: 0px 0 0 30px; width:250px;"}
.form_b ul,.form_b ol {display:block; clear:both}

.buyer-info-ul {clear:both; }
.buyer-info-ul li  {width: 45%; position: relative; float: left; }
.buyer-info-ul .fields {padding-top: 2px;}
.buyer-info-ul .wide {padding-top: 2px;}
#Bjq_city select {height: 32px; padding-left: 5px; margin: 0px 0 0 30px; width:250px;}
#Bjq_city {padding-top: 2px;}
#Bjq_region select {height: 32px; padding-left: 5px; margin: 0px 0 0 30px; width:250px;}
#Bjq_region {padding-top: 2px;}
#Bjq_zip input {height: 32px; padding-left: 5px; margin: 0px 0 0 30px; width:250px;}
#Bjq_zip {padding-top: 2px;}
#Sjq_city select {height: 32px; padding-left: 5px; margin: 0px 0 0 30px; width:250px;}
#Sjq_city {padding-top: 2px;}
#Sjq_region select {height: 32px; padding-left: 5px; margin: 0px 0 0 30px; width:250px;}
#Sjq_region {padding-top: 2px;}
#Sjq_zip input {height: 32px; padding-left: 5px; margin: 0px 0 0 30px; width:250px;}
#Sjq_zip {padding-top: 2px;}


.payment-form ul li{display:block; padding:15px 0 0 0 ;}
.payment-form  .bgColor_1{ background:url(../imgs/bg/dotted.gif) repeat-x; padding-bottom:15px}
.payment-form  .bgColor_2{ background:url(../imgs/bg/dotted.gif) repeat-x #efefef; padding-bottom:15px}
.payment-form  .bgColor_2 ul{ display:block;padding:0 0 0 30px; color:#666 ; font-size:13px}
.payment-form  .bgColor_2 ul li{ float:left;padding:0px 10px 5px 5px;}
.payment-form  .bgColor_2 ul li input{ margin-right:5px}
.payment-form .form{font-size: 15px;}
.payment-form  .form label{ display:block ; width:60px ; padding:8px 20px 0 10px ; float:left;
text-align:right}
.payment-form  .form label span{ color:#F00}
.payment-form  .form ul input{ width:250px;border: 1px solid #B8B8B8;color: #333;padding-left: 5px;background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) bottom; height:32px;}
.payment-form  .form h6{display:block; padding:0px 0 0px 30px; font-size:18px;}
.payment-form  .form ul{ margin:10px 0}
.payment-form  .form ul li{padding:10px 0 ; float:left; width:370px}
.payment-form  .form select{ height:32px;padding-left: 5px; margin:10px 0 0 0}
.btn-same{padding:10px 10px 10px 90px; color:#666 ; font-size:13px}

.payment-form  .form dl{ margin:0 0 10px 0 ;}
.payment-form  .form dd{padding:10px 0 ; float:left ; width:180px}
.payment-form  .form dt{padding:10px 0 ; clear:both}
.payment-form  .form dt input{border: 1px solid #B8B8B8;color: #333;padding-left: 5px;background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) bottom; height:32px;}
.payment-form  .form dt input.text{ width:325px;border: 1px solid #B8B8B8;color: #333;padding-left: 5px;background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) bottom; height:32px;}


.payment{padding:20px ; margin:;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;background:#efefef  }
.payment h6{line-height:2em; font-size:15px}
.payment ul li{ display:block ; padding:5px 0  ; font-size:13px}
.payment ul li span{ color:#ff6611 ; padding: 0 .5em}
.finish{padding:20px ; margin:0 20px;border: 1px solid #ecf3f9;color:#666;background:#ecf3f9 ;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.finish H3{ font-size:21px;  display:block ; padding:0 0 15px;color:#333;}
.finish H4{ font-size:13px; color:#666; display:block ; padding:0 0 15px}
.finishlink{ font-size:13px ; background:url(../imgs/bg/dotted.gif) top repeat-x ; padding:15px 0 0 0}
.finish a{ color:#e3222e}
.finish a:hover{ text-decoration:underline;}
.finishlink a{color:#333}
/*Payment fin*/

/*funtion icon*/
.funtionIcon{ min-height:100px}
.funtionIcon ul{ margin:0 0 0 3px}
.funtionIcon ul li{
	display: inline-block;
	width: 36px;
	height: 20px; background-position:center center ; background-repeat:no-repeat ; 	
}
.funtionIcon ul li.icon_1{ background-image:url(../imgs/funicon/icon_1.png) ;  }
.funtionIcon ul li.icon_2{ background-image: url(../imgs/funicon/icon_2.png);}
.funtionIcon ul li.icon_3{ background-image:url(../imgs/funicon/icon_3.png)}
.funtionIcon ul li.icon_4{ background-image:url(../imgs/funicon/icon_4.png)}
.funtionIcon ul li.icon_5{ background-image:url(../imgs/funicon/icon_5.png)}
.funtionIcon ul li.icon_6{ background-image:url(../imgs/funicon/icon_6.png)}
.funtionIcon ul li.icon_7{ background-image:url(../imgs/funicon/icon_7.png)}
.funtionIcon ul li.icon_8{ background-image:url(../imgs/funicon/icon_8.png)}
.funtionIcon ul li.icon_9{ background-image:url(../imgs/funicon/icon_9.png)}
/*funtion icon fin*/