.memberArea {
	background: #fff;
}

#mem-slide-show {
	height: 136px;
	position: relative;
	background: #9d9d9d
}

.mem-icon-image {
	background: url(../imgs/default/ist_r.png);
	width: 78px;
	height: 78px;
	position: absolute;
	left: 50px;
	top: 51px;
}

.program_a {
	background: url(../imgs/bg/grid.gif);
	margin: 0 0 10px 0;
	padding: 18px 0 0 0;
	height: 92px;
}

/* 上方形象圖 fine */
.membDiv {
	background: url(../imgs/bg/membbg.gif) 5px top repeat-y;
	padding: 15px 10px;
	width: 940px;
	margin: 15px auto;
	border-top: 1px solid #CCC
}

.pageTab {
	padding: 15px 0 0 12px
}

.mem_clum_l {
	float: left;
	width: 192px;
}

.mem_clum_l h3 {
	font-size: 21px;
	color: #464040;
	margin-bottom: 20px;
}

.mem_menu {
	padding: 0;
	display: block;
}

.mem_menu a {
	color: #333
}

.mem_menu a:hover {
	color: #e13127
}

.mem_menu li {
	display: block;
	min-height: 19px;
	font-size: 16px;
	padding: 5px 3px 5px 15px;
	margin: 0 0 9px 0
}

.mem_menu .act {
	background: url(../imgs/icon/arrBg.png) center 0px no-repeat;
	color: #fff;
}

.mem_menu .act a {
	color: #FFF
}

.mem_menu dl {
	display: block;
	color: #333;
	clear: left;
	font-size: 13px;
}

.mem_menu dd {
	display: block;
	padding: 5px 10px;
	margin: 0px;
	border-left: 2px solid #e13127;
}

.mem_menu .act dd a {
	color: #333
}

.mem_menu .act dd a:hover {
	text-decoration: underline;
	color: #e13127
}

.okArea {
	background: #BFE3F1 url(../imgs/icon/ok.png) 10px 9px no-repeat;
	border: 1px solid #96bdcc;
	margin: 10px auto 10px auto;
	font-size: 15px;
	color: #006cff;
	min-height: 20px;
	padding: 10px 5px 5px 40px;
	width: 915px
}

/*右欄*/
.mem_clum_r {
	padding: 0 0 0 192px
}

.mem_clum_r h3 {
	font-size: 21px;
	color: #464040;
	margin-bottom: 20px;
}

.form_a {
	
}

.form_a ul {
	display: block;
}

.form_a li {
	display: block;
	margin: 10px 0;
	position: relative;
	padding: 0 0 0 10px;
}

.form_a	li label {
	display: block;
	padding: 5px 0px 3px 0px;
	font: bold 12px arial, sans-serif;
	color: #333;
}

.form_a input {
	width: 300px;
	height: 32px;
	border: 1px solid #B8B8B8;
	color: #333;
	font-size: 13px;
	padding-left: 5px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../imgs/bg/ra-bg.png) top;
}

.extraTxt {
	color: #606060;
	padding: 2px 0 0
}

.error {
	background: url(../imgs/icon/error_form.png) no-repeat;
	display: block;
	position: absolute;
	top: 30px;
	left: 320px;
	width: 17px;
	height: 17px;
}

.form_btn {
	padding: 10px
}

.form_btn a {
	background: url(../imgs/btn/form_btnbg.png);
	height: 40px;
	display: inline-block;
	width: 96px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	border: 1px solid #c4352c;
	line-height: 3em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.form_btn a:hover {
	color: #FC3
}

/*右欄 / 2*/
.form_b ul,.form_b ol {
	display: block;
	clear: both
}

.form_b li {
	display: block;
	margin: 10px 0;
	position: relative;
	padding: 0 0 0 10px;
	width: 49%;
	float: left
}

.form_b ol li {
	width: 90%
}

.form_b	li label {
	display: block;
	padding: 5px 0px 3px 0px;
	font: bold 12px arial, sans-serif;
	color: #333;
}

.form_b input {
	width: 300px;
	height: 32px;
	border: 1px solid #B8B8B8;
	color: #333;
	font-size: 13px;
	padding-left: 5px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../imgs/bg/ra-bg.png) top;
}

.form_b select {
	width: 80px;
	height: 32px;
	border: 1px solid #B8B8B8;
	color: #333;
	font-size: 13px;
	padding-left: 5px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../imgs/bg/ra-bg.png) top;
}

.form_b .check {
	clear: both;;
	padding: 0 10px 5px
}

.form_b .check input {
	background: none;
	width: 15px;
	border: none;
	padding: 0 0 0 0;
	height: 15px;
}

/**/
.clum2in1 {
	float: left;
	width: 364px;
	padding: 0 20px 0 0
}

.clum2in2 {
	float: left;
	width: 364px
}

.clum_all {
	width: 748px;
	float: left;
}

.clum_all h4,.clum_all p {
	font-size: 13px;
}

.clum_all h5 {
	font-size: 15px;
	margin: 10px 0 5px 0;
	display: block;
	height: 20px;
	padding: 5px 0
}

.clum_all h5 span {
	display: block;
	float: left;
	padding: 2px 6px
}

.clum_all h5 a {
	font-size: 12px;
	color: #fff;
	float: left;
	background: #36f;
	padding: 0px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
}

.clum_all a.btnstyle {
	font-size: 12px;
	color: #fff;
	float: right;
	background: #36f;
	padding: 4px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dddddd;
	display: block;
	width: 120px;
	text-align: center;
	height: 1.7em;
	margin: 0 auto;
}

.clum_all h5 a:hover,.clum_all a.btnstyle:hover {
	color: #FFF;
	background: #f89e2a
}

.clum_all .hitxt {
	padding: 5px;
	border: 1px solid #A6BFF3;
	background: #ECF3FF;
	margin: 0 0 10px 0
}

.clum_all .hitxt p {
	
}

.clum_all .hitxt h4 span {
	color: #36F
}

.clum_all table {
	background-color: #ccc;
	font-size: 13px;
	color: #333;
	border-collapse: separate;
	border-spacing: 1px;
	border-color: gray;
}

.clum_all em {
	font-size: 11px
}

.clum_all th {
	background: #E1EBFF;
	color: #0192B5;
	padding: 5px 3px;
	text-align: left;
	font-weight: normal
}

.clum_all td {
	background: #fff;
	padding: 5px 3px
}

.clum_all td h6 {
	color: #F60;
	display: block;
	padding: 10px 0 0 0
}

.clum_all table a {
	color: #06F;
	text-decoration: underline;
}

.lineDiv {
	border-bottom: 1px solid #CCC;
	display: block;
	height: 1px
}

.paragDiv {
	margin: 0 0 15px;
}

.twoCol {
	width: 50%;
}

.parag_a {
	padding: 0 5px 10px 5px
}

.pt_area {
	border: 1px solid #F5F5F1;
	background: #F5F5F1;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #4e4e4e;
	margin: 0 0 3px 0;
	font-size: 13px;
	min-height: 3em;
}

.pt_area_a {
	border: 1px solid #F5F5F1;
	background: #F5F5F1;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	margin: 0 0 10px 0;
	font-size: 13px;
	min-height: 3em;
}

.pt_area_a dl {
	padding: 10px
}

.pt_area_a dt {
	padding: 0 0 10px 0;
	font-size: 15px;
	display: block;
	color: #333
}

.pt_area_a dt span {
	display: block;
	padding: 2px 6px 2px 0
}

.pt_area_a dt a,.fun-btn a {
	font-size: 12px;
	color: #333;
	float: left;
	background: #e8e8e1;
	padding: 0px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
}

.pt_area_a dd {
	display: block;
	clear: left;
	padding: 5px 0
}

ul.fun-btn {
	display: block;
	padding: 0 10px;
	border-top: 1px dotted #ccc
}

ul.fun-btn li {
	display: inline-block;
}

.fun-btn a:hover {
	color: #fff;
	background: #f89e2a
}

.pt_area_a ul,.pt_area_a ol {
	padding: 10px
}

.pt_area_a ul li {
	padding: 5px 0;
}

#primary_billing {
	width: 15px;
	height: 15px;
}

#primary_shipping {
	width: 15px;
	height: 15px;
}

.priceTag {
	margin: 10px 0px 10px 0px;
}

.priceTag ol {
	text-align: right;
	padding: 10px 10px 0 0;
	display: block;
	color: #666
}

.priceTag ol li {
	padding: 0 0 10px 0;
	text-decoration: underline;
}

.priceTag ol li span {
	color: #000;
	font-size: 100%
}

/*購買流程*/
.Purchase-process {
	padding: 0 0 15px 0;
	margin: 0 auto;
	width: 800px;
}

.processTitle {
	background: url(../imgs/bg/dotted.gif) bottom repeat-x;
	height: 48px;
	color: #999
}

.processTitle li {
	display: inline-block;
	width: 20%;
	padding: 1.3em 0 0 3%;
	font-size: 16px;
}

.processTitle .act {
	color: #ff6018
}

.Purchaseform {
	padding: 25px 0 0 0
}

.Purchaseform .notice {
	font-size: 13px;
	padding: 0 0 25px 0
}

.Purchaseform .notice span {
	padding: 8px 0 0 0;
	display: block;
}

.Purchaseform .notice h2 {
	font-size: 18px;
	color: #464040;
	display: block;
}

.Purchaseform .notice a {
	color: #f44238
}

.Purchaseform  table {
	background-color: #ccc;
	font-size: 13px;
	color: #333
}

.Purchaseform  em {
	font-size: 11px
}

.Purchaseform  th {
	background: #E1EBFF;
	color: #0192B5;
	padding: 5px 3px;
	text-align: left;
	font-weight: normal
}

.Purchaseform  td {
	background: #fff;
	padding: 5px 3px
}

.Purchaseform  td h6 {
	color: #F60;
}

.Purchaseform  td h5 {
	color: #f44238;
}

.Purchaseform  table a {
	color: #06F;
	text-decoration: underline;
}

.Purchaseform  a.btnstyle {
	font-size: 12px;
	color: #fff;
	background: #36f;
	padding: 4px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dddddd;
	display: block;
	width: 120px;
	text-align: center;
	height: 1.7em;
	margin: 0 auto;
}

.Purchaseform .btnbox {
	padding: 10px 0;
	text-align: right;
}

.Purchaseform  a:hover.btnstyle {
	color: #FFF;
	background: #f89e2a
}

.Purchaseform .leftcont {
	width: 50%;
	float: left
}

.Purchaseform .linebox {
	background: url(../imgs/bg/dotted.gif) top repeat-x;
	padding: 15px 0
}

.Purchaseform .rightcont {
	float: right;
	width: 50%;
}

.Purchaseform .form {
	font-size: 15px;
}

.Purchaseform .form label {
	display: block;
	min-width: 80px;
	padding: 8px 20px 0 10px;
	float: left;
	text-align: right
}

.Purchaseform .form label span {
	color: #F00
}

.Purchaseform .form ul input {
	width: 250px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
}

.Purchaseform .form ul select {
	width: 250px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-radius: 5px;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
}

.Purchaseform .form ul input.checkbox {
	width: 20px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Purchaseform .form h6 {
	padding: 0px 0 0 30px;
	font-size: 18px;
}

.Purchaseform .form ul {
	margin: 25px 0;
	clear: both;
}

.Purchaseform .form ul li {
	padding: 10px 0;
	float: left;
	width: 370px
}

.Purchaseform .form select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 0
}

.Purchaseform .form .input-box select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 20px
}

.Purchaseform .form2 .adre-book select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 20px
}

.btn-same {
	padding: 10px 10px 10px 90px;
	color: #666;
	font-size: 13px
}

.Purchaseform .form dl {
	margin: 0 0 10px 0;
}

.Purchaseform .form dd {
	padding: 10px 0;
	float: left;
	width: 180px
}

.Purchaseform .form dt {
	padding: 10px 0;
	clear: both
}

.Purchaseform .form dt input {
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Purchaseform .form dt input.text {
	width: 325px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Purchaseform .form2 {
	padding: 0 0 0
}

.Purchaseform .form2 h6 {
	font-size: 16px;
	padding: 0 0 0 30px
}

.Purchaseform .form2 label {
	display: block;
	min-width: 60px;
	padding: 0 20px 0 10px;
	float: left;
	text-align: right
}

.btn-same2 {
	padding: 20px 10px 20px 0px;
	color: #666;
	font-size: 13px
}

.btn-same3 {
	padding: 20px 10px 20px 30px;
	color: #666;
	font-size: 13px
}

.btn-same2 h4 {
	display: block;
	width: 60px;
	padding: 0 20px 0 10px;
	float: left;
	text-align: right
}

.btn-same2 ul {
	display: block;
	float: left;
}

.btn-same2 ul li {
	display: block;
	float: left;
	width: 120px
}

.bgcolor {
	background: url(../imgs/bg/dotted.gif) top repeat-x #ecf3f9;
	padding: 15px 0;
	color: #555555
}

.bgcolor h6 {
	color: #1b325f
}

.bgcolor2 {
	background: url(../imgs/bg/dotted.gif) top repeat-x #efefef;
	padding: 15px 0
}

.adre-book {
	float: left;
}

.Purchaseform .adre-book select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 0
}

.payment {
	padding: 20px;
	margin: 0 20px;
	border-radius: 10px;
	background: #efefef;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.payment h6 {
	line-height: 2em;
	font-size: 15px
}

.payment ul li {
	display: block;
	padding: 5px 0;
	font-size: 13px
}

#cashblock {
	padding: 5px 0 0px 30px;
	font-size: 13px
}

.finish {
	padding: 20px;
	margin: 0 20px;
	border: 1px solid #ecf3f9;
	color: #666;
	background: #ecf3f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.finish H3 {
	font-size: 21px;
	display: block;
	padding: 0 0 15px;
	color: #333;
}

.finish H4 {
	font-size: 13px;
	color: #666;
	display: block;
	padding: 0 0 15px
}

.finishlink {
	font-size: 13px;
	background: url(../imgs/bg/dotted.gif) top repeat-x;
	padding: 15px 0 0 0
}

.finish a {
	color: #09F
}

.finish a:hover {
	text-decoration: underline;
}

.finishlink a {
	color: #333
}

.finish1 {
	padding: 20px;
	border: 1px solid #ecf3f9;
	color: #666;
	background: #ecf3f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.roundconnerBg {
	background: #ecf3f9;
	width: 95%;
	margin: 0 auto;
	padding: 20px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Addressform h5 {
	display: block;
	padding: 0px 0 0px 10px;
	font-size: 16px;
}

.Addressform ul {
	margin: 5px 0;
	clear: both;
}

.Addressform ul li {
	padding: 10px 0;
	float: left;
	width: 350px
}

.Addressform ul input {
	width: 250px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Addressform label {
	display: block;
	min-width: 60px;
	padding: 8px 20px 0 5px;
	float: left;
	text-align: right
}

.Addressform select {
	width: 250px;
	height: 32px;
	border: 1px solid #B8B8B8;
	color: #333;
	font-size: 13px;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.clause-div {
	padding: 0 0 15px 0;
	margin: 0 auto;
	width: 850px;
	line-height: 2em
}

.clause-div h1 {
	font-size: 16.0pt;
	display: block;
	padding: 20px 0 10px 0;
	text-align: center;
	border-bottom: 1px solid #CCC
}

.clause-div h5 {
	color: #006699;
	font-size: 18px;
	display: block;
	padding: 10px 0 5px 0
}

.clause-div p {
	font-size: 13px
}

.clause-div div {
	padding: 0 0 20px 2em;
	font-size: 13px
}

.clause-div div span {
	display: block;
	float: left;
}

.clause-div div p {
	padding: 0 0 0 2.5em
}

.clause-div ol {
	list-style-type: decimal;
	padding: 0 0 0 4.5em;
}

.clause-div h6 {
	padding: 0 0 0 3em
}

.clause-div ul.style-a {
	display: block;
	height: auto;
	padding: 0 0 0 3em
}

.clause-div ul.style-a li {
	display: block;
	float: left;
	padding: 0 10px 0 0
}

.clause-div ul.style-b {
	display: block;
	height: auto;
	padding: 0 0 0 1.2em
}

.clause-div ul.style-b li {
	
}

.clause-div ul.style-b p {
	padding: 0 0 0 1.5em
}

.clause-div dd {
	padding: 0 0 0 2.5em
}

.clause-div dt {
	color: #006699;
	font-size: 15px;
	display: block;
	padding: 5px 0 0 0
}

.pageTab a {
	color: #555
}

.pageTab ul li {
	display: inline;
}

.pager {
	text-align: center;
}

.pager ul li {
	display: inline;
}
