.pager {
	text-align: center;
	clear: both;
}

ul.page-nav {
	display: inline-block;
	margin: 0;
	padding: 0;
	/* For IE, the outcast */
	zoom: 1;
	*display: inline;
}

ul.page-nav li,extend {
	margin: 0;
	font-weight: bold;
	display: inline;
}

ul.page-nav li a:hover,.extend a:hover {
	color: #e3222e;
}

ul.page-nav li a,.extend a {
	padding: 0 5px;
	color: #555;
}

ul.page-nav li.active {
	color: #e3222e;
}

.controls {
	display: block;
	clear: both;
	float: none;
	width: 76px;
	padding: 10px 0 0;
	margin: 0 auto;
	height: 28px;
}

.controls a {
	width: 30px;
	height: 30px;
	margin: 0 4px;
	display: block;
	float: left;
}

a.prev {
	background: url(../settvimgs/btn/p_arr.png) left bottom;
}

a:hover.prev {
	background: url(../settvimgs/btn/p_arr.png) right bottom;
}

a.next {
	background: url(../settvimgs/btn/p_arr.png) left top;
}

a:hover.next {
	background: url(../settvimgs/btn/p_arr.png) right top;
}