/*--------------產品頁樣板--------------------*/
.productDiv {
	
}

.slide-right {
	max-width: 230px;
	width: 230px !important;
	overflow: hidden
}

#pro-info {
	background: #fff;
	padding: 14px;
	width: 202px;
}

#pro-info h2 {
	color: #3e3e3e;
	font-size: 16px;
	line-height: 1.3em;
	min-height: 60px;
	width: 190px
}

#pro-info .fb {
	margin: 12px 0
}

.addhistr a {
	background: url(../imgs/btn/faver.png) top left no-repeat;
	display: block;
	width: 100px;
	height: 25px;
	width: 110px;
}

.addhistr a:hover {
	background: url(../imgs/btn/faver.png) bottom left no-repeat
}

#pro-info p {
	padding: 10px 0 0px 0;
	line-height: 1.5em;
	font-size: 13px;
	display: block;
	min-height: 2.5em
}

#pro-info .fixdiv {
	padding: 10px 0 35px 0;
	line-height: 1.5em;
	font-size: 16px;
	display: block;
	min-height: 180px
}

.pro-price {
	font-size: 16px;
	color: #998d04
}

.pro-price  select {
	height: 23px;
	font-size: 13px;
	padding: 2px
}

.pro-price li {
	border-top: 1px dotted #fbc3c3;
	display: block;
	padding: 8px 0
}

#pro-info dl {
	padding: 10px 0;
	text-align: right;
	font-size: 16px;
	border-top: 1px dotted #fbc3c3
}

#pro-info dd {
	padding: 0 0 10px 0;
	display: block;
}

#pro-info dd em {
	text-decoration: line-through
}

#pro-info dt em {
	font-size: 140%;
	color: #f78529;
	padding: 10px 0 10px 4px;
}

#pro-info .btn a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ed1c24;
	height: 38px;
	width: 200px;
	display: block;
	text-align: center;
	line-height: 2.5em;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
}

#pro-info .btn a:hover {
	background: #ffd634;
	color: #7b6c24;
}

#pro-info .btn span {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #CCC;
	height: 38px;
	width: 200px;
	display: block;
	text-align: center;
	line-height: 2.5em;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
}

.ad230x90 {
	margin: 14px 0
}

/*產品頁*/
.prod-main-info {
	width: 736px;
	background: #fff;
}

.prod-Pic-area {
	padding: 17px 14px;
	min-height: 496px;
}

.prod-Pic-area h1 {
	margin: 0;
	padding: 0 0 14px 0;
	color: #e3222e
}

.pro-pic {
	width: 590px;
	height: 443px;
}

.pro-pic img {
	border: 1px solid #e8e8e8
}

.pic-nav {
	width: 92px;
	padding-top: 16px
}

.pic-nav ul {
	width: 90px;
	padding: 16px 0 0 0;
}

.pic-nav ul li {
	width: 90px;
	height: 68px;
	background: #d7d7d7;
	margin: 0 0 16px 0
}

.pic-nav ul li a {
	opacity: .8;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease
}

.pic-nav ul li a:hover {
	opacity: 1
}

.btn-up a,.btn-down a {
	width: 90px;
	height: 22px;
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease
}

.btn-up a {
	background: #e3222e url(../settvimgs/btn/up.png)
}

.btn-up a:hover {
	background: #d9d9d9 url(../settvimgs/btn/up.png)
}

.btn-down a {
	background: #e3222e url(../settvimgs/btn/down.png)
}

.btn-down a:hover {
	background: #d9d9d9 url(../settvimgs/btn/down.png)
}

.pro-titile {
	background: #d7d7d7;
	line-height: 50px;
	font-size: 16px;
	padding: 0 14px
}

.pro-intud {
	padding: 17px 14px;
	font-size: 13px;
	min-height: 350px
}

/*運送資訊*/
.shippingInfo {
	padding-top: 20px;
	padding-bottom: 190px
}

.shippingInfo ul {
	width: 100%
}

.shippingInfo li {
	background-color: #fff;
	float: left;
	width: 224px;
	height: 184px;
	margin-right: 28px;
	font-size: 13px;
}

.shippingInfo li h6 {
	display: block;
	width: 224px;
	height: 61px;
}

.shippingInfo li p {
	padding: 10px;
	line-height: 1.6em;
	font-size: 13px;
}

.shippingInfo li a {
	color: #666;
	background: #FFF;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	display: block;
	width: 224px;
	height: 184px
}

.shippingInfo li a:hover {
	background: #daefff;
	color: #000
}

.shippingInfo li a span {
	color: #39F
}

.shippingInfo .t1 {
	background: url(../settvimgs/shipping/1.png)
}

.shippingInfo .t2 {
	background: url(../settvimgs/shipping/2.png)
}

.shippingInfo .t3 {
	background: url(../settvimgs/shipping/3.png)
}

.shippingInfo .t4 {
	background: url(../settvimgs/shipping/4.png)
}

.shippingInfo .fix {
	margin-right: 0;
}

/*---------------------- image gallery ----------------------*/
/*jcarousel*/
.jcarousel-skin-tango {
	padding: 16px 0 0 0;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
	width: 90px;
	height: 420px;
	padding: 0;
}

.jcarousel-container {
	position: relative;
}

.jcarousel-clip {
	z-index: 2;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.jcarousel-list {
	z-index: 1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.jcarousel-list li,.jcarousel-item {
	float: left;
	list-style: none;
	width: 75px;
	height: 75px;
}

.jcarousel-item img {
	border: 1px solid #e8e8e8;
}

.jcarousel-next {
	z-index: 3;
	display: none;
}

.jcarousel-prev {
	z-index: 3;
	display: none;
}
/*skin*/
.jcarousel-skin-tango .jcarousel-clip-vertical {
	width: 90px;
	height: 420px;
	margin-top: 16px
}

.jcarousel-skin-tango .jcarousel-item {
	width: 90px;
	height: 68px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 0px;
	padding-bottom: 16px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}

.jcarousel-skin-tango .jcarousel-next-vertical {
	position: absolute;
	bottom: -22px;
	left: 0px;
	width: 90px;
	height: 22px;
	cursor: pointer;
	background: transparent url(../settvimgs/btn/updown.png) no-repeat 0
		-44px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
	background-position: 0 -66px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
	background-position: 0 -66px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active
	{
	cursor: default;
	background-position: 0 -66px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
	position: absolute;
	top: -38px;
	left: 0px;
	width: 90px;
	height: 22px;
	cursor: pointer;
	background: transparent url(../settvimgs/btn/updown.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
	background-position: 0 -22px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
	background-position: 0 -22px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active
	{
	cursor: default;
	background-position: 0 -22px;
}

#slideshow-main {
	width: 590px;
	/*float: left;*/
	margin-right: 3px;
}

#slideshow-main ul {
	margin: 0;
	padding: 0;
	width: 429px;
}

#slideshow-main li {
	display: none;
	position: relative;
}

#slideshow-main li.active {
	display: block !important;
}

#slideshow-main li span.opacity {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 60px;
	background: #000; /*filter:alpha(opacity=50);*/
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 500;
}

#slideshow-main li img {
	border: 1px solid #e8e8e8;
}

#slideshow-main li span.content {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 60px;
	z-index: 1000;
}

#slideshow-main li span.content h1 {
	font-size: 14px;
	margin: 5px 0;
	padding: 0 10px;
	color: #42e2e8;
}

#slideshow-main li span.content p {
	font-size: 11px;
	margin: 5px 0;
	padding: 0 10px;
	color: #42e2e8;
}

#slideshow-carousel {
	float: right;
	padding-top: 20px;
	/*width: 206px;*/
	position: relative;
}

#slideshow-carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slideshow-carousel li {
	background: #fff;
	/*height: 97px;*/
	position: relative;
}

#slideshow-carousel li .arrow { /*
    left: 3px;
    top: 28px;
    position: absolute;
    width: 20px;
    height: 40px;
    background: url(images/arrow_white.png) no-repeat 0 0;
    display: block;
    */
	
}

#slideshow-carousel li a {
	display: block;
	/*background: #000;    
    width: 206px;
    height: 95px;*/
}

#slideshow-carousel .active {
	filter: alpha(opacity =       100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

#slideshow-carousel .faded {
	filter: alpha(opacity =       50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.relatedProductInfo {
	background: #fff;
	padding: 14px;
	width: 202px;
}

.relatedProductInfo h5 {
	font-size: 18px;
	display: block;
	padding: 20px 0 20px 90px;
	background: url(../settvimgs/icon/titbg.png);
	height: 20px;
	margin: 0 0 15px 0
}

.relatedProductInfo h5 em {
	color: #fa7f35;
	padding: 0 3px
}

.relatedProduct, .product_ad {
	margin-top: 14px;
}

.relatedProduct li {
	display: block;
}

.relatedProduct li a {
	color: #494949;
}

.relatedProduct li img {
	padding: 1px;
	border: 1px solid #bcbcbc;
	float: left;
	margin: 0 8px 0 0;
}

.relatedProduct li a p {
	padding: 5px 0px 20px 0px;
	font-size: 12px;
	color: #666;
}