.pro-list {
	clear: both
}

.pro-list ul {
	clear: both;
	width: 100%
}

.pro-list li {
	width: 224px;
	float: left;
	display: block;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3);
	margin: 0 28px 28px 0
}

.pro-list li a {
	display: block;
	opacity: 0.8;
	background: #FFF;
	color: #000;
	padding: 5px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	position: relative;
}

.pro-list li a:hover {
	opacity: 1;
	color: #e3222e
}

.pro-list li a h6 {
	height: 40px;
	text-align: center;
	padding: 10px 6px;
	line-height: 1.4em;
	font-size: 15px;
}

.pro-list li a span {
	right: 5px;
	top: 128px;
	position: absolute;
	background: url(../settvimgs/bg/redAph2.png);
	display: block;
	font-size: 18px;
	color: #fff;
	padding: 7px 3px;
}

.pro-list li a span em {
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.fixed {
	margin-right: 0 !important
}

.txtArea {
	height: 234px;
	overflow: hidden;
}

.searchResult {
	height: 50px;
	background: #fff;
	color: #000;
	margin-bottom: 28px;
}

.searchResult h5 {
	width: 630px;
	float: left;
	height: 50px;
	display: block;
	line-height: 50px;
	text-align: left;
	padding: 0 15px;
	font-size: 13px
}

.searchResult h5 b {
	padding: 0 5px 0 0
}

.searchResult h5 em {
	padding: 0 5px;
	color: #e3222e
}

.sort {
	background: #fff;
	height: 50px;
	color: #000;
	width: 320px;
}

.sel h5 {
	line-height: 50px;
	padding: 0 15px
}

.sel ul {
	float: right;
	padding: 13px 40px 0 0
}

.sel li {
	float: left;
	display: block;
	margin: 0 5px
}

.sel a {
	text-align: center;
	font-size: 12px;
	color: #000;
}

.sel a span {
	display: block;
	width: 77px;
	line-height: 24px;
	height: 24px;
	text-align: center
}

.sel a span em {
	font-family: "Arial", "Helvetica", sans-serif;
}

.sel a.act span,.sel a span:hover {
	background-image: linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -o-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(204,
		22, 25) ), color-stop(1, rgb(219, 53, 56) ) );
	background-color: #da3235;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFF;
}

.none {
	background: url(../settvimgs/none.jpg) 60px 110px no-repeat;
	width: 100%;
	height: 400px;
	position: relative;
	background-color: #FFF;
}

.none a {
	position: absolute;
	left: 626px;
	top: 183px;
	color: #F30;
}