@charset "UTF-8";

/* 共用的商品框架ＣＳＳ */

/*特色商品*/
#Chara{width:960px ; margin:0 auto }
#common{width:960px ; margin:0 auto 10px auto;}
#Chara h6{ background:url(../imgs/bg/line.gif) 10px bottom  no-repeat; display:block; }
#Chara h6 .title1{ background:url(../imgs/txtpic/txt_s.png) 10px 0 no-repeat;width:75px ; height:22px;display:block;}
#Chara .picArea{ height:470px;display:block;}
#Chara .picArea li{float:left; width:300px ; height:225px ; display:block ;position: relative;padding:10px 10px 10px  10px; }
#Chara .picArea li span{display:block;min-height:21px; font-size:16px;color:#fff; padding:7px 5px;background: url(../imgs/bg/redAph2.png);position:absolute;right: 10px;bottom: 66px;}
#Chara .picArea li span em{ font-size:11px;}

#Chara .picArea .txtArea{ background:url(../imgs/bg/grayAph.png);height:45px; position:absolute ;left: 10px;bottom:10px; width:280px ; color:#fff;padding:11px 10px 0 10px}
#Chara .picArea .txtArea h2{ font-size:16px ;  /*font-weight:bold;*/}
#Chara .picArea .txtArea p{font-size:13px}

#Chara .picArea .tab{ position:absolute ; left:4px;top:15px;   height:42px ; min-width:70px; background:url(../imgs/tab.png) no-repeat;padding:0 0 0 1px;}
#Chara .picArea .tab em{ display: block; color:#fff; font-size:16px;padding:14px 20px 0 10px; height:41px; background:url(../imgs/bg/tab2.png)right 6px no-repeat; }

/*下方活動選取點*/
#Chara .funtion,#common .funtion
{ margin: 0 auto ;}
#Chara .funtion ul,#common .funtion ul
{ min-width:300px ; display:block;margin: -10px auto 0 auto ;  text-align:center; padding:0px;}
#Chara .funtion li,#common .funtion li
{ padding:0px 3px; display:inline-block; zoom: 1;position: relative; margin: 0;}
#Chara .funtion li a,#common .funtion li a
{ background:url(../imgs/btn/dot.png) bottom ; display:block ; width:11px ; height:11px;}
#Chara .funtion li a.act,#common .funtion li a.act
{ background:url(../imgs/btn/dot.png) 0 top}

/*下方活動選取點 fine*/
#common a:hover .txtArea, #Chara a:hover .txtArea{ background-color:#F00}
#common a h2, #Chara a h2{color:#ecf1c6}
/*首頁一般商品CSS*/
#common h6{ background:url(../imgs/bg/line.gif) 10px bottom  no-repeat; display:block; }
#common h6 .title1{ background:url(../imgs/txtpic/txt_n.png) 10px 0 no-repeat;width:75px ; height:22px;display:block;}

#common  ul#general{ height:460px;display:block;}
#common  #general li{float:left; width:220px ; height:220px ; display:block ;position: relative;padding:10px 10px 10px  10px; }
#general  span{display:block;min-height:21px; font-size:18px;color:#fff; padding:7px 3px;background: url(../imgs/bg/redAph2.png);position:absolute;right: 10px;bottom: 65px;}
#general  span em{ font-size:11px;}
#general span .ex{ text-decoration:line-through}

#common  .txtArea{ background:url(../imgs/bg/grayAph.png) #756e66;  color:#fff;margin:0 ; height:220px ; overflow:hidden;}
#common  .txtArea h2{ font-size:16px ;  font-weight:bold;padding:7px 10px 1px 10px}
#common  .txtArea p{font-size:13px;padding:0 10px 7px 10px}
#common  .tab{ position:absolute ; left:4px;top:15px;   height:42px ; min-width:70px; background:url(../imgs/tab.png) no-repeat;padding:0 0 0 1px;}
#common  .tab em{ display: block; color:#fff; font-size:16px;padding:14px 20px 0 10px; height:41px; background:url(../imgs/bg/tab2.png)right 6px no-repeat; }
/*首頁一般商品CSS  fine*/