@charset "UTF-8";
/* CSS Document */

.loginArea{width:635px; font-size:16px; color:#3f3f3f;margin:20px auto 40px auto}
.singupArea{font-size:16px; color:#3f3f3f;margin:20px auto 40px auto ; width:760px;}
.loginArea h6,.singupArea h6{font-size:21px ;display:block;padding:20px 0 10px 0}
.singupArea h6{border-bottom: 1px solid #ccc; }

.loginArea h6 span,.singupArea h6 span{font-size:13px;display:block; float:right;}
.loginArea h6 span a,.singupArea h6 span a{ color:#06F}
.error-ms-Area{ background: url(../imgs/bg/login_topBg.png) ; height:45px; color:#fff000}
.error-ms-Area p{ display:block; padding:13px 20px 13px 40px ; font-size:16px; background:url(../imgs/icon/notice.png) 15px 11px no-repeat  ;}
.error-ms-Area p a{ text-decoration:underline ; color:#fff000;padding:0 3px}
.success-ms-Area{background: url(../imgs/bg/login_topBg2.png) ; height:45px; color:#06F ;}
.success-ms-Area p{ display:block; padding:13px 20px 13px 40px ; font-size:16px; background:url(../imgs/icon/ok.png) 15px 11px no-repeat  ;}


.login-main-area{ background-color: rgba(255, 255, 255, 0.7) ; border: 1px solid #cdcdcd ;}


.signbox{height:45px ; line-height:1.7em ; border:1px solid #ccc; width:97% ;margin:10px 10px 10px 0 ;padding:0 5px; background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) top;}

a.btnLogin{ background:url(../imgs/btn/login.png) top ;width:171px;height:48px;margin: 0 auto}
a:hover.btnLogin{ background:url(../imgs/btn/login.png) 0 bottom; }

a.btnsend{ background:url(../imgs/btn/send.png) top ;width:171px;height:48px;margin: 0 auto}
a:hover.btnsend{ background:url(../imgs/btn/send.png) 0 bottom; }


.menber-login{ float:right;width:54%;padding:0 2% ; background-color: rgba(255, 255, 255, 0.7); border-left: 1px solid #cdcdcd}
.menber-login p,.signup-login p{font-size:12px ; padding:0 0 15px 5px; margin:-5px 0 0 0 ; color:#F63}
.menber-login  h5,.signup-login h5{ padding:10px 0 0 0} 

.signup-login{float:right;width:70%;padding:0 2% ; background-color: rgba(255, 255, 255, 0.7); border-left: 0px solid #cdcdcd}



.link-fix,.link-txt{padding:10px 0}
.link-fix a{display:block}
.link-txt a{ color:#0088de; text-decoration:underline; font-size:13px;}
.link-txt{ font-size:13px}

.sign{float:left ;width:36%; padding:0 2%; }
.signup{float:left ;width:24%;}
.sign p{ font-size:13px; padding: 0.8em 0 .1em 0}
.sign-fix{height:215px;margin:0 0 11px 0}

a.btnSign{ background: url(../imgs/btn/join.png) top;width:171px;height:48px;}
a:hover.btnSign{ background:url(../imgs/btn/join.png) 0 bottom; }

.hight-fix{height:235px}


.stylebg{ background:url(../imgs/bg/signup.png) no-repeat; height:541px;}

.sup_left{float:left ; width:70%}
.sup_right{float:right ;width:30% }
.sup-fix{ position:relative}

.comtxt_a{font-size:12px;
	color:#F63;
	position:absolute;
	left: 384px;
	top: 40px;
	width: 160px; padding:0 0 0 5px
}

.mid-canvas{padding:20px 35px ; background:#FFF ; position:relative ; min-height:200px;}
.mid-canvas .imgDiv{
	position:absolute;
	top:70px;
	left:30px
}
.mid-canvas h3{ font-size:21px ; padding:10px 0 ; display:block; border-bottom:1px solid #ccc}
.mid-canvas h5{ padding:15px 0 0 }
.mid-canvas p{ font-size:13px ; padding:15px 0 0 0}

.mid-canvas input{height:45px ; line-height:1.7em ; border:1px solid #ccc; width:70%;margin:10px 10px 10px 0 ;padding:0 5px; background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) top;}


/*
.signupArea{ margin:20px auto 40px auto ; width:700px;}

.signup{padding:10px}
.signup h1{font-size:21px ;display:block;padding:20px 15px 10px 0}
.signup h1 span{font-size:13px;display:block; float:right;}
.signup h1 a{color:#06F}
.signup-box{padding:10px 0 ; position:relative }
.signup-box div{
	float:right;
	position:absolute;
	left: 340px;
	top: 32px;
	font-size:13px;
	color:#666;
	width: 260px;
}
.signup-box label{ color:#666; display:block;}
.signupbox{height:45px ; line-height:1.7em ; border:1px solid #ccc; width:97% ;margin:10px 10px 10px 0 ;padding:0 5px; background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) top;width:320px}
*/
