@charset "UTF-8";
/* CSS Document */










#productDiv,#notice{padding:0 18px  0 18px; width:940px ; margin: 0 auto; color:#494949}

.pro-pic-show{width:620px; float:left;}
.big-img { position:relative}
.big-img a img{ padding:1px; border:1px solid #bcbcbc}

.big-img a iframe{ padding:1px; border:1px solid #bcbcbc}
.big-img a:hover img{ padding:1px; border:1px solid #000; background:#000}

.SPtab{ position:absolute ; left:-4px;top:30px;   height:42px ; min-width:70px; background:url(../imgs/tab.png) no-repeat;padding:0 0 0 1px;}
.SPtab em{ display: block; color:#fff; font-size:16px;padding:14px 20px 0 10px; height:41px; background:url(../imgs/bg/tab2.png)right 6px no-repeat; }

.small-img a img{padding:1px; border:1px solid #bcbcbc}
.small-img  a:hover img{ padding:1px; border:1px solid #000; background:#000}
ul.small-img{margin:auto ; text-align:center;}
.small-img li{display: inline-block ; padding:4px}

.pro-maininfo{ background:#f5f5f5 ; margin:25px 0 0 0;}
.pro-maininfo h6{ background:url(../imgs/bg/titleinfo.gif) ; display:block ; margin:0 0 0 -10px;height:41px;color:#FFF ;font-size:18px; line-height:1.7em;padding:0 0 0 24px}
.pro-maininfo div{padding:14px; line-height:1.7em;}
.pro-maininfo div p{padding:0 0 1.7em 0; font-size:13px;}


#pro-info{ float:right;width:300px;}
#pro-info h2{color:#3e4c81; font-size:22px; display:block; line-height:1.3em;height:60px; overflow:hidden;}
#pro-info .fb{margin:12px 0}
.addhistr a{ background:url(../imgs/btn/faver.png) top left no-repeat ; display:block; width:100px ; height:25px;  width:110px;}
.addhistr a:hover{background:url(../imgs/btn/faver.png) bottom left no-repeat}
#pro-info p{padding:10px 0  35px 0; line-height:1.5em ; font-size:16px; display:block;min-height:2.5em}
#pro-info .fixdiv{padding:10px 0  35px 0; line-height:1.5em ; font-size:16px; display:block; min-height:180px}


.pro-price{ font-size:16px ; color:#998d04}
.pro-price  select{ height:23px ; font-size:13px ;  padding:2px}
.pro-price li{ border-top:1px  dotted #fbc3c3 ; display:block ; padding:8px 0}

#pro-info dl{padding:10px 0;text-align:right; font-size:16px; border-top:1px  dotted #fbc3c3}
#pro-info dd{padding:0 0 10px 0; display:block;}
#pro-info dd em{text-decoration:line-through }
#pro-info dt em{ font-size:140%; color:#f78529;padding:10px 0 10px 4px;}
#pro-info .btn {padding:25px 10px 20px 10px; margin:0 0 20px 0 ; border-bottom:1px dotted #cccccc}
#pro-info .btn a{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; background:#ed1c24;height:38px; width:145px ; display:block; text-align:center ; line-height:2.5em; font-size:16px ;color:#fff ; margin: 0 auto;  }
#pro-info .btn a:hover{ background:#ffd634 ; color:#7b6c24;} 
#pro-info .btn span{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; background:#CCC;height:38px; width:145px ; display:block; text-align:center ; line-height:2.5em; font-size:16px ;color:#fff ; margin: 0 auto;  }
#pro-info h5{ font-size:18px ; display:block;padding:20px 0 20px 90px; background:url(../imgs/icon/titbg.png) ; height:20px;margin:0 0 15px 0}
#pro-info h5 em{ color:#fa7f35;padding:0 3px}
.relative-pro{}
.relative-pro li{ height:95px; overflow:hidden; display:block;}
.relative-pro li img{padding:1px; border:1px solid #bcbcbc ; float:left;margin:0 8px 0 0;}
/* .relative-pro li div{padding:0 0 0 112px; color:#494949;} */
.relative-pro li a{color:#494949; display:block;}
.relative-pro li a:hover{ text-decoration:underline; color:#36F}
.relative-pro li a h4{ font-size:15px ; line-height:1.7em; display:block;padding:0 0 5px ;}
.relative-pro li a span{  padding:1px 5px; background:#F00; color:#FFF;display:block ; font-size:12px ;  line-height:1.2em;min-width:40px ; float:left ;
white-space:nowrap}

#productDiv .relative-pro li a p{padding:5px 0; font-size:12px ;color:#666}



#notice{padding:25px 0; font-size:12px;}
#notice h5{font-size:150%;display:block ; padding:0 0 15px 0}
#notice .col-left{ float:left;width:460px}
#notice .col-right{float:right;width:460px}

.shoppingInfo{ background:url(../imgs/icon/bc.png) 245px 25px  no-repeat; height:90px ; width:330px; border:1px solid #efefef;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; float:right; padding:5px ; }
.shoppingInfo p{padding:15px}

#notice h4{ color:#3366cc ; font-size:16px;}
#notice dl{padding:10px 0;}
#notice dt{ float:left ; color:#ff7e0c;display:block}

#notice dd{ padding: 0 0 1.5em 25px;display:block}
#notice p{padding:10px 0}
#notice h6{color:#06C;padding:10px 0}
#notice ol li{ margin:0 0 0 1.5em ;padding:0 0 10px;}
#notice p a{padding:0 3px; color:#06F ; text-decoration:underline}

.pageTab{padding: 20px 0 10px 12px;}