@charset "UTF-8";
/* CSS Document */

#sticker{ font-size:13px ; font-weight:bolder ; background:url(../imgs/bg/sticker.png) ; height:30px; line-height:2.4em; color:#FFF; padding:0 0.5em;margin:0 0 5px 0;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
  
#slideShowDiv{padding:17px}
/*slide show*/
#slideShow { width:940px ; height:300px; position:relative; margin: 0 0 16px 0;}
#slideShow .picArea{width:940px ; height:300px; overflow:hidden; display:block}
#slideShow .picArea li{width:940px ; height:300px ;; float:left; }
#slideShow .ctrlbtn_sq{position:absolute;right: 20px;top: 260px;}
#slideShow .ctrlbtn_sq li{ float:left;display:block ; width: 23px ;height:23px;padding:0 5px;}
#slideShow .ctrlbtn_sq li a{display:block ; background:url(../imgs/bg/blackAph.png); color:#fff ; text-align:center; }
#slideShow .ctrlbtn_sq li a:hover{ background:url(../imgs/bg/redAph.png)}
#slideShow .ctrlbtn_sq li .act{ background:url(../imgs/bg/redAph.png)}

  
  
/* 5 in 1 */
.program_a_home{width:940px ; height:93px ; background:url(../imgs/bg/grid.gif) ;margin: 0 0 16px 0;}
#showbox_home{display:block ; margin: 0 auto; ; width:880px;}
#showbox_home li{ display:block ; float:left; padding: 8px; width:160px;}
.ctrlbtn_L{ float:left;padding:18px 0 0 0; }
.ctrlbtn_L a{display:block ; background:url(../imgs/btn/crtlbtnbg.png) 0 55px ;width:27px; height:55px;}
.ctrlbtn_L a:hover{ background-position:0 0}
.ctrlbtn_R{ float:right;padding:18px 0 0 0;}
.ctrlbtn_R a{display:block ; background:url(../imgs/btn/crtlbtnbg.png) 27px 55px ;width:27px; height:55px;}
.ctrlbtn_R a:hover{ background-position:27px 0}