@charset "UTF-8";
/* CSS Document */


#slide-show{height:208px;position:relative; background: #45b91d }
.icon-image{background:url(../imgs/default/ist_s.png);width:78px;height:78px;position: absolute;left:50px;top: 123px;
}

.program_a{background:url(../imgs/bg/grid.gif) ;margin: 0 0 10px 0;padding:18px 0 0 0 ;height:92px;}
.ctrlbtn_L{ float:left;padding:18px 0 0 6px; width:45px;}
.ctrlbtn_L a{display:block ;width:39px; height:39px; background: url(../imgs/slidebox/st_btn.png) 39px 0 }
.ctrlbtn_L a:hover{ background-position:39px 39px }
.ctrlbtn_R{ float:right;padding:18px 0 0 3px;width:45px;}
.ctrlbtn_R a{display:block ;width:39px; height:39px; background: url(../imgs/slidebox/st_btn.png) 0 0 }
.ctrlbtn_R a:hover{ background-position:0px 39px }

/* #showbox{display:block ; margin: 0 auto; ; width:880px; background:url(../imgs/slidebox/st_tb_bg.png) top center no-repeat ;padding:0 5px;} */
#showbox li{ display: inline-block ; padding:0 2px 0 12px ; width:160px;}
#footer{ background:url(../imgs/bg/ftbg_s.png) top repeat-x}
#common h6{ background:url(../imgs/bg/line_s.gif) 10px 18px  no-repeat; display:block;}
#Chara h6{ background:url(../imgs/bg/line_s.gif) 10px 18px  no-repeat; display:block; }
#Chara h6 a, #common h6 a{ color:#fff ; background:url(../imgs/btn/more_s.png)}
