.product-category-title {
	float: left;
	left: 0;
	width: 660px;
	height: 50px;
	background: #e3222e;
	color: #fff;
	margin-bottom: 28px;
}

.product-category-title h1 {
	padding: 0px 15px;
	float: left;
	height: 50px;
	background: #555;
	display: block;
	line-height: 50px;
	text-align: center;
}


.product-category-title a {
	color: #FFF;
	font-size: 13px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	text-shadow: rgba(0, 0, 0, .6) 0 1px 3px;
}

.product-category-title a:hover {
	text-shadow: rgba(255, 255, 255, .6) 0 1px 3px;
}

.product-category-title div.firstTag {
	padding-left: 20px;
	background: url(../settvimgs/btn/tag.gif) no-repeat 20px 10px
}

.product-category-title div {
	float: left;
	padding: 5px 5px 0 5px;
	line-height: 50px;
}

.product-category-sort {
	float: right;
	background: #a61517;
	height: 50px;
	color: #FFF;
	width: 320px;
}

.product-category-sort h5 {
	line-height: 50px;
	padding: 0 15px
}

.product-category-sort ul {
	float: right;
	padding: 13px 40px 0 0
}

.product-category-sort li {
	float: left;
	display: block;
	margin: 0 5px
}

.product-category-sort a {
	text-align: center;
	font-size: 12px;
	color: #FFF;
}

.product-category-sort a span {
	display: block;
	width: 77px;
	line-height: 24px;
	height: 24px;
}

.product-category-sort a span em {
	font-family: "Arial", "Helvetica", sans-serif;
}

.product-category-sort a.act span,.ticker2 .sel a span:hover {
	background-image: linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -o-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(204, 22, 25) 0%,
		rgb(219, 53, 56) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(204,
		22, 25) ), color-stop(1, rgb(219, 53, 56) ) );
	background-color: #da3235;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.pro-list {
	clear: both
}

.pro-list ul {
	clear: both;
	width: 100%
}

.pro-list li {
	width: 224px;
	float: left;
	display: block;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3);
	margin: 0 28px 28px 0
}

.pro-list li a {
	display: block;
	opacity: 0.8;
	background: #FFF;
	color: #000;
	padding: 5px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	position: relative;
}

.pro-list li a:hover {
	opacity: 1;
	color: #e3222e
}

.pro-list li a h6 {
	height: 50px;
	text-align: center;
	padding: 10px 6px;
	line-height: 1.4em;
	font-size: 15px;	
	overflow: hidden;
}

.pro-list li a span {
	right: 5px;
	top: 128px;
	position: absolute;	
	background: url(../settvimgs/bg/redAph2.png);	
	display: block;
	font-size: 18px;
	color: #fff;
	padding: 7px 3px;
}

.pro-list li a span em {
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.fixed {
	margin-right: 0 !important
}

.pic3in1-pic {
	height: 320px
}

.pic3in1-pic ul li {
	width: 308px;
	margin-right: 28px;
	float: left;
	display: block;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3)
}

.pic3in1-pic ul li a {
	display: block;
	opacity: 0.8;
	background: #FFF;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}

.pic3in1-pic ul li img {
	border: 5px white solid;
}

.pic3in1-pic ul li a:hover {
	opacity: 1
}

.pic3in1-pic li.fix {
	margin-right: 0 !important
}

.img-category-ad {
	width: 298px;
	height: 282px;
}

.category_ad
{
	margin-top:14px;
}