.checkoutArea {
	background: #FFF;
}

.Purchase-process {
	padding: 25px 0 15px 0;
	margin: 0 auto;
/*	width: 800px; */
/* Edward Edit 2014/11/15 */
	MAX-width: 800px;
}

.processTitle {
	background: url(../imgs/bg/dotted.gif) bottom repeat-x;
	height: 48px;
	color: #999
}

.processTitle li {
	display: inline-block;
	width: 20%;
	width: 20%;
	padding: 1.3em 0 0 3%;
	font-size: 16px;
	padding: 1.3em 0 0 3%;
	font-size: 16px;
}

.processTitle .act {
	color: #ff6018
}

.Purchaseform .notice {
	font-size: 13px;
	padding: 25px 0 25px 0
}

.Purchaseform .notice span {
	padding: 8px 0 0 0;
	display: block;
}

.Purchaseform .notice h2 {
	font-size: 18px;
	color: #464040;
	display: block;
}

.Purchaseform .notice a {
	color: #f44238
}

.Purchaseform  table {
	background-color: #ccc;
	font-size: 13px;
	border-collapse: separate;
	border-spacing: 1px;
	border-color: gray;
}

}
.Purchaseform  em {
	font-size: 11px
}

.Purchaseform  th {
	background: #E1EBFF;
	color: #0192B5;
	padding: 5px 3px;
	text-align: left;
	font-weight: normal
}

.Purchaseform  td {
	background: #fff;
	padding: 5px 3px
}

.Purchaseform  td h6 {
	color: #F60;
}

.Purchaseform  td h5 {
	color: #f44238;
}

.Purchaseform  table a {
	color: #06F;
	text-decoration: underline;
}

.Purchaseform  a.btnstyle {
	font-size: 12px;
	color: #fff;
	background: #36f;
	padding: 4px 8px;
	border: 1px solid #dddddd;
	display: block;
	width: 120px;
	text-align: center;
	/*height: 1.7em;*/
	margin: 0 auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Purchaseform  a.btnstyle.inlineBlock
{
	display:inline-block;
}

.Purchaseform .btnbox {
	padding: 10px 0;
	text-align: right;
}

.Purchaseform .btnbox.alignCenter {
	padding: 10px 0;
	text-align: center;
}

.Purchaseform  a:hover.btnstyle {
	color: #FFF;
	background: #f89e2a
}

.Purchaseform .leftcont {
	width: 50%;
	float: left
}

.Purchaseform .linebox {
	background: url(../imgs/bg/dotted.gif) top repeat-x;
	padding: 15px 0
}

.Purchaseform .rightcont {
	float: right;
	width: 50%;
}

.Purchaseform .form {
	font-size: 15px;
}

.Purchaseform .form label {
	display: block;
	min-width: 80px;
	padding: 8px 20px 0 30px;
	/*float: left;
	text-align: right*/
}

.Purchaseform .form label span {
	color: #F00
}

.Purchaseform .form ul input {
	width: 250px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 30px;
}

.Purchaseform .form ul select {
	width: 250px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 30px;
}

.Purchaseform .form ul input.checkbox {
	width: 20px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Purchaseform .form h6 {
	padding: 0px 0 0 30px;
	font-size: 18px;
}

.Purchaseform .form ul {
	clear: both;
}

.Purchaseform .form ul li {
	padding: 10px 0;
	float: left;
	width: 370px
}

.Purchaseform .form select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 0
}

.Purchaseform .form .input-box select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 30px
}

.Purchaseform .form2 .adre-book select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 20px
}

.btn-same {
	padding: 10px 10px 10px 90px;
	color: #666;
	font-size: 13px
}

.Purchaseform .form dl {
	margin: 0 0 10px 0;
}

.Purchaseform .form dd {
	padding: 10px 0;
	float: left;
	width: 180px
}

.Purchaseform .form dt {
	padding: 10px 0;
	clear: both
}

.Purchaseform .form dt input {
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Purchaseform .form dt input.text {
	width: 325px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Purchaseform .form2 {
	padding: 0 0 0
}

.Purchaseform .form2 h6 {
	font-size: 16px;
	padding: 0 0 0 30px
}

.Purchaseform .form2 label {
	display: block;
	min-width: 60px;
	padding: 0 20px 0 10px;
	float: left;
	text-align: right
}

.btn-same2 {
	padding: 20px 10px 20px 0px;
	color: #666;
	font-size: 13px
}

.btn-same3 {
	padding: 20px 10px 20px 30px;
	color: #666;
	font-size: 13px
}

.btn-same2 h4 {
	display: block;
	width: 60px;
	padding: 0 20px 0 10px;
	float: left;
	text-align: right
}

.btn-same2 ul {
	padding-left: 30px;
}

.btn-same2 ul.logistic li {
	display: block;
	float: none;
	padding-bottom: 10px;
	width: 600px;
}

.btn-same2 ul.logistic li div.familymart {	
	padding-top: 10px;
}

.btn-same2 ul.logistic li div.familymart div.familymartItem {	
	padding-top: 10px;
	font-size:15px;
}

.btn-same2 ul.logistic li div.familymart div.familymartItem.prompt {	
	color:red;
}
	
.btn-same2 ul {
	display: block;
	/* float: left; */
}

.btn-same2 ul li {
	display: block;
/* Edward del 2014/11/12 */
/*	float: left; */
	padding-right: 10px;
}

.bgcolor {
	padding: 15px 0;
	color: #555555
}

.bgcolor h6 {
	color: #1b325f
}

.bgcolor2 {
	background: url(../imgs/bg/dotted.gif) top repeat-x #efefef;
	padding: 15px 0
}

.bgcolor3 {
	background: url(../imgs/bg/dotted.gif) top repeat-x;
	padding: 15px 0
}

.adre-book {
	/*loat: left;*/
}

.Purchaseform .adre-book select {
	height: 32px;
	padding-left: 5px;
	margin: 10px 0 0 0
}

/*
.payment {
	padding: 20px;
	margin: 0 20px;
	background: #efefef;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.payment h6 {
	line-height: 2em;
	font-size: 15px
}

.payment ul li {
	display: block;
	padding: 5px 0;
	font-size: 13px
}

.payment ul li h7{
	font-size: 9px;
	color: red
}
*/

#cashblock {
	padding: 5px 0 0px 30px;
	font-size: 13px
}

.finish {
	padding: 20px;
	margin: 0 20px;
	border: 1px solid #ecf3f9;
	color: #666;
	background: #ecf3f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.finish H3 {
	font-size: 21px;
	display: block;
	padding: 0 0 15px;
	color: #333;
}

.finish H4 {
	font-size: 13px;
	color: #666;
	display: block;
	padding: 0 0 15px
}

.finishlink {
	font-size: 13px;
	background: url(../imgs/bg/dotted.gif) top repeat-x;
	padding: 15px 0 0 0
}

.finish a {
	color: #09F
}

.finishlink a {
	color: #333
}

.finish1 {
	padding: 20px;
	border: 1px solid #ecf3f9;
	color: #666;
	background: #ecf3f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.roundconnerBg {
	background: #ecf3f9;
	width: 95%;
	margin: 0 auto;
	padding: 0px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Addressform h5 {
	display: block;
	padding: 0px 0 0px 10px;
	font-size: 16px;
}

.Addressform ul {
	margin: 5px 0;
	clear: both;
}

.Addressform ul li {
	padding: 10px 0;
	float: left;
	width: 350px
}

.Addressform ul input {
	width: 250px;
	border: 1px solid #B8B8B8;
	color: #333;
	padding-left: 5px;
	background: #fff;
	background: url(../imgs/bg/ra-bg.png) bottom;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.input-box {
	/* margin-bottom: 20px; */
}

.please-wait {
	display: block;
	width: 100px;
	margin: 0 auto;
	padding-left: 10px;
}

.validation-advice { 
	color: red;
}
.form-list .validation-advice {
	
	margin-left: 30px;
}

#sent_btn {
	width: 10em;
	height: 3em;
	font-size: 1em;
	margin: 0.5em;
}

.Purchaseform .form2 ul.invoicetype li{
	padding-bottom: 10px;
	float: none;
}

.btn-same2 .invoicetip{
	display: block;
	width: 400px;
	padding: 0 20px 0 44px;
	float: none;
	text-align: left;	
}

table.carrierinfo
{
	background-color: #EFEFEF;	
	display: none;
}

table.carrierinfo td
{
	background: #EFEFEF;
}

table.carrierinfo td > div , table.carrierinfo td > input
{
	float:left;
}

.invoicetypeblock{
	padding: 10px 0;
}


.form-list .field:last-child {
  float: none;
}


.form-list .field {
  float: none;
  width: 49%; }

.form-list label {
 float: none!importment;
}

.buyer-info-ul li.fields,li#Bjq_region ,li#Sjq_region{
width: 90%;
/* position: relative; */
 float: none!importment;
}

/* Edward Add Coupon Css 2014/12/11 */
#coupon_code{margin-left:0!important;}
