/* Footer ================================================================================ */
.footer-container {
/*  background: #282828; */
  background: #f26d7e;
  padding: 10px 0 0; }
  .footer-container a, .footer-container p {
    font-size: 13px;
/*    color: #767676; } */
    color: #FFFFFF; }
  .footer-container a {
    line-height: 30px; }
    .footer-container a:hover {
      color: #fffe8e; }
  .footer-container p {
    line-height: 20px; }
  .footer-container h4 {
/*    border-bottom: 1px solid #313131; */
    border-bottom: 1px solid #FFFFFF;
    padding: 0 0 18px;
    margin: 0 0 10px; }
  .footer-container .custom-subscribe {
    margin: 45px 0 0; }
    .footer-container .custom-subscribe h4 {
      text-transform: uppercase;
      border: none;
      margin: 0; }
    .footer-container .custom-subscribe .input-box {
      width: 75%;
      float: left; }
    .footer-container .custom-subscribe .actions {
      width: 24%;
      float: right; }
      .footer-container .custom-subscribe .actions .button.button {
        width: 100%;
        text-align: center;
/*        background: #373737; */
        background: #f26d7e;
	border-color: #FFFFFF;
        height: 40px;
        text-transform: uppercase;
        font-size: 15px;
        text-transform: uppercase;
        font-family: 'robotolight'; }
        .footer-container .custom-subscribe .actions .button.button:hover {
          background: #fd4a38; }
  .footer-container .input-text {
/*    background: transparent;
    background: #FFFFFF; */
/*    border-color: #3b3b3b; */
    border-color: #FFFFFF; 
    
    height: 40px;
    color: #999;
    padding: 0 10px;
    width: 100%; }
  .footer-container .input-text:focus {
/*    background: transparent; */
    border-color: #464646; }
  .footer-container .coppyright {
/*    border-top: 1px solid #313131; } */
    border-top: 1px solid #FFFFFF; }

.footer {
  padding: 45px 0 0; }

.footer .store-switcher {
  display: inline;
  margin: 0 5px 0 0;
  color: #fff; }

.footer .store-switcher label {
  font-weight: bold;
  vertical-align: middle; }

.footer .store-switcher select {
  padding: 0;
  vertical-align: middle; }

.footer a {
  color: #fff;
  text-decoration: none; }

.footer a:hover {
  text-decoration: underline; }

.footer .bugs {
  margin: 13px 0 0;
  color: #ecf3f6; }

.footer .bugs a {
  color: #ecf3f6;
  text-decoration: underline; }

.footer .bugs a:hover {
  text-decoration: none; }

.footer address {
  padding: 15px 0;
  /*line-height: 44px;*/
  font-size: 11px;
/*  color: #737373; } */
  color: #FFFFFF; }

.footer address a {
  color: #ecf3f6;
  text-decoration: underline; }

.footer address a:hover {
  text-decoration: none; }

.footer ul {
  display: inline; }

.footer ul.links {
  display: block; }

.footer li {
  display: inline;
  padding: 0 7px 0 4px; }

.footer li.last {
  background: none !important;
  padding-right: 0 !important; }

.footer-container .bottom-container {
  margin: 0 0 5px; }

#back_top {
/*
     background-color: #E97E7E;
     background: url(../settvimgs/arrow_up.png) no-repeat transparent; 
     abottom: 22px;
     cursor: pointer;
     display: none;
     height: 44px;
     position: fixed;
     right: 35px;
     width: 54px;
*/
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: #f26d7e;
    color: white;
    cursor: pointer;

}

/* ======================================================================================= */

/* Custom footer links */
.custom-footer-links h1, .custom-footer-links h4 {
  color: #fff; }
.custom-footer-links h1 {
  margin: 0; }

.custom-footer-links .fa {
  font-size: 18px;
  vertical-align: top;
  line-height: 22px; }
  .custom-footer-links .fa.fa-envelope {
    font-size: 15px; }
.custom-footer-links p span {
  display: inline-block;
  padding-left: 12px; }
