/* Header ================================================================================ */
/* Toplinks */
.toplinks {
  border-bottom: 6px solid #e8e8e8;
  padding: 10px 0;
  background: white; }

.toplinks .links {
  height: 30px;
  line-height: 30px; }

.toplinks .links a {
  font-size: 12px;
  color: black;
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid #cacaca;
  height: 18px;
  line-height: 18px; }
  .toplinks .links a:hover {
    color: #1bbeb4; }

.toplinks .links .first a {
  padding-left: 0; }

.toplinks .links .last a {
  border: none; }

.logo {
  float: left; }

.header-container {
  background: white; }

.header {
  display: table;
  height: 112px;
  height: initial !important;    /* Edward Add 2014/10/12 */
  width: 100%;
  color: #282828; }
  .header:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden; }

.header .logo {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.header .logo img {
 vertical-align: middle; } 
/* Edward Add 2014/10/24  */
/*  
	vertical-align: middle;
	background: #e3222e no-repeat;
	width: 140px;
	height: 65px;
*/
}

.header .logo strong {
  position: absolute;
  top: -999em;
  left: -999em;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
  overflow: hidden; }

.header h1.logo {
  margin: 0; }

.header .quick-access {
  display: table-cell;
  vertical-align: middle;
  text-align: right; }
  .header .quick-access:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden; }
  .header .quick-access select {
    border-color: #cacaca;
    font-size: 13px;
    padding: 2px; }
  .header .quick-access p {
    display: inline-block;
    padding: 0 20px 0 10px;
    line-height: 24px; }

.header .welcome-msg {
  text-align: right;
  display: block !important;
  padding: 0 !important;
  margin: 0 0 12px;
  font-size: 12px;
  font-family: 'robotobold'; }

/* Social */
.social li {
  display: inline-block;
  height: 30px;
  line-height: 30px; }

.social a {
  color: #434343;
  font-size: 19px;
  padding: 0 0 0 14px; }
  .social a:hover {
    color: #1bbeb4; }

/* Search */
.header .form-search {
  position: relative;
  float: left; }

.header .form-search label {
  float: left; }

.header .form-search input.input-text {
  float: left;
  border-color: #5c7989;
  width: 220px; }

.header .form-search button.button {
  float: left; }

.header .form-search .search-autocomplete {
  z-index: 99; }

.header .form-search .search-autocomplete ul {
  border: 1px solid #5c7989;
  background-color: #f9f5f0; }

.header .form-search .search-autocomplete li {
  text-align: left;
  border-bottom: 1px solid #f4eee7;
  padding: 2px 8px 1px 8px;
  cursor: pointer; }

.header .form-search .search-autocomplete li .amount {
  float: right;
  font-weight: bold; }

.form-search:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden; }

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background-color: #1bbeb4; }

/* End Search */
.header .form-language {
  float: right;
  margin: 0 0 0 8px; }

.header .form-language label {
  display: none; }

.header .form-language select.flags option {
  background-position: 4px 50%;
  background-repeat: no-repeat;
  padding-left: 25px; }

.header .links {
  float: right; }

.header .links li {
  padding: 0 8px 0 7px;
  display: inline-block; }

.header-container .top-container {
  clear: both;
  padding: 5px 10px 0 12px;
  text-align: right; }

.header-container .top-container a {
  font-size: 11px;
  color: #ebbc58; }

/* Currency */
.top-currency {
  float: right; }

/* Cart */
.ico-cart a {
  line-height: 42px;
  color: #1bbeb4; }

.ico-cart i {
  font-size: 17px;
  padding: 0 5px 0 10px; }

.cart-top .item {
  margin: 0 0 15px; }
  .cart-top .item:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden; }
  .cart-top .item .product-image {
    float: left;
    margin: 0 10px 0 0; }
  .cart-top .item .product-details {
    overflow: hidden;
    color: #999; }
    .cart-top .item .product-details a {
      float: right; }
    .cart-top .item .product-details a.btn-remove {
      background-color: #777;
      background-position: center; }
    .cart-top .item .product-details a.btn-edit {
      display: none; }
    .cart-top .item .product-details .product-name a {
      line-height: 1.3;
      color: #999 !important;
      float: none;
      font-size: 13px;
      display: block; }

.cart-top .block-subtitle {
  text-transform: uppercase; }

.cart-top .summary {
  border-top: 1px solid #454545;
  padding: 15px 0 20px; }
  .cart-top .summary:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden; }
  .cart-top .summary span {
    display: inline-block;
    line-height: 20px;
    float: left;
    padding: 0 5px 0 0; }
  .cart-top .summary .price {
    color: #1bbeb4; }

.cart-top .actions {
  margin-bottom: 10px; }
  .cart-top .actions a {
    border: 1px solid #454545;
    color: #F1F1F1;
    line-height: 1.3;
    padding: 5px 10px 7px;
    margin: 0 5px 0 0; }
    .cart-top .actions a:hover {
      background: #333; }

/* QuickCart */
@media (max-width: 1090px) {
  .quickCart {
    display: none;
  }
}

.quickCart {
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: center;
	border: 1px solid #CCCCCC;
	padding: 2px;
}

.quickCart>.shopingInfo {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 30px;
}

.quickCart>.shopingInfo td {
    padding: 2px 0;
}

.quickCart>.shopingInfo .numberFont {
	color: #FF0000;
}

.quickCart>.order {
	background: none repeat scroll 0 0 #e3222e;
	color: white;
	width: 30px;
}

.quickCart>.order td {
    padding: 4px 0;
}

.quickCart>.order a {
	color: white;	
}

/* End */


/* End Header ================================================================================ */
