<?php
/**
 *   20120420 Sean
 *
 * General Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>

<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
$_productCollection=$this->getLoadedProductCollection();
?>

<?php $this->getChild('generaltoptoolbar')->setCollection($_productCollection);?>
<?php echo $this->getChildHtml('generaltoptoolbar') ?>

<?php if(!$_productCollection->count()): ?>
	<div class="pro-list clear">
		<p class="note-msg">
			<?php echo $this->__('There are no products matching the selection.') ?>
		</p>
	</div>
<?php else: ?>

	<?php $_collectionSize = $_productCollection->count() ?>
	<?php $_columnCount = $this->getColumnCount(); ?>

	<div class="pro-list clear">
		<ul id="general">
			<?php $i=0; foreach ($_productCollection as $_product): ?>
			<li
			<?php echo ($i%$_columnCount==$_columnCount-1)?"class=fixed": "" ?>>
				<?php $productURL = $_product->getUrlInStore(array('_ignore_category' => true));?>    
				<a href="<?php echo $productURL ?>">
					<img
					src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(214,160); ?>"
					width="214" height="160"
					alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
					<h6>
						<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
					</h6> 
					<?php 
            			$Sprice = $_product->getFinalPrice();
            			echo "<span><em>$</em>".round($Sprice,0)."</span>";
            		?>	
				</a>
			</li>
			<?php $i++; endforeach ?>
		</ul>
	</div>
	
	<div class="pager">
		<?php $this->getChild('generaltoolbar')->setCollection($this->getLoadedProductCollection());?>
		<?php echo $this->getChildHtml('generaltoolbar') ?>
	</div>

<?php endif; ?>
