<?php
/**
 *
 * General Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<div class="sort sel floatR">
	<?php //echo $this->__('There are no products matching the selection.') ?>
</div>
<?php else: ?>

<?php $_collectionSize = $_productCollection->count() ?>
<?php $_columnCount = $this->getColumnCount(); ?>

<?php $this->getChild('toptoolbar')->setCollection($_productCollection);  ?>
<?php echo $this->getChildHtml('toptoolbar')  ?>
<div id="contentDiv">
	<div id="common">
		<div class="clearDiv"></div>
		<ul class="pro-list clear">
			<?php $i=1; foreach ($_productCollection as $_product): ?>

			<li <?php if($i % 4 == 0) {echo "class=fixed";} ?>><?php $NowProduct = Mage::getModel('catalog/product')->load($_product->getId()); ?>
				<?php $ProdStoreCode = htmlspecialchars($NowProduct->getAttributeText('sale_store'), ENT_QUOTES); ?>
				<a
				href="<?php echo $_product->getProductUrl().'?___store='.$ProdStoreCode; ?>">
					<div class="txtArea">
						<img
							src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"
							width="214" height="160"
							alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
						<h6>
							<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
						</h6>
						<?php 
            			$Sprice = $_product->getFinalPrice();
            			echo "<span><em>$</em>".round($Sprice,0)."</span>";
            			?>
					</div>
				</a>
			</li>
			<?php $i++; ?>
			<?php endforeach ?>
		</ul>
		<div class="pager">
			<?php echo $this->getToolbarHtml() ?>
		</div>
	</div>
</div>
<?php endif; ?>
