<?php $_code=$this->getMethodCode() ?>
<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <li>
        <div class="input-box">
            <span><?php echo $this->__('分期期數:') ?></span>
            <select name="payment[period]" id="_selectperiod">
                <?php
                $total   = $this->getOrderTotal();
                $periods     = $this->getPeriods();
                $numOfPeriod = count($periods);

                $format = '<option value="%d" %s>%d期 利率%d%% 每期約%d元</option>';
                $firstelement = key($periods);
                foreach ($periods as $i => $value) {
                    $sel = "";
                    if ($i === $firstelement) { $sel = 'selected="selected"'; }  //Default select: first element

                    $totalForPeriod = $total + ($total * $value / 100);
                    $payPerPeriod = ($totalForPeriod / $i);
                    echo sprintf($format, $i, $sel, $i, $value, round($payPerPeriod, 0)) . "<br />";
                }
                ?>
            </select>
            <br />
            <p>接受VISA、Master Card、JCB信用卡。</p>
        </div>
    </li>
</ul>
