<?php
$totleQuoteNum = Mage::getSingleton('checkout/cart')->getSummaryQty();
if($totleQuoteNum == null)
    $totleQuoteNum =0;
?>
<div class="quickCart">
	<table class="shopingInfo">
		<tbody>
            <?php             
            preg_match_all('/(\w+)|(.)/u', $this->__("Shopping Cart",$totleQuoteNum), $matches);              
            foreach ($matches[0] as $key => $val) {echo '<tr><td>'.$val.'</td></tr>';}            
            ?>
			<tr>
				<td class="numberFont"><?php echo $totleQuoteNum ?></td>
			</tr>
			<tr>
				<td>件</td>
			</tr>
		</tbody>
	</table>
	<table class="order">
		<tbody>
			<tr>
				<td><a
					href="<?php echo Mage::helper('checkout/cart')->getCartUrl();?>"> 結<br />帳
				</a></td>
			</tr>
		</tbody>
	</table>
</div>

