<?php
/**
 * 20120503 Customize by Sean
 */
?>
<?php $_orders = $this->getOrders(); ?>
<div class="paragDiv">
  	<h5>最近訂單</h5>
    <div class="clum_all">
    <?php if( sizeof($_orders->getItems()) > 0 ): ?>
    	<div class="orderList">
	      	<ul>
      	<?php $Cnt = 1 ;?>
	      <?php foreach ($_orders as $_order): ?>
	        
		    	<li><a href="javascript: return false;" onclick="openorder(<?php echo $Cnt ?>);"><span>訂單編號</span>#<?php echo $_order->getRealOrderId() ?></a></li>
		    
		    <div id="ordertable_<?php echo $Cnt; ?>" style="display: <?php if($Cnt == 1) echo 'block'; else echo 'none'?>">
	      <table width="100%" border="1" cellspacing="1" cellpadding="1">
		        <tbody><tr>
		          <th>訂單編號</th>
		          <td><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $_order->getRealOrderId() ?></a></td>
		        </tr>
		        <tr>
		          <th>日期(日/月/年)</th>
		          <td><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></td>
		        </tr>
		        <tr>
		          <th>寄送地址</th>
		          <td>
		          <?php 
		                if($_order->getShippingAddress()):
							$_SAddress = $_order->getShippingAddress();
							echo $_SAddress->getName()." , ".$_SAddress->getPostcode().$_SAddress->getCity().$_SAddress->getRegion().$_SAddress->getStreetFull();
						else:
							echo '&nbsp;';
						endif;
					?>
		          </td>
		        </tr>
		        <tr>
		          <th>訂單金額</th>
		          <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
		        </tr>
		        <tr>
		          <th>訂單狀態</th>
		          <td><?php echo $_order->getStatusLabel() ?></td>
		        </tr>
		      </tbody>
		      </table>
		      </div>
		      <div class="clearDiv"></div>
		      <?php $Cnt++;?>
	      <?php endforeach; ?>
      		</ul>
		    </div>
      <?php else: ?>
    		<p><?php echo $this->__('You have placed no orders.'); ?></p>
	  <?php endif; ?>  
  	</div>
  	<?php /* 
    <div class="orderList">
    <ul>
    	<li><a href="#"><span>訂單編號</span>#123554656</a></li>
        <li><a href="#"><span>訂單編號</span>#123554656</a></li>
        <li><a href="#"><span>訂單編號</span>#123554656</a></li>
        <li><a href="#"><span>訂單編號</span>#123554656</a></li>
    </ul>
     
    </div>
    */ ?>
    </div>
<div class="treaty">
	           	<a href="<?php echo Mage::getUrl('sales/order/history', array('_secure'=>true)).'?___store=default';?>">全部訂單</a>
                <a href="<?php echo Mage::getUrl('wishlist', array('_secure'=>true)).'?___store=default';?>">我的最愛</a>
                <a href="<?php echo Mage::getUrl('customer/account/edit', array('_secure'=>true)).'?___store=default';?>">修改資料</a>

</div>
<script>
function openorder(ordernum) {
    	var i;
    	var OrderNo = parseInt(ordernum);
        var OrderTable="";
		for(i=1; i < 6;i++){
			OrderTable = "ordertable_"+i;
			if(i == OrderNo){
				document.getElementById(OrderTable).style.display = "block";
			}else{
				document.getElementById(OrderTable).style.display = "none";
				}
			}
}
</script>
