<script type="text/javascript">
    var $j = jQuery.noConflict();
</script>
<div class="navbar navbar-inverse navbar-fixed-top vendor-container" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li<?php echo (!in_array(Mage::app()->getRequest()->getActionName(), array('create', 'list', 'edit', 'view', 'ordered')) && !in_array(Mage::app()->getRequest()->getControllerName(), array('reports', 'order', 'settings'))) ? ' class="active"' : '' ?>><a href="<?php echo Mage::getUrl('cminds_supplierfrontendproductuploader', array('_secure' => true)) ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Home'); ?></a></li>
            <li<?php echo (Mage::app()->getRequest()->getActionName() == 'create') ? ' class="active"' : '' ?>>
                <a href="<?php echo Mage::getUrl('cminds_supplierfrontendproductuploader/product/create', array('_secure' => true)) ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Add a Product'); ?></a>
            </li>
            <li<?php echo (Mage::app()->getRequest()->getActionName() == 'list') ? ' class="active"' : '' ?>>
                <a href="<?php echo Mage::getUrl('cminds_supplierfrontendproductuploader/product/list', array('_secure' => true)) ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Product List'); ?><?php if ($this->hasMarkedProducts()): ?><span
                            class="badge pull-right badge-important"><?php echo $this->getMarkedProductCount(); ?></span><?php endif; ?>
                </a>
            </li>
            <li class="dropdown<?php echo (Mage::app()->getRequest()->getControllerName() == 'settings') ? ' active' : '' ?>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <?php echo Mage::helper('supplierfrontendproductuploader')->__('Settings'); ?> <span
                        class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="<?php echo Mage::getUrl('cminds_supplierfrontendproductuploader/settings/notifications', array('_secure' => true)) ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Notifications'); ?></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown<?php echo (Mage::app()->getRequest()->getControllerName() == 'reports' || Mage::app()->getRequest()->getActionName() == 'ordered') ? ' active' : '' ?>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <?php echo $this->__('Reports'); ?> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="<?php echo Mage::getUrl('cminds_supplierfrontendproductuploader/product/ordered', array('_secure' => true)) ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Ordered Items'); ?></a>
                    </li>
                </ul>
            </li>
            <!-- li>
                <a href="<?php echo Mage::getUrl('customer/account', array('_secure' => true)) ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Back to My Account'); ?></a>
            </li-->
            <li>
                <a href="<?php echo Mage::getUrl('adminhtml', array('_secure' => true)); ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Admin Panel'); ?></a>
            </li>
            <li>
                <a href="<?php echo Mage::getUrl('customer/account/logout', array('_secure' => true)) ?>"><?php echo Mage::helper('supplierfrontendproductuploader')->__('Log out'); ?></a>
            </li>
            
        </ul>
    </div>
</div>
<script type="text/javascript">$j('.dropdown-toggle').dropdown();</script>