<?php
/**
 * 20120425 Settv product sort toolbar
 *                     Sean
 */
?>

<?php if($this->getCollection()->getSize()): ?>      
    <?php if( $this->isExpanded() ): ?>
    	<div class="funtion2">
			<?php echo $this->__('Sort By').":" ?>
            <?php $SortOrders = $this->getAvailableOrders() ; ?>
            <?php foreach($SortOrders as $_key=>$_order): ?>
            	
            		<?php if($this->isOrderCurrent($_key)): ?>
            			<?php echo $this->__($_order) ?>
            			<?php if($this->getCurrentDirection() == 'desc'): ?>
                			<a href="<?php echo $this->getOrderUrl(null, 'asc') ?>" title="<?php echo $this->__('Set Ascending Direction') ?>"><img src="<?php echo Mage::getDesign()->getSkinUrl('imgs/icon/arr1.png')?>" alt="<?php echo $this->__('Set Ascending Direction') ?>"  /></a>
            			<?php else: ?>
                			<a href="<?php echo $this->getOrderUrl(null, 'desc') ?>" title="<?php echo $this->__('Set Descending Direction') ?>"><img src="<?php echo Mage::getDesign()->getSkinUrl('imgs/icon/arr2.png')?>" alt="<?php echo $this->__('Set Descending Direction') ?>"  /></a>
            			<?php endif; ?>
            		<?php else:?>
            			<a href="<?php echo $this->getOrderUrl($_key, 'asc') ?>" ><?php echo $this->__($_order) ?></a>
            		<?php endif; ?>  
            	<?php echo " | "?>         	
            <?php endforeach; ?>
            
    	</div>
    <?php endif; ?>
  

<?php endif ?>
