/* Global Styles ========================================================================= */
/* Form Elements */
input,select,textarea,button { vertical-align:middle; color:#2f2f2f; }
input.input-text,select,textarea { background:#fff; border:1px solid #e9e9e9; }
input.input-text,textarea { padding:5px 2px; }
select { padding:4px 2px; }
select option { padding-right:10px; }
select.multiselect option { border-bottom:1px solid $base-border-color; padding:2px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { display: inline-block; margin-right: 3px; margin-top: 0;}
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; text-align:center; }
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button {
	border : 1px solid $button-border-color;
	background : $button-background;
	color : $button-textcolor;
	padding : 0 30px;
	line-height: 38px;
	border-radius : 0;
	-moz-border-radius :0;
	font-size: 15px;
	font-family: 'robotolight';
	text-transform: uppercase;
}
button.button:hover{
	border-color : $button-hover-border-color;
	background : $button-hover-background;
	color : $button-hover-textcolor;
}
button.button span {}
button.button span span {}
button.disabled span { border-color:#bbb !important; background:#bbb !important; }

button.btn-checkout span {}
button.btn-checkout span span {}
button.btn-checkout.no-checkout span { background-position:0 100%; color:#b8baba; }
button.btn-checkout.no-checkout span span { background-position:100% 100%; }

p.control input.checkbox,
p.control input.radio { margin-right:6px; }

/* Form Highlight */
input.input-text:focus,select:focus,textarea:focus { background-color:#eee; }
.form-list li { margin:0 0 8px; }
.form-list label { float:left; color:#666; position:relative; z-index:0; margin:0; font-weight: normal; padding: 0 0 2px; }
.form-list label.required {}
.form-list label.required em { float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-8px; }
.form-list li.control label { float:none; vertical-align: middle; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { margin-right:6px; display : inline-block; margin-top: 0; }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }

.form-list .input-box { display:block; clear:both; width:100%; }
.form-list .field { float:left; width:49%; }
.form-list .field:last-child{ float: right;}
.form-list input.input-text { width:100%; min-height:34px;}
.form-list textarea { width:100%; height:10em; }
.form-list select { width:100%; }
.form-list li.wide .input-box { width:100%; }
.form-list li.wide input.input-text { width:100%; }
.form-list li.wide textarea { width:100%; }
.form-list li.wide select { width:100%; }
.form-list li.additional-row { border-top:1px solid $base-border-color; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove { float:right; margin:5px 0 0; }
.form-list .input-range input.input-text { width:74px; }

.form-list-narrow li  { margin-bottom:0; }
.form-list-narrow li .input-box { margin-bottom:6px; }
.form-list-narrow li.wide .input-box { width:100%; }
.form-list-narrow li.wide input.input-text,
.form-list-narrow li.wide textarea { width:100% }
.form-list-narrow li.wide select { width:100%; }

/* Customer */
.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box { width:auto; }

.form-list .name-prefix { width:65px; }
.form-list .name-prefix select { width:55px; }
.form-list .name-prefix input.input-text { width:49px; }

.form-list .name-suffix { width:65px; }
.form-list .name-suffix select { width:55px; }
.form-list .name-suffix input.input-text { width:49px; }

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname { width:140px; }
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text { width:124px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename .name-middlename { width:210px; }

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename .name-middlename,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname { width:205px; }

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename .name-middlename input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year { float:left; width:85px; }
.form-list .customer-dob input.input-text { display:block; width:74px; }
.form-list .customer-dob label { font-size:10px; font-weight:normal; color:#888; }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { width:60px; }
.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { width:46px; }
.form-list .customer-dob .dob-year { width:140px; }
.form-list .customer-dob .dob-year input.input-text { width:134px; }



.buttons-set { clear:both; margin:4em 0 0; padding:8px 0 0; border-top:1px solid $base-border-color; text-align:right; }
.buttons-set p.required { margin:0 0 10px; }
.buttons-set .back-link { float:left; margin:0; }
.buttons-set button.button { float:right; margin-left:5px; }

.buttons-set-order { margin:10px 0 0; }
.buttons-set-order .please-wait { padding:12px 7px 0 0; }

.fieldset {}
.fieldset .legend { display: none;}

.fields:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Form Validation */
.validation-advice { clear:both; min-height:13px; margin:5px 0 0; padding-left:17px; font-size:12px; line-height:13px; background:url(../images/validation_advice_bg.gif) 2px 0 no-repeat; color:#eb340a; }
.validation-failed { border:1px dashed #eb340a !important; background:#faebe7 !important; }
.validation-passed {}
p.required { font-size:11px; text-align:right; color:#EB340A; }
/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }