/* Reset ================================================================================= */
@import "variables";
* { margin:0; padding:0; }
body          {
	background :					$body-background; 
	font-size :						$base-font-size;
	line-height: 					$base-line-height;
	font-family: 					$base-font-family;				
	color:							$text-color; 
	text-align:						$body-text-align; 
}
.page		  { background: $page-background;}
img           { border:0; vertical-align:top; }
a             { color: $link-color; text-decoration: none; }
a:hover       { text-decoration:none; color: $link-hover-color;}
a:focus       { outline:0; text-decoration:none; }
p			  { font-size: 14px;}
ul,ol         { list-style:none; margin: 0}

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left		  { float:left !important; }
.f-right      { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }

/* Table */
table         { border:0; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* fix bootstrap */
.data-table.table > thead > tr > th{
	border-width: 0 0 1px;
	text-transform: uppercase;
}
.page .label,
.page label{ 
	color: inherit;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    padding : 0;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger{ text-shadow: 0 0 0 #FFFFFF;}
.page label{ margin: 0;}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
	outline: none;
	outline-offset: 0;
}
/* End fix bootstrap */
/* ====================================================================================== */
.clearfix{ clear: both;}
.clearfix:after,
.buttons-set:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.z-links{ 
	display: inline-block; background: $secondary-color; color:#fff; text-transform: uppercase; font-size: 15px; padding: 7px 40px; font-family: 'robotolight';
	&:hover{ background: $primary-color; color: #fff;}

}
