/* Page Heading */
.page-title { 
	width:100%; overflow:hidden; border-bottom:1px solid #ccc; margin:0 0 25px; 
	h1,h2{
		margin:0; font-size:20px; color:#0a263c;
	}
	.separator { margin:0 3px; }
	.link-rss { float:right; margin:7px 0 0; }
}

.title-buttons { 
	text-align:right; 
	h1,h2,h3,h4,h5,h6 { float:left; }
}

.subtitle,
.sub-title { clear:both; padding:15px 0 0; font-size:15px; margin:0 0 6px; color:#e25203; }

/* Data Table */
.data-table { 
	width: 100%;
	td.last,th.last { border-right:0; }
	tr.last th,tr.last td {}
	th { padding:3px 8px; font-size: 16px;}
	td { padding:3px 8px; }
}

.data-table {
	thead {
		th {}
		th.wrap {}
		th a,th a:hover { color:#fff; }
		.tax-flag { font-size:11px; white-space:nowrap; }
	}
}

.data-table tfoot {}
.data-table tfoot tr.first td {}
.data-table tfoot tr {}
.data-table tfoot td {}
.data-table tfoot strong {}

.data-table tbody th,
.data-table tbody td { }
/* Bundle products tables */
.data-table tbody.odd tr {}
.data-table tbody.even tr {}
.data-table tbody.odd tr td,
.data-table tbody.even tr td {}
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td {}

.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
.data-table tbody td .option-value { padding-left:10px; }


/* Class: std - styles for admin-controlled content */
.std .subtitle { padding:0; }
.std ol.ol { list-style:decimal outside; padding-left:1.5em; }
.std ul.disc { list-style:disc outside; padding-left:18px; margin:0 0 10px; }
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote { padding:0; }
.std ul { list-style:disc outside; padding-left:1.5em; }
.std ol { list-style:decimal outside; padding-left:1.5em; }
.std ul ul { list-style-type:circle; }
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { margin:.5em 0; }
.std dt { font-weight:bold; }
.std dd { padding:0 0 0 1.5em; }
.std blockquote { font-style:italic; padding:0 0 0 1.5em; }
.std address { font-style:normal; }
.std b,
.std strong { font-weight:bold; }
.std i,
.std em {}

/* Misc */
.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last { background:none !important; padding-right:0 !important; }

.link-cart {}
.link-wishlist {}
.link-reorder {}
.link-compare {}
.link-print { /*background:url(../images/i_print.gif) 0 2px no-repeat; padding:2px 0 2px 25px;*/ font-weight:bold; color:#dc6809; }
.link-rss { background:url(../images/i_rss.gif) 0 2px no-repeat; padding-left:18px; line-height:14px; white-space:nowrap; }
.btn-remove  { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(../images/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-previous  { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(../images/btn_previous.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-remove2 { display:block; width:16px; height:16px; font-size:0; line-height:0; background:url(../images/btn_trash.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-edit    { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(../images/btn_edit.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }

.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }

.separator { margin:0 3px; }

.divider { clear:both; display:block; font-size:0; line-height:0; height:1px; margin:10px 0; background:url(../images/bkg_divider1.gif) 0 50% repeat-x; text-indent:-999em; overflow:hidden; }
/* ======================================================================================= */
.guest-select {width:305px !important;}