@CHARSET "UTF-8";

#album, .album {position: relative;width: 300px;height: 225px;overflow: hidden;margin: 0 auto;border: 0px solid #ffffff;background-color: #ffffff;}
#paging, .paging {position: absolute;top: 0px;left: 0px;width: 300px;height: 225px;}
#paging div.page, .paging div {float: left;width: 300px;height: 255px;margin: 0px;border: 0px solid #666666;background-color: #ffffff;background-position: 50% 50%;background-repeat: no-repeat;color: #ffffff;text-align: center;font-size: 0.85em;display: none;cursor: pointer;}
