/**/
.ei-slider{
	position: relative;
	width: 100%;
	max-width: 1920px;
	/*height: 498px; */
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 498px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
	object-fit: cover;
}
.ei-title{
/* Edward Edit 2014/11/20 */
/*  left: 0;  */
    margin: 0 auto;
/*  padding-left: 25%; */
    position: absolute;
    right: 0;
    top: 18%;
    display: none;/
}
.ei-title h2, .ei-title h3{
	text-align: right;
	float: right;
	clear: both;
	padding:5px 20px;
}
.ei-title h2{
	font-size: 50px;
	line-height: 1.2;
	font-family: 'robotothin';
	color: #fff;
	background-color: rgba(0, 0, 0, .3);
}
.ei-title h3{
	font-size: 15px;
	font-family: 'robotothin';
	line-height: 22px;
	color: #fff;
	background-color: rgba(0, 0, 0, .3);
	
}
.ei-slider-thumbs{
	height: 13px;
	margin: 0 auto;
	position: relative;
	top: -45px;
    z-index: 99;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: url(nav.png) center -46px no-repeat;
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: url(nav.png) center -2px no-repeat;
	width: 100%;
	height: 100%;
	cursor: pointer;
	
}
.ei-slider-thumbs li a:hover{

}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
    .ei-slider{height:200px}
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 0;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	/*.ei-slider-thumbs{ margin: 0 0 0 10px;}*/
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
	.ei-slider-large li img{width: 100% !important;height: auto !important; margin: 0 !important;}
	.ei-slider-large {height: 100%;width: 100%;position: relative;/* overflow: hidden; */margin-top: 0;padding: 20px 0 0 0;}
	.ei-slider-large li {position: absolute;top: 0px;left: 0px;/* overflow: hidden; */height: 250px;width: 100%;text-align: center;}
}
@media screen and (max-width: 640px) {
	.ei-slider{height:150px}
	.block-viewed{display: none;}
	}
}
@media screen and (max-width: 400px) {
	.ei-title{display: none}
	/*voskaul edit 2014/11/25*/
	#slideshow{/* display: none !important;*/}
	.ei-slider-large li{display: block;}
	/*.ei-slider-large li img{ max-width: none ; height: 10px !important}*/
	.ei-slider-large li img{ max-width: none ;width: 90% !important ; height: 120px !important; margin-left: 5% !important; margin-right: 5% !important;}
	/*.ei-slider-large{height:180px}*/
	.ei-slider-large{height:120px!important}
	/*.ei-slider{height: 190px}*/
	.ei-slider{height: 120px!important}
	.ei-slider-thumbs{top: -15px;}
}

