<?php $_product = $this->getProduct();
	$id = $_product->getZanbrand();
?>
<?php if( $id && Mage::getStoreConfig( "zantheme_brand/general_setting/enable_icon" ) ): $brand =  $this->helper('zantheme_brand/data')->getBrandById($id); ?>
<div class="product-brand" style="clear:both">
	<strong><?php echo $this->__("Brand");?></strong> <a href="<?php echo $brand->getLink();?>" title="<?php echo $brand->getTitle();?>">
		<img src="<?php echo $brand->getIconUrl();?>" title="<?php echo $brand->getTitle();?>"/>
	</a>
</div>
<?php endif; ?>
