<div>
	<script>
	<?php $data = $this->getData("data"); ?>
	var fmcvsspot = '<?php echo $data["cvsspot"]; ?>';
	var fmname = '<?php echo $data["name"]; ?>';
	var fmaddr = '<?php echo $data["addr"]; ?>';
	window.opener.popupWindowHandler.setResult(fmcvsspot, fmname, fmaddr);
	window.close();
	</script>
</div>