<?php
/**
 *   20120420 Sean
 *   
 * General Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>

<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $_productCollection->setPageSize(20);
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="common">
	
    <?php $this->getChild('generaltoptoolbar')->setCollection($this->getLoadedProductCollection());?>
    <?php echo $this->getChildHtml('generaltoptoolbar') ?>
    
    <h6><span class="notext  title1">一般商品</span></h6>
	
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    
    
    <ul id="general">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        	
        <?php endif ?>
        
        	<li>
        	<?php $NowProduct = Mage::getModel('catalog/product')->load($_product->getId()); ?>
        	<?php $ProdStoreCode = htmlspecialchars($NowProduct->getAttributeText('sale_store'), ENT_QUOTES); ?>
        	<a href="<?php echo $_product->getProductUrl().'?___store='.$ProdStoreCode; ?>">
        	<div class="txtArea">
        	       	
              <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(220,165); ?>" width="220" height="165" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">            
            
            <h2><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
            <p><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></p>
            
            </div>
            <?php /*echo $this->getPriceHtml($_product, true) */?>
            
            <?php 
            	$Sprice = $_product->getFinalPrice();
            	echo "<span><em>$</em>".round($Sprice,0)."</span>";
            	/*
            	$Lprice = $_product->getPrice();
            	$Sprice = $_product->getFinalPrice();
            	if($Lprice == $Sprice){
                	echo "<span><em>$</em>".round($Lprice,0)."</span>";
            	}
            	else
            	{
            		echo "<span><p class='ex'><em>$</em>".round($Lprice,0)."</p><em>$</em>".round($Sprice,0)."</span>";
            	}
            	*/ 
            ?>
             
                        
            <!-- <div class="tab" style="display:none"><em>獨 家</em></div>  -->
            <?php /* $Att = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialNote(); */?>
            <?php $Att = $_product->getSpecialNote();?>
            <?php if($Att!= ''):?>
            <div class="tab"><em><?php echo $Att ?></em></div> 
            <?php endif ?>
            </a>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        	
        <?php endif ?>
    <?php endforeach ?>
    </ul>
    <div class="toolbar-bottom">
        <?php $this->getChild('generaltoolbar')->setCollection($this->getLoadedProductCollection());?>
        <?php echo $this->getChildHtml('generaltoolbar') ?>
        <?php /* echo $this->getToolbarHtml() */ ?>
    </div>
</div>
<?php endif; ?>
