<?php
	$params = $this->_helper;
	$animSpeed = $params->getConfig($config, 'duration', 8000);
	$pauseTime = $params->getConfig($config, 'interval', 5000);
	
	$control = $params->getConfig( $config, 'control', 1);
	$directionNav = $params->getConfig($config, 'directionNav',1);
	$startSlide = $params->getConfig($config, 'startSlide', 0 );	
	$showdesc = $params->getConfig($config, "showdesc", 0);
	$autoplay = $params->getConfig($config, "manualAdvance");	
	
	$auto = true;
	if($autoplay == 1){ $auto = 'true';} else{ $auto = 'false';};	

?>
<section id="slideshow">	     
	<div id="ei-slider" class="ei-slider">
		<ul class="ei-slider-large">
			<?php foreach ($items as $item): ?>
					<li>			
						<a href="<?php echo $item['link']; ?>" title="">					
							<img src="<?php echo $item['mainImage'];?>" width="1920" height="498" title="#title<?php echo $item['position']?>" alt=""/>
						</a>
						<?php if($showdesc == 1):?>
					<!--	<div class="ei-title container"> -->
						<div class="ei-title">
							<h2><?php echo $this->__($item['title'])?></h2>
							<h3><?php echo $this->__($item['description']) ?></h3>
						</div>
						<?php endif; ?>
					</li>				
				<?php endforeach;?>
		</ul>			
		<ul class="ei-slider-thumbs">
			<li class="ei-slider-element">Current</li>
			<?php foreach ($items as $item): ?>
				<li><a href="#">x</a></li>
			<?php endforeach;?>			
		</ul><!-- ei-slider-thumbs -->

	</div>
	
	<script type="text/javascript">
		jQuery.noConflict();
		jQuery(window).load(function() {
			jQuery('#ei-slider').eislideshow({
				animation			: 'center',
				autoplay			: <?php echo $auto;?>,
				slideshow_interval	: <?php echo $animSpeed;?>,
				titlesFactor		: 0
			});
		});
	</script> 
</section>


