<?php if($_shippingRateGroups = $this->getShippingRates()): ?>
    <div id="order-shipping-method-choose" style="display:none">
    <dl class="shipment-methods">
    <?php $_isSelected = false ?>
    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <dt><strong><?php echo $this->getCarrierName($code) ?></strong></dt>
        <dd>
            <ul>
            <?php foreach ($_rates as $_rate): ?>
                <?php $_radioProperty = 'name="order[shipping_method]" type="radio" onclick="order.setShippingMethod(this.value)"' ?>
                <?php $_code=$_rate->getCode() ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
                        <ul class="messages">
                            <li class="error-msg"><?php echo $_rate->getErrorMessage() ?></li>
                        </ul>
                   <?php else: ?>
                        <?php
	                        if ($this->isMethodActive($_code)){
	                        	$_checked = 'checked="checked"';
	                        	$_isSelected = true;
	                        } else {
	                        	$_checked = '';
	                        }
                        ?>
                        <input <?php echo $_radioProperty ?> value="<?php echo $_code ?>" id="s_method_<?php echo $_code ?>" <?php echo $_checked ?>/>
                        <label class="normal" for="s_method_<?php echo $_code ?>">
                            <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()?> -
                            <strong>
                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                                <?php echo $_excl; ?>
                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                <?php endif; ?>
                            </strong>
                        </label>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>
        </dd>
    <?php endforeach; ?>
    	<?php if (Mage::getStoreConfig('carriers/familymart/active', false)==true): ?>
    	<dt>
    		<strong><?php echo Mage::helper('sales')->__('Familymart Shipping') ?></strong>
    	</dt>
    	<dd>
            <ul>
                <?php $_radioProperty = 'name="order[shipping_method]" type="radio" onclick="order.setShippingMethod(this.value)"'; ?>
                <?php $_code="familymart_" ; ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
                        <ul class="messages">
                            <li class="error-msg"><?php echo $_rate->getErrorMessage() ?></li>
                        </ul>
                   <?php else: ?>
                   		<?php 
                   			if (empty($_isSelected)){
								$_checked = 'checked="checked"';
								
								$this->getAddress()->setShippingDescription( Mage::helper('sales')->__('Familymart Shipping'))->save();
							} else {
								$_checked = '';
							}
                   		?>
                        <input <?php echo $_radioProperty ?> value="familymart_" id="s_method_familymart_" <?php echo $_checked ?>/>
                        <label class="normal" for="s_method_familymart_">
                            <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()?> -
                            <strong>
                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                                <?php echo $_excl; ?>
                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                <?php endif; ?>
                            </strong>
                        </label> 
                   <?php endif ?>
                </li>
            </ul>
        </dd>
        <?php endif ?>
    </dl>
    </div>
    <?php if ($_rate = $this->getActiveMethodRate()): ?>
        <div id="order-shipping-method-info">
            <strong><?php echo $this->getCarrierName($_rate->getCarrier()) ?></strong><br/>
            <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription() ?> -
            <strong>
                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                <?php echo $_excl; ?>
                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                <?php endif; ?>
            </strong>
            <!--input type="text" class="input-text" style="width:70px"/-->
            <br/>
            <a href="#" onclick="$('order-shipping-method-info').hide();$('order-shipping-method-choose').show();return false">
                <?php echo Mage::helper('sales')->__('Click to change shipping method') ?>
            </a>
        </div>
    <?php else: ?>
    	<?php
    		$fmshipname = $this->_getSession()->getOrder()->getShippingAddress()->getFirstname();    	
    		$custom_order = Mage::getModel('check/custom_order')->loadByOrderId($this->_getSession()->getOrder()->getId());
	    	$fminfo = unserialize($custom_order->getShippingdescription());
	    	$fmstorename = $fminfo['fmstorename'];
	    	$fmstoreaddr = $fminfo['fmstoreaddr'];
	    	$fmstorecode = $fminfo['fmstorecode'];
    	?>
        <div id="order-shipping-method-info">
            <strong><?php echo Mage::helper('sales')->__('Familymart Shipping') ?></strong>
            <!--input type="text" class="input-text" style="width:70px"/-->
            <br/>
            <a href="#" onclick="$('order-shipping-method-info').hide();$('order-shipping-method-choose').show();return false">
                <?php echo Mage::helper('sales')->__('Click to change shipping method') ?>
            </a>
            <div class="_id_usefamilymart_select">
            	<div class="familymartItem"><?php echo $this->__('Ship to Name') ?>:<input name="order[fmshipname]" class="required-entry required-chinese" type="text" value="<?php echo $fmshipname ?>" /></div>
            	<input type="button" value="選擇取貨門市" onclick="javascript:popupWindowHandler.openFamilyMart();" />
				<div class="familymartItem"><?php echo $this->__('Logistic Store Name') ?>:<input name="order[fmstorename]" type="text" class="required-entry" id="fm_pickup_storename" value="<?php echo $fmstorename?>" readonly /></div>
				<div class="familymartItem"><?php echo $this->__('Logistic Store Address') ?>:<input name="order[fmstoreaddr]" type="text" class="required-entry" id="fm_pickup_address" value="<?php echo $fmstoreaddr?>" size="60" readonly /></div>
				<input type="hidden" name="order[fmstorecode]" value="<?php echo $fmstorecode?>" id="fm_pickup_storecode" readonly  />		
            </div>
        </div>        
    <?php endif; ?>
<?php elseif($this->getIsRateRequest()): ?>
    <strong><?php echo Mage::helper('sales')->__('Sorry, no quotes are available for this order at this time.') ?></strong>
<?php else: ?>
    <div id="order-shipping-method-summary">
        <a href="#" onclick="order.loadShippingRates();return false">
            <?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
        </a>
        <input type="hidden" name="order[has_shipping]" value="" class="required-entry">
    </div>
<?php endif; ?>
<div style="display:none;" id="shipping-method-overlay" class="overlay"><span><?php echo $this->__('Shipping method selection is not applicable') ?></span></div>
<input type="hidden" id="familymart-url" value="<?php echo Mage::getStoreConfig('carriers/familymart/selectlocurl', false) ?>"/>
<script type="text/javascript">
order.overlay('shipping-method-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
order.overlay('address-shipping-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
	
</script>
