/* BreadCrumbs */
.breadcrumbs { 
	padding : 				$brc-padding;
	border-bottom : 		$brc-border;
	margin : 				$brc-margin;
	@include clearfix();
	strong, a {
		font-weight: normal;
		font-size: 12px;
		color: #2e2e2e;
		display: inline-block;
		line-height: 46px;
	}
	strong{ color: #a8a8a8;}
}
.breadcrumbs ul{
	float : right;
}
.breadcrumbs h1,
.breadcrumbs h1 strong
{
	font-size : 28px;
	color : #282828;
	text-transform: uppercase;
	float : left;
	font-family: 'robotoregular';
}
.breadcrumbs li { 
	display:inline; 
	span { padding: 0 3px;}
}

