/* Header ================================================================================ */

/* Toplinks */
.toplinks{ 
	border-bottom: 		$toplinks-border ; 
	padding: 			$toplinks-padding; 
	background: 		$toplinks-background;
}
.toplinks .links { 		height: 30px; line-height: 30px;}
.toplinks .links a{ 
	font-size: 			$toplinks-fontsize; 
	color: 				$toplinks-color; 
	display: 			inline-block; 
	padding: 			0 20px;
	border-right: 		$toplinks-link-border;
	height: 			18px;
    line-height: 		18px;
    &:hover{ 			color: $toplinks-color-hover;}
}

.toplinks .links .first a{ padding-left: 0;}
.toplinks .links .last a{ border: none;}

.logo { float:left; }
.header-container { background : $head-background;}
.header { 
	display : table; height: $head-height; width: 100%; @include clearfix();
	color: $head-color;
}
.header .logo { display: table-cell; vertical-align: middle; float: none;}
.header .logo img{ vertical-align: middle;}
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header h1.logo { margin:0; }
.header .quick-access {
	@include clearfix();
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	select{ border-color: #cacaca; font-size: 13px; padding: 2px; }
	p{ display: inline-block; padding: 0 20px 0 10px; line-height: 24px;}
}
.header .welcome-msg { text-align: right; display: block !important; padding: 0 !important; margin: 0 0 12px; font-size: 12px; font-family: 'robotobold';}
.header .welcome-msg a {}

/* Social */
.social li{ display: inline-block; height: 30px; line-height: 30px;}
.social a { 
	color: #434343;
    font-size: 19px;
    padding: 0 0 0 14px;
    &:hover{ color: $primary-color;}
}

/* Search */
.header .form-search { position : relative; float : left;}
.header .form-search label { float:left;}
.header .form-search input.input-text { float:left; border-color:#5c7989; width:220px; }
.header .form-search button.button { float:left; }
.header .form-search button.button span {}
.header .form-search button.button span span {}
.header .form-search .search-autocomplete { z-index:99;}
.header .form-search .search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
.header .form-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .form-search .search-autocomplete li.odd {}
.header .form-search .search-autocomplete li.selected {}
.form-search:after{
  display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search{
	background-color: $primary-color;
}

/* End Search */

.header .form-language { float : right; margin: 0 0 0 8px; }
.header .form-language label { display: none;}
.header .form-language select.flags option { background-position:4px 50%; background-repeat:no-repeat; padding-left:25px; }
.header .links { float:right; }
.header .links li { padding:0 8px 0 7px; display: inline-block; }
.header .links a {}
.header-container .top-container { clear:both; padding:5px 10px 0 12px; text-align:right; }
.header-container .top-container a { font-size:11px; color:#ebbc58; }

/* Currency */
.top-currency{ float: right;}

/* Cart */
.ico-cart a{ line-height: 42px; color: $topcart-color;}
.ico-cart i{ font-size: 17px; padding: 0 5px 0 10px;} 
.cart-top .item{
	@include clearfix();
	margin: 0 0 15px;
	.product-image{ float: left; margin: 0 10px 0 0;}
	.product-details{ 
		overflow: hidden;
		color: #999;
		a{ float: right;}
		a.btn-remove{ background-color:#777; background-position: center;}
		a.btn-edit{ display: none;}
		.product-name a{ line-height: 1.3; color: #999 !important; float: none; font-size: 13px; display: block;}
	}
}
.cart-top .block-subtitle{ text-transform: uppercase;}
.cart-top .summary {
	@include clearfix();
	border-top: 1px solid #454545;
	padding: 15px 0 20px ;
	span{ display: inline-block; line-height: 20px; float: left; padding: 0 5px 0 0;}
	.price{ color: $primary-color;}
}
.cart-top .actions {
	margin-bottom: 10px;
	a{ 
		border: 1px solid #454545;
		color: #F1F1F1;
		line-height: 1.3;
		padding: 5px 10px 7px;
		margin: 0 5px 0 0;
		&:hover{ background: #333;}
	}
}


/* End Header ================================================================================ */
/* dropdown */
.drop-dow{ position:relative; z-index:999;}
.drop-content{ 
	background: $topcart-background;
	border-top: $topcart-border;
    display: none;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 270px;
    z-index: 9;
}
.drop-content p{ font-size: 13px; color:#f0f0f0}
.drop-content .links li:hover a{ background:none;}
.drop-content .links li a{ line-height:18px;}
.links li.ico .drop-content{
	box-shadow:-1px 1px 3px #666;
	-webkit-box-shadow:-1px 1px 3px #666;
}

/* end dropdown */