/* Messages ================================================================================= */
.success { color: $success-color; font-weight:bold; }
.error { color: $error-color; font-weight:bold; }
.notice { color: $notice-color; }

.messages{
	width:100%; overflow:hidden;
	ul { list-style:none; margin:0 !important; padding:0 !important; }
	li { margin:0 0 10px; 
		li { margin:0 0 3px !important; }
	}
}
.error-msg,
.success-msg,
.note-msg,
.notice-msg { padding:10px 15px; font-size: 14px;}
.error-msg { background-color: $error-background; color: $error-color; }
.success-msg { background-color: $success-background; color: $success-color; }
.note-msg,
.notice-msg { background-color: $notice-background;color: $notice-color; }
.validation-advice{ color: $error-color;}

/* Global site notices */
.global-site-notice { border:1px solid #cfcfcf; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f; }
.global-site-notice .notice-inner { width:860px; margin:0 auto; padding:12px 0 12px 80px; background:url(../images/i_notice.gif) 20px 25px no-repeat; text-align:left; }
.global-site-notice .notice-inner p { margin:0; border:1px dotted #cccc73; padding:10px; }
.global-site-notice .notice-inner .actions { padding-top:10px; }
/* End Messages ================================================================================= */