/********** < Navigation */
.main-nav{ background: $nav-background; position: relative; }
#nav {}
/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { 
	position:relative; text-align:left; 

}
#nav li.over { z-index:998; }
#nav a,
#nav a:hover { display:block; text-decoration:none; }
#nav span { display:block; cursor: pointer; white-space: nowrap; }
#nav li ul span {white-space: normal; }
#nav ul li.parent a {}
#nav ul li.parent li a {}
#nav ul li.parent > ul{ left: 100%;}

/* 0 Level */
#nav li.level-top { 
    float:left; padding:0 21px 0 20px; background:url(#{$image-url}bg-nav.jpg) right center no-repeat; 
    &.last{ background:none;}
}
#nav li.level-top.first { padding-left: 5px;}
#nav li.active > a { color: $nav-linkcolor-active; }
#nav a.level-top{ 
	float: left; 
	line-height: 42px;
	color: $nav-linkcolor; 
    font-size: 13px;
}
#nav li.over > a,
#nav li:hover > a{ color: $nav-linkcolor-hover; }

/* 1st Level */
#nav ul li{ border-bottom: 1px solid #333;}
#nav ul li:last-child{ border-bottom: none;}
#nav ul li,
#nav ul li.active { float:none; margin:0;}
#nav ul li.last { padding-bottom:0; }

#nav ul a,
#nav ul a:hover { float:none; padding:0; background:none; }
#nav ul li a { font-weight:normal !important; }

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:16em; top:100%; left: 0;}
#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top: 0; border-top: none;}

#nav ul{ background: $nav-child-background; padding: 0 0 10px; }
#nav ul li a:hover { background: $nav-child-background-hover; }
#nav ul li a { color:$nav-child-linkcolor; }
#nav ul li a:hover { color: $nav-child-linkcolor-hover; }
#nav ul span,
#nav ul li.last li span { padding:6px 18px; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { z-index:999; }
/********** Navigation > */


#nav, #nav ul {
    position: relative;
	margin : 0;
}

#nav a:link, #nav a:active,
#nav a:visited {}

#nav li {
    position: relative;
}

#nav ul {
    position: absolute;
    display: none;
	border-top:1px solid #454545;
}
.nav-container em{ display: none !important;}
.applePie{ display: none;}
@media screen and (max-width:801px){
    .applePie{ display: block;}
    .nav-container{ display: none;}
}

