/* Product Block ========================================================================= */
.product-block{ margin-top: 20px;}
.product-name { margin:0; font-size:1em; font-weight:normal; }
.product-name a { font-size: 16px;}
.product-image img{ max-width: 100%; height: auto;}
table .product-image img{ max-width: none;}


/* Product style */
.pt-style2{
	.products-grid{ margin-bottom: 10px;}
	.product-block .product-meta{ position: relative; padding: 12px 0 0;}
	.product-meta .actions{ position: absolute; right: 0; bottom: 100%;}
	.product-block,
	.product-block .product-meta .actions{ border: none;}
	.product-block .product-meta .actions{ height: auto; margin:0 ; padding: 0;}
	.product-block .product-meta .product-name{ border-bottom: 1px solid #BEBEBE; padding: 0 0 12px; margin: 0 0 2px;}
	.product-meta .actions .button-cart, .product-meta .actions .add-to-links li, .product-meta .actions .a-popup{ 
		background-color: #FFF;
	    margin: 0 5px 9px 0;
	    text-align: center;
	    vertical-align: middle;
	    width: auto;
	    float: right;
	    &:hover{ background-color: #eee;}

	}
	.product-meta .actions .button-cart button.button,, .product-meta .actions .add-to-links a, .product-meta .actions .a-popup a{
		width: 44px;
		height: 44px;
		overflow: hidden;
    	text-indent: -9999em !important;
	}
	.product-meta .actions .button-cart{
		width: auto;
		min-height: 0;
		float: right;
	}
	.product-meta .actions button.button{ background-position: 11px 9px;}
	.product-meta .actions .add-to-links a.link-wishlist{ background-position: -82px 10px;}
	.product-meta .actions .add-to-links a.link-compare{ background-position: -160px 10px;}
	.product-meta .actions .a-popup a{ background-position: -236px 11px;}
	.product-meta .actions button.button,
	.product-meta .actions .a-popup a{ float: none; padding: 0; }
	.product-meta .actions .add-to-links a.link-wishlist,
	.product-meta .actions .add-to-links a.link-compare,
	.product-meta .actions .a-popup a{ margin: 0; vertical-align: middle;}

}

/* Product Image */
.product-block {	
	border-bottom: 2px solid $secondary-color;
	.product-image { display: block;}
	.hover{ display:none;}
}

/* Product Meta */
.product-block{
	.product-meta {
		@include clearfix();
		padding: 20px 0 0;
		.product-name{
			font-size: 16px; margin: 0 0 5px;
			a{ color: $product-name-color}
		}
		.ratings{
			float: right;
			margin: 9px 0;
			.amount{ display: none;}
		}
		.price-box{ float: left;}
		.actions{ 
			clear: both;
			border-top: 1px solid #bebebe;
			display: inline-block;
			width: 100%;
			margin: 10px 0 0;
			height: 52px;
			padding: 12px 0 0;
		}
	}
} 

/* Product icon */
.product-block .product-icons{
	position: absolute;
	top: 5px;
	right: 12px;
	z-index: 9;
	span{ 
		display: block;
		font-size: 11px; 
		color: $secondary-color;
		text-transform: uppercase;
		font-family: 'robotobold';
		letter-spacing: 2px;
		padding: 4px 0;
		min-width: 50px;
		text-align: right;
		&.i-new{ border-bottom: 4px solid $primary-color;}
		&.i-sale{ border-bottom: 4px solid $secondary-color;}
	}
}

/********** < Product Prices */
.price { white-space:nowrap !important; font-size: 15px;}

.price-box { margin:5px 0; 
	@include clearfix();
	
}
.price-box .price { color: $price-color; }

/* Regular price */
.regular-price .price { font-size:15px; color:$regular-price-color ; }
.block .regular-price,
.block .regular-price .price { color:$regular-price-color; }

/* Old price */
.old-price { float: left; margin: 0 10px 0 0;}
.old-price .price-label { display: none;}
.old-price .price { color: $old-price-color; text-decoration:line-through; font-size: 13px; font-style: italic; }

/* Special price */
.special-price { float: left; margin: 0; }
.special-price .price-label { display: none; }
.special-price .price { color: $special-price-color !important; }

/* Minimal price (as low as) */
.minimal-price { margin:0 !important; }
.minimal-price .price-label { white-space:nowrap; }

.minimal-price-link { clear: both; display: block; font-size: 14px;}
.minimal-price-link .label {
	color: $minimal-price-color;
	font-size: 100%;
    font-weight: normal;
    padding: 0;
}
.minimal-price-link .price { font-weight:normal; color: $minimal-price-color; }

/* Rating */
.no-rating { margin:0 0 10px; }
.ratings { font-size:14px;}
.ratings strong { float:left;}
.ratings .rating-links .separator { display: none;}

.rating-box { width:90px; height:13px; font-size:0; line-height:0; background:url(../images/ratings.png) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:13px; background:url(../images/ratings.png) 0 100% repeat-x; }
.ratings .rating-box { float:left; margin-right:3px; }
.ratings .amount {}

/* Action */
.product-meta .actions{
	@include clearfix();
}
.product-meta .actions {
	.button-cart,
	.add-to-links li,
	.a-popup{
		width: 25%;
		float: left;
		text-align: center;
		list-style: none;
		min-height: 1px;
	}
	.a-popup{ float: right;}
}
.product-meta .actions {
	button.button,
	.add-to-links a,
	.a-popup a{
		width: 20px;
		height: 22px;
		text-indent: 9999em;
		overflow: hidden;
		background-image: url(../images/product-icons.png);
		background-repeat: no-repeat;
		background-color: transparent;
		float: none;
	}
	.add-to-links {
		margin: 0;
		a{
			display: inline-block;
			&.link-wishlist{ background-position: -94px 2px; margin-left: -5%;}
			&.link-compare{ background-position: -172px 2px; margin-right: -30%}
		}
	}
	.a-popup a{ background-position: right 2px; float: right;}
	button.button{ background-position: 0 0; float: left;}
} 

/* View Type: Grid */
.products-grid .product-meta .desc{ padding: 5px 0;}

/* View Type: List */
.products-list div.product-image { float:left; margin: 0 20px 0 0;}
.products-list .product-shop { overflow: hidden;}
.products-list .product-name { margin:0 0 10px; }
.products-list .product-name a{ color:$product-name-color; font-size: 18px;}
.products-list .price-box { float:left; margin:3px 13px 20px 0; }
.products-list .availability { float:left; margin:3px 0 0; }
.products-list .desc { line-height:1.35; clear: both; }
.products-list button.btn-cart { float: left; }
.products-list .rating-box { margin-top: 4px;}
.products-list .desc .link-learn { font-size:11px; }
.products-list .add-to-links { padding: 9px 0 0 15px; }
.products-list .add-to-links li { float: left;}
.products-list .add-to-links .separator { display:none; }
.products-list .p-item { padding: 25px 0; border-bottom: 1px solid #E9E9E9;}
.products-list .product-icons{ 
	span.i-new{ border-bottom: 4px solid $primary-color; min-width: 50px; float: right; text-align: right;}
	span.i-sale{ border-bottom: 4px solid $secondary-color; min-width: 50px; float: right; text-align: right;}
}

#track_hint{ display:none;}
/* End Product Block ========================================================================= */