<?php
/**
 * 20120430 
 * 
 * WishList for sanlih by Sean
 *
 */
?>
<?php if ($this->helper('wishlist')->isAllow()) : ?>
<form id="wishlist-view-form" action="<?php echo $this->getUrl('*/*/update') ?>" method="post">
<div class="h-title">最愛商品列表</div>
<?php if ($this->hasWishlistItems()): ?>
<div class="faverListDiv">
	<ul>
		<?php $PNo = 0 ;?>
		<?php foreach ($this->getWishlistItems() as $item):      
              $product = $item->getProduct();
              $isVisibleProduct = $product->isVisibleInSiteVisibility();
        ?>
        <li>
           	<img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image'); ?>" width="100" height="75">
            <h4><a href="<?php echo $this->getProductUrl($item) ?>"><?php echo $this->escapeHtml($product->getName()) ?> </a></h4>
            <a href="<?php echo $this->getItemRemoveUrl($item) ?>" class="buttom-a"><?php echo $this->__('Remove') ?></a>
        </li>
        <?php $PNo++;?>
        <?php endforeach ?>  
    </ul>       
</div>
<?php else: ?>
    <p><?php echo $this->__('You have no items in your wishlist.') ?></p>
<?php endif; ?>

<div class="numDiv">
    <span><?php echo $PNo ?></span>/<span><?php echo $this->getWishlistItems()->getSize() ?></span>
</div>
<script type="text/javascript">decorateTable('wishlist-table')</script>
<?php /*
<div class="moreDiv notext"><a href="#">more</a></div>
 */ ?>
</form>
<?php endif; ?>
    
    <script type="text/javascript">
    //<![CDATA[
    function confirmRemoveWishlistItem() {
        return confirm('<?php echo $this->__('Are you sure you want to remove this product from your wishlist?') ?>');
    }

    function focusComment(obj) {
        if( obj.value == '<?php echo $this->helper('wishlist')->defaultCommentString() ?>' ) {
            obj.value = '';
        } else if( obj.value == '' ) {
            obj.value = '<?php echo $this->helper('wishlist')->defaultCommentString() ?>';
        }
    }

    function addWItemToCart(itemId) {
        var url = '<?php echo $this->getItemAddToCartUrl('%item%') ?>';
        url = url.gsub('%item%', itemId);
        var form = $('wishlist-view-form');
        if (form) {
            var input = form['qty[' + itemId + ']'];
            if (input) {
                var separator = (url.indexOf('?') >= 0) ? '&' : '?';
                url += separator + input.name + '=' + encodeURIComponent(input.value);
            }
        }
        setLocation(url);
    }

    function addAllWItemsToCart() {
        var url = '<?php echo $this->getUrl('*/*/allcart') ?>';
        var separator = (url.indexOf('?') >= 0) ? '&' : '?';
        $$('#wishlist-view-form .qty').each(
            function (input, index) {
                url += separator + input.name + '=' + encodeURIComponent(input.value);
                separator = '&';
            }
        );
        setLocation(url);
    }
    //]]>
    </script>