<?php
	$_labelsHelper = $this->helper('zantheme/labels');	
	$_column = $this->getConfig('itemvisiable');
	
	/* Theme Design */
	$theme = $this->helper('zantheme');	
	$layout = $this->getLayout()->getBlock('root')->getTemplate();
	$setting = $theme->getCfgGroup('category_setting');	
	$proCf = $theme->getCfgGroup('product_setting');	
	
	/* Product */
	$product_style = $proCf[product_style];
	$img_width = $proCf[image_width];
	$img_height = $proCf[image_height];
	$img_prev = $proCf[image_prev];
	$image_prev_ico = $proCf[image_prev_ico];
	$addto_wl = $proCf[addto_wl];
	$addto_cp = $proCf[addto_cp];
	$addto_cart = $proCf[addto_cart];
	$short_des = $proCf[short_des];
	$review = $proCf[review];
	$label_new = $proCf[label_new];
	$label_sale = $proCf[label_sale];
	$price = $proCf[price];
	$link_detail = $proCf[link_detail];
?>

<?php $_helper = $this->helper('catalog/output'); ?>
<?php
	$itemrows = $_column;
	$span = 12/$itemrows;
	$count = count($items);
	$i = 1;
	$moduleId = 'carousel-'.rand().time();
?>

<div id="<?php echo $moduleId;?>" class="custom-list <?php echo $product_style;?>">	
	<div class="row products-grid">
	<?php foreach ($items as $_product): ?>				
	
			<?php
				$small = (string)$this->helper('catalog/image')->init($_product, 'small_image')->resize($img_width,$img_height);						
				$thumb = (string)$this->helper('catalog/image')->init($_product, 'thumbnail')->resize($img_width,$img_height);					
				$small_image = substr($small,-20); 
				$thumbnail = substr($thumb,-20); 				
				$xo = strcmp($small_image,$thumbnail);						
			?>
	
			<div class="<?php if ($img_prev && $xo != 0): ?>p-item<?php endif;?> col-lg-<?php echo $span;?> col-sm-<?php echo $span;?> col-xs-12 ">
				<div class="product-block">		
					<!-- PRODUCT ICONS -->		
					<div class="product-icons">						
						<!-- NEW ICONS -->
						<?php if ($label_new != "hidden"): ?>
						<div class="<?php echo $label_new;?>">
						<?php
							// Get new fromdate
							$newFromDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsFromDate();
							// Get new todate
							$newToDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsToDate();
							$now = date('Y-m-d H:m:s');
							if($newFromDate < $now && $newToDate > $now) {?>
								<span class="p-icon i-new"><?php echo $this->__('New')?></span>
							<?php }?>
						</div>	
						<?php endif;?>	
						
						<!-- SALE ICONS -->
						<?php if ($label_sale != "hidden"): ?>
						<div class="<?php echo $label_sale;?>">
							<?php 
							// Get the Special Price
							$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
							// Get the Special Price FROM date
							$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
							// Get the Special Price TO date
							$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
							// Get Current date
							$today =  time();
						 
							if ($specialprice):
								if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)):
							?>
								<span class="p-icon i-sale"><?php echo $this->__('Sale !')?></span>
							<?php  
								endif;
							endif;
							?> 
						</div>	
						<?php endif;?>	
					</div>
					<!-- END PRODUCT ICONS -->
					
					<!-- PRODUCT IMAGE -->	
					<?php if ($img_prev && $xo != 0): ?>
						<?php if ($image_prev_ico != "hidden"): ?>
							<span class="cbp-pgrotate <?php echo $image_prev_ico?>"><i class="fa fa-repeat"></i></span>
						<?php endif;?>
						<div class="cbp-pgitem">
							<div class="product-image">							
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" >
									<img src="<?php echo $small; ?>" width="<?php echo $img_width;?>" height="<?php echo $img_height;?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
									<img class="i-second" src="<?php echo $thumb; ?>" width="<?php echo $img_width;?>" height="<?php echo $img_height;?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" />
								</a>							
							</div>
						</div>	
					<?php else:?>
						<div class="product-image">							
							<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" >
								<img src="<?php echo $small; ?>" width="<?php echo $img_width;?>" height="<?php echo $img_height;?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />								
							</a>							
						</div>
					<?php endif;?>
					<!-- END PRODUCT IMAGE -->							
					
					<div class="product-meta">									
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>							
						
						<?php if ($price != "hidden"): ?>
							<div class="<?php echo $price?>">
								<?php echo $this->getPriceHtml($_product, true) ?>
							</div>
						<?php endif; ?>							
						
						<?php if ($review != "hidden"): ?>
							<div class="<?php echo $review;?>">
								<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							</div>	
						<?php endif; ?>	
						
						<?php if ($short_des != "hidden"): ?>
							<div class="desc std clearfix <?php echo $short_des;?>">
								<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>									
							</div>
						<?php endif; ?>	
						
						<div class="actions">
							<?php if ($addto_cart != "hidden"): ?>								
								<?php if($_product->isSaleable()): ?>
									<div class="button-cart">
										<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart <?php echo $addto_cart;?>" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									</div>
								<?php else: ?>
									<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
								<?php endif; ?>								
							<?php endif; ?>								
							
							<ul class="add-to-links">
								<!-- ADD TO WISHLIST -->
								<?php if ($addto_wl != "hidden"): ?>
									<?php if ($this->helper('wishlist')->isAllow()) : ?>
										<li class="<?php echo $addto_wl;?>"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
									<?php endif; ?>
								<?php endif; ?>
								
								<!-- ADD TO COMPARE -->
								<?php if ($addto_cp != "hidden"): ?>
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
										<li class="<?php echo $addto_cp;?>"><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
									<?php endif; ?>
								<?php endif; ?>	
							</ul>
							
							<?php if ($link_detail != "hidden"): ?>
								<div class="a-popup <?php echo $link_detail;?>">
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->__('View detail')?>"><?php echo $this->__('View detail')?></a>
								</div>	
							<?php endif; ?>	
						</div>									
					</div>
				</div>	
			</div>	
	
		<?php endforeach;?>
	</div>
<?php if ($img_prev): ?>	
<script>
	var shop = new cbpShop( document.getElementById( '<?php echo $moduleId;?>' ) );		
</script>	
<?php endif; ?>	
</div>