<?php $_helper = $this->helper('catalog/output'); ?>
<?php
	$itemrows =  4;
	$count = count($items);
	$i = 1;
	$moduleId = 'carousel-'.rand().time();
?>
<?php if ($count > 0) :?>
	<div class="block block-bestsallers">
		<?php if($this->getConfig('title')){?>
			<div class="block-title">
				<strong><span><?php echo $this->__($this->getConfig('title'))?></span></strong>		
			</div>
		<?php }?>		
		<div class="block-content scrollbar">
		<?php foreach ($items as $_product): ?>	
			<div class="p-media">
				<div class="product-image">
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" >
						<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(80,101); ?>" width="80" height="101" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />										
					</a>
				</div>
			
				<div class="product-meta">									
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
					<?php echo $this->getPriceHtml($_product, true) ?>
					<?php //echo $this->getReviewsSummaryHtml($_product, 'short') ?>									
				</div>		
			</div>
		<?php endforeach; ?>
		</div>		
	</div>	
	
	<script>
	  jQuery(document).ready(function ($) {
		$('.scrollbar').perfectScrollbar();
	  });			
	</script>
<?php endif;?>	
