/* Product scroll */
.box-scroll .block-title{ /*margin-bottom: 30px;*/}
.box-scroll .products-grid{ margin-bottom: 0;}
.nav-scroll a{ width: 24px; height: 24px; display: inline-block; background: #dedede; text-align: center; line-height: 22px; font-size: 18px;}
.p-media { margin: 28px 0 0;}
.p-media .product-image{ float: left; margin: 0 20px 0 0;}
.p-media .product-meta{ overflow: hidden;}
.p-media .product-meta .product-name a{ color:#262626; font-size: 14px;}

.p-media:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.custom-list .p-item{ margin-bottom: 30px;}

.page .set img{ max-width: 100%; height: auto;}