body em{ /*display: none;*/}
nav em{ display: block;}
@media (min-width: 401px) and (max-width: 800px) {
	.p-item{ padding-top: 10px;}
	.box-scroll .block-title{ margin-bottom: 10px;}
	.page .set{ margin: 0 0 40px;}
	.bottom-info .row > div{ margin-bottom: 20px;}
	.z-links{ padding: 7px 15px; font-size: 13px;}
	.toolbar .view-mode{ margin: 0 8px 0 0;}
	.product-img-box iframe{ width: 100%; }
	.product-meta{ border-bottom:1px solid #bebebe ; margin-bottom: 10px}
	.pt-style2 .product-block .product-meta .product-name{ border-bottom: none ;padding: 0 0 0; height: auto;
max-height: auto;}
	
}
@media screen and (max-width: 640px) {
	.block-viewed{display: none;}
}
@media screen and (max-width: 400px) 
{
	img {max-width: 100%;height: auto; }
	.page .set{ margin: 0 0 15px;}
	p { margin: 0 0 5px; }
	.buttons-set {margin: 0; }
	.page-title h1, .page-title h2 {font-size: 17px; }
	.product-image img{width: 120px!important;}
	.header-container{}
	/* Product block */
	.p-item{ padding-top: 0;}
	.product-block {padding: 10px 0;border: none;}
	.product-block .product-meta .product-name a{ font-size: 14px;}
	.product-image {width: 135px;float: left;padding-right: 10px; }
	.product-block .product-meta{ padding: 0!important;}
	.product-meta {overflow: hidden; }
	.products-grid{ margin-bottom: 10px;}
	.product-block .product-meta .product-name{ margin: 0;}
	.p-media .product-image{ margin-right: 0;}
	 /* Tool-bar */
	.view-mode,.limiter,.toolbar-top,.amount {display: none; }
	
	.sorter {text-align: center;margin: 10px 0 0; }
	.sorter .sort-by { float: none; display: inline-block; }

	 /* Page title */
	 .page-title {margin: 0 0 10px;padding: 5px 0; }
	 /* Product View */
	 .product-view .product-img-box .product-image-zoom { width: 100%; }
	 .product-view .product-img-box .product-image { margin: 0; }
	 .product-icons{ display: none;}
	  product-block .hover { display: block !important;}

	  /*Checkout */
	  #checkout-step-login .buttons-set { padding: 0; }
	  #checkout-step-login ul.ul { margin: 0 0 10px; }
	  #checkout-step-login .buttons-set p.required { display: none; }
	  #checkout-step-login #onepage-guest-register-button { float: left; margin: 0; }

	  #checkout-step-login .f-y-p {float: right !important;margin: 5px 0px 0; }
	  #checkout-progress-wrapper {margin: 15px 0 0; }
	  /* Login or Create */
	  .account-login .content {min-height: 0;margin-bottom: 10px;padding: 15px;}
	
	  .bottom-info .fa{ margin-bottom: 10px;}	
	  .custom-footer-links .row > div{ margin-bottom: 20px;}
	  .footer-container .custom-subscribe .input-box{ width: 68%;}
	  .footer-container .custom-subscribe .actions{ width: 32%;}

	  /* Header */
	  .header{ display:block; text-align: center;}
	  .header .logo{ display: inline-block; margin: 10px 0px 10px  ; float: left}
	  .header img{height:30px;}
	  .header .quick-access { display: none; width: 100%; text-align: center;}
	  .header .quick-access p{ text-align: center; margin: 0;}
	  /*.toplinks{display: none}*/
	  .toplinks .links{ height: auto; line-height: 1.6; text-align: center;}
	  .toplinks .links li{/*width: 20%;*/float: left;}
	  .toplinks .links a{ border: none; padding: 0 12px !important;}
	  .toplinks .socials { float: none !important; text-align: center; padding: 10px 0; clear: both; display: none }
	  .container{margin-top: 0 ;padding-top: 0;}
	  .header-container,{display: none}
	  .block-layered-nav .block-title{display: none}
	  
	  /* NAV */
	  .main-nav{ /*margin: 25px 0;*/}
	  .main-nav .container{ padding: 0px}
	  #nav{ width: 100% ; border-bottom: 1px solid #767676}
	  #nav, #nav ul { text-align: center;}
	  #nav li.level-top{display: inline-block; float: none; background: none}
	  #nav li ul ,#nav li ul li{display: none!important;}
	  .ico-cart {padding-right: 10px; background-color:#fd4a38 ; color: #fff}
	  .ico-cart a{color: #fff}
	  /* sidebar */
	  .p-media{ margin: 10px 0 0;}
	  .block-bestsallers{display: none}
	  .sidebar,.block-layered-nav{margin-bottom: 0;}


		/* Breadcrumd */
		.breadcrumbs{ margin-bottom: 25px; padding: 10px 0;}
		
		/* Module */
		.brand-scroll .item a{ margin-bottom: 10px;}
		
		/*product img*/
		.data-table td img{ max-width: 302px}
		
		 /*footer*/
		 .custom-footer-links{ display: none}
		 .footer {padding:  0; */}
		 .footer-container .coppyright{ border-top: none}
		 .logo-bank{display: none}
		 
		 /*iframe*/
		 .product-img-box iframe{height: 240px; width: 100%; }
		 .fb iframe{width: 300px !important;}
		 
		 /*product img fix*/
		 .product-view .product-img-box .more-views li {
			 width: 33.3%;
		 }
		 
		 /*process shopping*/
		 .men-form{padding:5px !important;}
		 .payment-form h6,.payment-form .bgColor_1 label,.payment-form .bgColor_1 select{ padding: 0 5px !important;}
		 .bgColor_1 select{ margin: 10px 0 0 10px !important}
		 .btn-same2 ul {padding-left: 10px !important;}
		 
}

@media screen and (device-aspect-ratio: 40/71) {
		 .toplinks .links a{ border: none; padding: 0 5px !important;}
			 
 }
