<div id="settv_mem_area" class="member_sbox" style="display: none">
	<div class="arr-mask">
		<ul>
			<li><a href="<?php echo Mage::helper('customer')->getAccountUrl(); ?>">我的帳號</a></li>
			<li><a href="<?php echo Mage::getUrl('customer/address', array('_secure'=>true));?>">通訊錄</a></li>
			<li><a href="<?php echo Mage::getUrl('sales/order/history', array('_secure'=>true));?>">訂單查詢</a></li>
			<li><a href="<?php echo Mage::getUrl('sales/order/cancel', array('_secure'=>true));?>">退訂</a></li>
			<li><a href="<?php echo Mage::getUrl('sales/order/return', array('_secure'=>true));?>">退貨</a></li>
			<li><a href="<?php echo Mage::getUrl('wishlist', array('_secure'=>true));?>">最愛商品</a></li>
			<li><a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>">登出</a></li>
		</ul>
	</div>
</div>
<script>
function toggle_mem_area() {
	var ele = document.getElementById("settv_mem_area");
	var ele_search = document.getElementById("settv_search");
	if(ele.style.display == "block") {
    	ele.style.display = "none";
  	} else {
		ele.style.display = "block";
		ele_search.style.display = "none";
	}
} 
</script>