
.products-grid{
	position: relative;
}
/* If flexbox is supported we'll use it to lay out the grid */
.flexbox .products-grid {

}

.product-block {
	position: relative;
}

.cbp-pgrotate {
	width: 40px;
	height: 40px;
	position: absolute;
	display: block;
	color: transparent;
	font-size: 0;
	z-index: 100;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	background: url(../images/icon-prev-img.png) center no-repeat;
}
.product-block:hover .cbp-pgrotate{}
.no-touch .cbp-pgrotate:hover,
.cbp-pgrotate.cbp-pgrotate-active {}

/* The item with the images will have perspective */
.cbp-pgitem {
	position: relative;
	-webkit-perspective: 1400px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* The flip container */
.product-image {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .4s ease-out;
	-moz-transition: -moz-transform .4s ease-out;
	transition: transform .4s ease-out;
}

.cbp-pgitem.cbp-pgitem-showback .product-image {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.product-image img {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cbp-pgitem img:first-child {
	position: relative;
}

/* The second image will be rotated so that we'd be looking at the back of it */
.cbp-pgitem img:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 1px;
	margin-top: -1px;
	-webkit-transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
	transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
}

/* Fallback for browsers that don't support 3d transforms */
.no-csstransforms3d .cbp-pgitem img:nth-child(2) {
	position: relative;
	top: 0;
	left: 0;
	display: none;
}

.no-csstransforms3d .cbp-pgitem.cbp-pgitem-showback img:first-child {
	display: none;
}

.no-csstransforms3d .cbp-pgitem.cbp-pgitem-showback img:nth-child(2) {
	display: block;
}

/* Media Queries */

