html, body
{
	margin: 0;
	padding: 0;	
	border: 0;
}

body 
{
	font-family:Arial,  sans-serif;
	line-height:1.6em;
	background: #fff;
	padding:5px;
	color: #000;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}

* { padding: 0; margin: 0; }

a{text-decoration:none}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,inut,p,blockquote
{margin:0;padding:0;}

.notext { font-size: 0; line-height: 0; text-indent: -4000px; background-repeat: no-repeat; }
.clearDiv{clear:both ; height:1px ;}