@charset "UTF-8";
/* CSS Document */


.header{ background:#f4442f ; height:42px ; border-bottom:1px solid #e1e1e1}

.logoArea{width:135px; float:left ; padding:2px 0 0 0}
.logoArea a{display:block ; width:135px ; height:39px ; background:url(../imgs/logo.png)}
.toolDiv{padding:7px 0 0 0}
.toolDiv a{ display:block; float:right; margin: 0 5px}
.btn_fun{ background:url(../imgs/icon/ctrl.png) ; width:50px ; height:29px;}
.btn_search{ background:url(../imgs/icon/search.png);width:50px ; height:29px;}

.funDiv{ background-color:#b12920 ; }


.nav{ background:#666666 url(../imgs/menu/menubg.gif) center center no-repeat ; height:36px;padding:2px 1px 0 1px }
.navFix{ margin: 0 auto ; width:320px;}
.navFix div{width:100px; float:left; height:36px;margin:0 3px }
.nav a{display: block ; height:36px; }

.m1{ background:url(../imgs/menu/m-tw-txt.png) center center no-repeat }
.m2{ background:url(../imgs/menu/m-wd-txt.png) center center no-repeat }
.m3{ background:url(../imgs/menu/m-st-txt.png) center center no-repeat }

.m1-bg{ background:url(../imgs/menu/bg-tw.gif) bottom}
.m2-bg{ background:url(../imgs/menu/bg-wd.gif) bottom}
.m3-bg{ background:url(../imgs/menu/bg-st.gif) bottom}



.switchDiv{ background:#e4dfd9 ; height:30px; padding:7px 0 0 12px}
.switchDiv a{ display: block ; width:80px ; height:25px; float:left }
.s1{ background:url(../imgs/icon/char-nor.png)}
.s1-act{ background:url(../imgs/icon/char.png)}
.s2{ background: url(../imgs/icon/norm-nor.png)}
.s2-act{ background: url(../imgs/icon/norm.png)}


.content{padding:10px 10px  0 10px ;}

.imgBox{  height:100% ;  display:block ;position: relative;padding:0 0 0  0; margin: 0 auto 10px auto}
.imgBox a{padding:0 ; margin:0}
.imgBox img{width:100%; margin:0 ; padding:0}
.tab { background:url(../imgs/icon/tab.png) right no-repeat;position:absolute ; left:0;top: -3px;   height:42px ; min-width:70px;padding:0 20px 0 1px; }
.tab em{ display: block; color:#fff; font-size:16px;padding:7px 0 0 10px;
}
.txtArea{ background:url(../imgs/grayAph.png);height:20%; position:absolute ;left:0 ; bottom:0 ; width:100% ; color:#fff;}
/*padding:11px 10px 0 10px*/

.txtArea h2{ font-size:16px ;  /*font-weight:bold;*/ display:block ;padding:5px 10px 0 10px}
.txtArea p{font-size:13px;display:block ;padding:0 10px 0 10px}

.moreDiv{ height:50px ; text-align:center; }
.moreDiv a{ background:url(../imgs/btn-more2.png) ; width:171px ; height:48px; display:block ; margin:0 auto}


.footer{ margin:10px 0 0 0 ; border-top:2px solid #f63b28 ; padding:10px; font-size:13px ; text-align:center}

/*愛台客*/
.TW-Div{ background:#f2b90c ;  border-top:1px solid #f2b90c ; position:relative ;padding:0 0 18px 0;height:66px;}
.tw-view{ background:url(../imgs/icon/tw-img.png) ; height:69px;}
.tw-icon{ width:44px ; height:44px ; background:url(../imgs/icon/tw-icon.png); position:absolute ; top:40px ; left:20px}

/*愛玩客*/
.WD-Div{ background:#3d9bfd ;  border-top:1px solid #3d9bfd ; position:relative ;padding:0 0 18px 0;height:66px;}
.wd-view{ background:url(../imgs/icon/wd-img.png) ; height:69px;}
.wd-icon{ width:44px ; height:44px ; background:url(../imgs/icon/wd-icon.png); position:absolute ; top:40px ; left:20px}

/*偶像客*/
.ST-Div{ background:#46b91e ;  border-top:1px solid #46b91e ; position:relative ;padding:0 0 18px 0;height:66px;}
.st-view{ background:url(../imgs/icon/st-img.png) ; height:69px;}
.st-icon{ width:44px ; height:44px ; background:url(../imgs/icon/st-icon.png); position:absolute ; top:40px ; left:20px}

.floatLeft{float:left}
.floatRight{float: right}

.infoBox{ font-size:13px; height:50px ; border-bottom:1px solid #ccc }
.R1{padding:5px 10px }
.L1{padding:0 0 0 10px}
.infoBox h5{ text-align:right; }
.infoBox h6{color:#4a6aa5;font-size:13px ; padding:5px 0 0 0}
.infoBox p{ line-height:1.5em}

.serchListDiv{ padding:10px}
.serchListDiv a { height:95px;  display:block;color:#494949; line-height:1.3em ;}
.serchListDiv a img{padding:1px; border:1px solid #bcbcbc ; float:left; margin:0 8px 0 0}
/*.relative-pro li div{padding:0 0 0 112px; color:#494949;}*/


.serchListDiv a h4{ font-size:15px ; display:block;padding:0 0 5px ; color:#4a6aa5}

.serchListDiv a p{padding: 0  ; font-size:12px ;color:#666;line-height:1.3em}
.numDiv{ border-top: 1px solid #ccc ; font-size:12px;padding:3px 10px;}
.numDiv span{ padding:0 5px }


.productDiv{}
.productDiv h2{ font-size:18px ; color:#3d4d80 ; padding:10px 10px 0 10px}
/*下方活動選取點*/
.funtion
{ margin: 0 auto ;}
.funtion ul{ min-width:300px ; display:block;margin: -10px auto 0 auto ;  text-align:center; padding:0px;}
.funtion li{ padding:0px 3px; display:inline-block; zoom: 1;position: relative; margin: 0;}
.funtion li a{ background:url(../imgs/dot.png) bottom ; display:block ; width:11px ; height:11px;}
.funtion li a.act{ background:url(../imgs/dot.png) 0 top}
.prod-img{ padding:10px 10px 0 10px}
.prod-img img{ width:100% ; }
.faver{padding:10px 10px 0 10px}
.faver a{display:block ; background:url(../imgs/icon/faver.gif) ; width:108px ; height:24px;}

.discript{ font-size:15px; padding:10px  ; line-height:1.5em ; color:#333}
.pro-price{ font-size:16px ; color:#998d04}
.pro-price  select{ height:23px ; font-size:13px ;  padding:2px}
.pro-price li{ border-top:1px  dotted #fbc3c3 ; border-bottom:1px  dotted #fbc3c3 ; display:block ; padding:5px 0 ; font-size:15px}

.productDiv .btn a{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; background:#ed1c24;height:38px; width:145px ; display:block; text-align:center ; line-height:2.5em; font-size:16px ;color:#fff ; margin: 0 auto;  }
.pro-info{padding:0 10px 10px 10px}
.pro-info dl{padding:10px 0;text-align:right; font-size:16px; border-top:1px  dotted #fbc3c3}
.pro-info dd{padding:0 ; display:block;}
.pro-info dd em{text-decoration:line-through }
.pro-info dt em{ font-size:140%; color:#f78529;padding:10px 0 10px 4px;}

.treaty{ font-size:13px ; color:#ed2118}
.treaty a{display:block ; border-top:1px solid #ccc ; padding:10px 10px 10px  16px ; background:url(../imgs/icon/arr.gif) 10px center no-repeat; color:#ed2118}

/**/
.login{ padding:18px 10px 0 10px}
.login h1{ font-size:21px ;}
.signbox{height:45px ; line-height:1.7em ; border:1px solid #ccc; width:98% ;margin:10px  0 10px 0 ;padding:0 1%; background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background:url(../imgs/bg/ra-bg.png) top;}
.link-fix{padding:10px 0 15px 0}
.link-fix a{ display:block}
a.btnLogin{ background:url(../imgs/login.png) top ;width:171px;height:48px;margin: 0 auto}

a.btnsend{ background:url(../imgs/send.png) top ;width:171px;height:48px;margin: 0 auto}
a.btnSign{ background: url(../imgs/join.png) top;width:171px;height:48px;margin: 0 auto}
.btnStep{ background: url(../imgs/step.png) top;width:171px;height:48px;margin: 0 auto}
.btnNext{ background: url(../imgs/step.png) bottom;width:171px;height:48px;margin: 0 auto}

.signup{ border-top:1px solid #ccc}
.img-slgn{margin:0 auto ; padding:20px 0 ; width:270px;}


.paragDiv{ padding:0 10px}
.paragDiv h5{font-size:15px ; margin:10px 0 5px 0;display:block ;height:20px; padding:5px 0}
.paragDiv span{}
.clum_all{padding:5px 0 15px 0}
.clum_all table{background:#ccc; font-size:13px; color:#333}
.clum_all em{ font-size:11px}
.clum_all th{ background:#E1EBFF ; color:#0192B5 ; padding:5px 3px ; text-align:left  ; font-weight:normal ; width:90px}
.clum_all td{ background:#fff;padding:5px 3px}
.clum_all td h6{ color:#F60 ; display:block;  padding:10px 0 0 0}

.orderList{}
.orderList ul{ display:block;padding:15px 0 5px 0 ; border-top: 1px solid #ccc}
.orderList li{ list-style:none ; display:block ; padding:0 0 5px 0 ; }
.orderList li a{display:block ;height:2em;font-size:15px ; line-height:2em ; background:#f6f7f9;padding:5px 10px;-moz-border-radius:10px;-webkit-border-radius:10px;border:1px solid #CCC; color:#333 }
.orderList li a span { padding:0 5px 0 0 ; color:#0192B5}


.h-title{padding:10px ; font-size:23px ;color:#06C ; border-bottom:1px solid #ccc}
.faverListDiv,.personInfo{ padding:10px}
.faverListDiv li{display:block ; height:90px; list-style:none}

.faverListDiv img{padding:1px; border:1px solid #bcbcbc ; float:left; margin:0 8px 0 0}
/*.relative-pro li div{padding:0 0 0 112px; color:#494949;}*/


.faverListDiv h4 a{ font-size:15px ; display:block;padding:0 0 10px 0 ; color:#4a6aa5 ; display:block ; pa}

.faverListDiv a p{padding: 0  ; font-size:12px ;color:#666;line-height:1.3em}


.btnDiv{padding:10px;}
a.buttom-a{font-size:13px ; color:#fff ; float:left; background:#36f;padding:3px 10px;-moz-border-radius:10px;	-webkit-border-radius:10px;border:1px solid #CCC;
}
a:hover.buttom-a{color:#FFF ; background:#f89e2a}

a.buttom-b{font-size:12px ; color:#333 ;; background:#e8e8e1;padding:3px 10px;-moz-border-radius:10px;-webkit-border-radius:10px;border:1px solid #CCC;}
a:hover.buttom-b{ color:#fff ; background:#f89e2a}

.personInfo ul{ display:block ; margin: 0 auto}
.personInfo li { list-style:none ; display:block ; padding:0 0 10px 0}
.personInfo li label {display: block;padding: 5px 0px 3px 0px;font: bold 15px arial,sans-serif;color: #333;}
.personInfo input{width:300px;height: 32px;border: 1px solid #B8B8B8;color: #333;font-size: 13px;padding-left: 5px;background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.personInfo input[type='checkbox']{width: 20px;height: 16px;border: 1px solid #B8B8B8;color: #333;font-size: 13px;padding-left: 5px;background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.comtxt_a{color:#666}

.textArea{padding:10px;}
.textArea div{"border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; background:#ecf3f9 ; padding:10px}
.textArea div h2{padding:10px 0; border-bottom:1px solid #ccc; font-size:16px}
.textArea div h2 span{ color:#06F;padding:0 5px }
.textArea div  p{padding:10px 0 ; font-size:15px ; line-height:1.7em}
 .textArea input{width:300px;height: 32px;border: 1px solid #B8B8B8;color: #333;font-size: 13px;padding-left: 5px;background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin:10px 0}
 
.error-msg{background:#ffdddb url(../imgs/icon/notice.png)10px 9px no-repeat ; border:1px solid #ff6363;font-size:15px; color:#f44238 ; min-height:20px ; -webkit-padding-start: 20px;}
.success-msg{background:#BFE3F1 url(../imgs/icon/ok.png) 10px 9px no-repeat ; border:1px solid #96bdcc; font-size:15px; color:#006cff ; min-height:20px ; -webkit-padding-start: 20px;}
.notice-msg{background:#ffdddb url(../imgs/icon/notice.png)10px 9px no-repeat ; border:1px solid #ff6363; font-size:15px; color:#f44238 ; min-height:20px ; -webkit-padding-start: 20px;}


/*條文區塊*/
.clause-div{padding:0 0 15px 0; margin: 0 auto ; line-height:2em ; color:#333}
/*條文區塊 fine*/
.clause-div h1{font-size:16.0pt ; display:block ; padding:20px 0 10px 0 ; text-align:center  ; border-bottom:1px solid #CCC}

.clause-div h5{color:#006699 ; font-size:15px; display:block ; padding:10px 0 5px 0}
.clause-div h6{ font-size:13px;}
.clause-div p{ font-size:13px}
.clause-div div{padding:0 0 20px 2em;font-size:13px}
.clause-div div span{ display:block ; float:left ; }
.clause-div div p{padding: 0 0 0 2.5em}

.clause-div ol{
	list-style-type: decimal;padding:0 0 0 4.5em;
}
.clause-div h4{ color:#09F}
.clause-div ul.style-a{display:block ; height:auto ; padding: 0 0 0 3em}
.clause-div ul.style-a li{display:block ; float:left ; padding: 0 10px 0 0}
.clause-div ul.style-b{display:block ; height:auto ; padding: 0 0 0 1.2em}
.clause-div ul.style-b li{}
.clause-div ul.style-b p{padding: 0 0 0 1.5em}

.clause-div dd{padding: 0 0 0 2.5em}
.clause-div dt{color:#006699 ; font-size:15px; display:block ; padding:5px 0 0 0}

/**/
.main-funtion{padding:5px 0 ; background:#b12920}
.main-funtion a{display:block ;margin:7px 5px;}
ul.funtion-list{ background:##e4dfd9}
ul.funtion-list li a{ color:#666 ; font-size:15px}
ul.funtion-list li{ display:block ; border-bottom:#CCC 1px solid;padding:7px 5px}

.main-funtion .btn_search{ float:left}
.search-box{height:29px ; line-height:1.7em ; border:1px solid #ccc;margin:5px ;float:left;padding:0 5px; background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;min-width:250px;}

/* Sean Notice*/
#notice{padding:0px 0; font-size:12px;color:#000000;}
#notice h5{font-size:150%;display:block ; padding:0 0 15px 0}
#notice .col-left{ float:left;width:460px}
#notice .col-right{float:right;width:460px}

.shoppingInfo{ background:url(../imgs/icon/bc.png) 245px 25px  no-repeat; height:100px ; width:330px; border:1px solid #efefef;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; float:left; padding:5px ; }
.shoppingInfo p{padding:15px}

#notice h4{ color:#3366cc ; font-size:16px;}
#notice dl{padding:10px 0;}
#notice dt{ float:left ; color:#ff7e0c;display:block}

#notice dd{ padding: 0 0 1.5em 25px;display:block}
#notice p{padding:10px 0}
#notice h6{color:#06C;padding:10px 0}
#notice ol li{ margin:0 0 0 1.5em ;padding:0 0 10px;}
#notice p a{padding:0 3px; color:#06F ; text-decoration:underline}