body {
	margin: 0;
	padding: 0;
}

.container {
	width: 5.7cm;
	height: 9cm;	
	border-width: 0px;
}
.einvoice {
	padding: 0.3cm;
	padding-top: 1cm;	
}

.einvoice .company {
	padding-bottom: 10px;
}

.einvoice .title {
	text-align: center;
	font-size: 19pt;
}

.einvoice .bolder {
	font-weight: bold;
}

.einvoice .first-div {
	float: left;
}

.einvoice .desc-padding {
	padding-right: 10px;
}

.einvoice .qrcode-padding {
	padding-left: 0.4cm;
	padding-right: 0.6cm;
}

.einvoice .description {
	font-size: 10pt;
	padding-left: 0.2cm;
}

.einvoice .barcode {
	text-align: center;
	padding-bottom: 5px;
}

.einvoice .barcode39 {
	margin: 0 auto;
	width: 3.7cm;
	height: 0.6cm;
}
