/********************** Tabs */
.product-view .tabs { margin: 15px 0 0; overflow:hidden; border-bottom:1px solid #e9e9e9;  zoom: 1;}
.product-view .tabs li { float:left; border:1px solid #e9e9e9; border-bottom: none; background: #e9e9e9; margin: 4px 5px 0 0; position: relative; }
.product-view .tabs li.active:before{ position: absolute; top:-4px; left:-1px; width: 100%; height:4px; background: #282828; content:""; border: 1px solid #282828; border-width:0 1px;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
}
/*
.product-view .padder{ border:1px solid #E9E9E9; border-top:none; padding: 20px; margin: 0 0 50px;}
*/
/* Edwar Add 2014/11/18 */
.product-view .padder{ border:1px solid #E9E9E9; border-top:none; padding: 20px; margin: 0 0 50px;min-height:400px;}
/* Add End */
.product-view .tabs a { display:block; padding:0 15px; font-size:16px; line-height:40px; color:#282828; font-family: 'robotolight';}
.product-view .tabs a:hover { background-color:#ddd; text-decoration:none; color:#444; ; text-decoration: none;}
.product-view .tabs li.active a,
.product-view .tabs li.active a:hover { background:#fff; color:#282828; text-decoration: none; }

#product_tabs_tags_tabbed_contents.input-box input	{ width: 300px; }
#product_tabs_tags_tabbed_contents .input-box	{ width: 300px; float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents li	{ float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents ol	{ clear: both;}
.product-collateral:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; zoom: 1}
