<?php  

$master_order_id= $this->getRequest()->getParam('order_id');
$orders = Mage::getModel("splitorder/items")->getOrdersByMasterOrderId($master_order_id);
$order_link = "";
foreach ($orders as $order)
{
	$order_url = Mage::getUrl("sales/order/view",array("order_id" => $order->getId()));
	$order_incrementid = $order->getIncrementId();
	if ($order_link != "") $order_link .= ", ";
	$order_link .= sprintf('<a href="%s">%s</a>', $order_url , $order_incrementid);
}
					
?>

<div class="checkoutArea">
	<div class="Purchase-process">
		<div class="processTitle">
			<ul>
				<li>1.確認訂單</li>
				<li>2.訂購資料</li>
				<li>3.選擇付款方式</li>
				<li class="act">4.訂購完成</li>
			</ul>
		</div>
		<div class="Purchaseform">
			<div class="notice">
				<h2>
					<?php echo $this->__('Your order has been cancelled') ?>
				</h2>
			</div>

			<div class="linebox">
				<div class="finish">
					<h3>
						<?php echo $this->__('Credit Card has been failure!') ?>
					</h3>
					<h4>
						<?php echo $this->__('Your order # is: %s.', $order_link) ?>
					</h4>
				</div>
			</div>

			<div class="clearDiv"></div>
		</div>
		<div></div>
	</div>
</div>
