<?php
/**
 *   20120420 Sean
 *   
 * General Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>

<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
	<div class="infoBox">
        <div class="floatRight R1">
        	排列順序
	        <?php $this->getChild('toptoolbar')->setCollection($_productCollection);  ?>
	    	<?php echo $this->getChildHtml('toptoolbar')  ?>
        </div>
    </div>
	
	<?php /*  
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
     */ ?>
   

        <div class="serchListDiv">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
			<a href="<?php echo $_product->getProductUrl() ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100,75) ?>" width="100" height="75">
                <h4><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h4>
                <p><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description')  ?></p>   
             </a>
    <?php endforeach ?>
    </div>
   
        <?php /* $this->getChild('searchtoolbar')->setCollection($_productCollection); */?>
        <?php /* echo $this->getChildHtml('searchtoolbar') */?>
        <?php echo $this->getToolbarHtml() ?>
   

<?php endif; ?>
