<?php
/**
 * 20120430 
 * 
 * WishList for sanlih by Sean
 *
 */
?>

<?php if ($this->helper('wishlist')->isAllow()) : ?>

    <?php /* echo $this->getMessagesBlock()->getGroupedHtml() */ ?>
    	<form id="wishlist-view-form" action="<?php echo $this->getUrl('*/*/update') ?>" method="post">
  <!-- <div class="membDiv"> 
    <!-- 左欄內容-->
    <!--<div class="mem_clum_l">
      <h3>我的帳戶</h3>
      <ul class="mem_menu">
     	<li><a href="#">通訊錄</a></li>
        <li><a href="<?php echo $this->getUrl('customer/account')?>">訂單查詢</a></li>
        <li><a href="#">退訂</a></li>
        <li><a href="#">退貨</a></li>
        <li  class="act"><a href="<?php echo $this->getUrl('wishlist')?>">最愛商品</a></li>
      </ul>
    </div>  -->
    <!-- 右欄內容 整版-->
    <div class="mem_clum_r">
      <div class="clum_all">
      	<h3>最愛商品</h3>
      	<div class="hitxt">
    	<h4><?php echo $this->escapeHtml($this->__('Welcome,')) ?>
    	<span><?php echo $this->escapeHtml(Mage::getSingleton('customer/session')->getCustomer()->getName()) ?></span></h4>       
		</div>
      	<?php if ($this->hasWishlistItems()): ?>
      	<div class="paragDiv">
            <div class="hitxt">
                <p>共有<?php echo $this->getWishlistItems()->getSize() ?>件商品</p>
            </div>
            	<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
                  <tr>
                    <th width="100">商品</th>
                    <th width="100">品名</th>
                    <th>商品短序<em></em></th>
                    <th width="80">加入日期</th>
                    <th width="40">購買</th>
                    <th width="40">刪除</th>
                  </tr>
                  
                  <?php foreach ($this->getWishlistItems() as $item): ?>
                  <?php
                      $product = $item->getProduct();
                      $isVisibleProduct = $product->isVisibleInSiteVisibility();
                  ?>
                  
                  <tr>
                    <td valign="top">
                    	<img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image'); ?>" width="100" height="75">
                    </td>
                    <td valign="top">
                    	<a href="<?php echo $this->getProductUrl($item)."?___store=".htmlspecialchars($product->getAttributeText('sale_store'), ENT_QUOTES) ?>">
                    		<?php echo $this->escapeHtml($product->getName()) ?>
                    	</a>
                    	<h6>
                    		<?php echo $this->helper('core')->currency($product->getFinalPrice());?>
                    	</h6>
                    </td>
                    <td valign="top">
                    	<?php echo $product->getShortDescription()?>
                    </td>
                    <td valign="top">
                    	<?php echo $this->formatDate($item->getAddedAt(), "short") ?>
                    </td>
                    <td valign="top">
                    	<?php if ($item->canHaveQty() && $isVisibleProduct): ?>
                            	<input type="hidden" name="qty[<?php echo $item->getId() ?>]" value="1" />
                        <?php endif; ?>
                    	<?php if ($product->isSaleable()): ?>
                            <?php if ($isVisibleProduct): ?>
                            	<a href="<?php echo $this->getItemAddToCartUrl($item)."?___store=".htmlspecialchars($product->getAttributeText('sale_store'), ENT_QUOTES) ?>" title="<?php echo $this->__('Buy') ?>">
                            		<?php echo $this->__('Buy') ?>
                            	</a>
                            <?php endif ?>
                        <?php else: ?>
                            <p><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    </td>
                    <td valign="top" >
                    	<a href="<?php echo $this->getItemRemoveUrl($item) ?>" title="<?php echo $this->__('Remove') ?>" onclick="return confirmRemoveWishlistItem();">
                    		<?php echo $this->__('Remove') ?>
                    	</a>
                    </td>
                  </tr>
                  <?php endforeach ?>                 
                </table>
                <script type="text/javascript">decorateTable('wishlist-table')</script>
            </div>
        	
      
      <?php else: ?>
        	<p><?php echo $this->__('You have no items in your wishlist.') ?></p>
      <?php endif; ?>
      </div>
    </div>
    <!-- 右欄內容 假三欄 fine-->
    <div class="clearDiv"></div>
  <!-- </div>  -->

      </form>
    
    <script type="text/javascript">
    //<![CDATA[
    function confirmRemoveWishlistItem() {
        return confirm('<?php echo $this->__('Are you sure you want to remove this product from your wishlist?') ?>');
    }

    function focusComment(obj) {
        if( obj.value == '<?php echo $this->helper('wishlist')->defaultCommentString() ?>' ) {
            obj.value = '';
        } else if( obj.value == '' ) {
            obj.value = '<?php echo $this->helper('wishlist')->defaultCommentString() ?>';
        }
    }

    function addWItemToCart(itemId) {
        var url = '<?php echo $this->getItemAddToCartUrl('%item%') ?>';
        url = url.gsub('%item%', itemId);
        var form = $('wishlist-view-form');
        if (form) {
            var input = form['qty[' + itemId + ']'];
            if (input) {
                var separator = (url.indexOf('?') >= 0) ? '&' : '?';
                url += separator + input.name + '=' + encodeURIComponent(input.value);
            }
        }
        setLocation(url);
    }

    function addAllWItemsToCart() {
        var url = '<?php echo $this->getUrl('*/*/allcart') ?>';
        var separator = (url.indexOf('?') >= 0) ? '&' : '?';
        $$('#wishlist-view-form .qty').each(
            function (input, index) {
                url += separator + input.name + '=' + encodeURIComponent(input.value);
                separator = '&';
            }
        );
        setLocation(url);
    }
    //]]>
    </script>
<?php endif; ?>