<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="account-login">
	<form action="<?php echo $this->getPostActionUrl() ?>" method="post"
		id="modaccountform" name="modaccountform">
		<div class="normalDiv">
			<div class="loginDiv">				
				<h1>為愛而買，買您所愛，愛買客.</h1>
				<div class="emline">
					<em class="or-split">MOD</em>
				</div>
				<h1>請輸入手機號碼及發票收件人姓名，以查詢MOD訂單</h1>
				<div class="signin">
					<ul>
						<li>
							<h5>手機號碼</h5> <input type="text" name="modaccount[cellphone]"
							class="signbox input-text required-entry" title="手機號碼" />
						</li>
						<li>
							<h5>發票收件人姓名</h5> <input type="text" name="modaccount[username]"
							class="signbox input-text required-entry" title="密碼" />
						</li>
					</ul>
					<div class="btn">
						<a class="btnLogin notext"
							href="javascript: modaccountformsubmit()">查詢</a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</form>
	<script type="text/javascript">
        var dataForm = new VarienForm('modaccountform', true);
        jQuery(document).ready(function($){
	        $(document).keydown(function(event){   
	       		if(event.keyCode==13){
	         		$('#modaccountform').submit();
	       		}
	        });
        });
        function modaccountformsubmit()
        {
         	document.modaccountform.submit();
        }
    </script>
</div>
