@charset "UTF-8";
/* CSS Document */
.page_404_divBG{ background:#FFF}
.page_404_div{height:453px;width:664px ;background:url(../imgs/404page.jpg) ; margin:0 auto}
.page_404{padding:30px 0 0 0; text-align:center; position:relative;}
.txt404{
	color:#333;
	position:absolute;
	width:300px;
	height:100px;
	left:383px;
	top:350px;
	text-align:left;
	font-size:15px;
	line-height:2em
}
.txt404 a{ color:#75c5bc ; text-decoration:underline;padding:0 3px; }

body{font: arial,Helvetica,sans-serif; line-height: 1.3em; background-image:none}
