@charset "UTF-8";
/* CSS Document */
#headerDiv{ background: url(../imgs/bg/headerbgline.gif) top;margin:auto; border-bottom:1px solid #e1e1e1;}
#header{background:#f44238 ; height:49px;width:976px; margin:0 auto; position:relative}

#header .Main-menu{ padding:6px  0 0 0; color:#fff}
#header .Main-menu dt{display:block ; float:left; padding:0px 12px;background:url(../imgs/bg/dotline.gif) bottom right  no-repeat;}
#header .Main-menu dt a{display:block;height:42px;}
#header .Main-menu dd{display:block ; float:left;height:30px ; background:url(../imgs/bg/dotline.gif) bottom right  no-repeat;padding: 12px 12px 0 12px;}

#header .Main-menu dd a{display:block;height:20px; background-repeat: no-repeat }


.logo{ background:url(../imgs/logo.png) no-repeat; width:148px;}

a.menu-tw{ background:url(../imgs/menu/menubg.png) 0 0 ; width:70px }
a:hover.menu-tw{background:url(../imgs/menu/menubg.png) 0 -20px; }

a.menu-wp{background:url(../imgs/menu/menubg.png) -112px 0 ; width:80px }
a:hover.menu-wp{background:url(../imgs/menu/menubg.png) -112px -20px ;}

a.menu-st{background:url(../imgs/menu/menubg.png) -217px 0 ; width:80px}
a:hover.menu-st{background:url(../imgs/menu/menubg.png) -217px  -20px ; }

#header .funtion{ color:#fff;padding-top:13px ; font-size:12px;}
#header .funtion li{display:block ;float:right ; height:18px;}



#header .funtion a{ color:#fff;padding:3px 25px 0 25px; display:block; line-height:1.2em; }
#header .funtion a:hover{ text-decoration:underline;}
#header .mc{background:url() -3px -80px no-repeat ; display:block; }
#header .m1{background:url(../imgs/icon.png) -3px -5px no-repeat ; display:block; }
#header .m2{background:url(../imgs/icon.png) -3px -30px no-repeat ; display:block; }
#header .m3{background:url(../imgs/icon.png) -3px -55px  no-repeat; display:block;}
#header .m3n{background:url(../imgs/icon.png) -3px -55px  no-repeat; display:block;padding:3px 25px 0 25px;line-height:1.2em;}
#header .m4{background:url(../imgs/icon.png) -3px -80px  no-repeat; display:block; }

/*FOOTER*/
#m_a #footer{ background:#FFF url(../imgs/bg/ftbg_a.png)  top repeat-x}
#m_t #footer{ background:url(../imgs/bg/ftbg_t.png) top repeat-x}
#m_w #footer{ background:url(../imgs/bg/ftbg_w.png) top repeat-x}
#m_s #footer{ background:url(../imgs/bg/ftbg_s.png) top repeat-x}


#footer{ font-size:12px;width:940px;padding:15px 5px; height:65px; margin:0 auto 0 auto;}

#fooinfo{float:left; width:75%;color:#466a81;padding:10px 0 0 0}
#fooinfo a{color:#466a81}
#fooinfo a:hover{ text-decoration:underline;color:#466a81}
#fooinfo p{padding:5px 0 0 0; color:#464646}

ul#social{ display:block;width:200px ; float:right;}
ul#social li{display: block ; float:right;}
ul#social li a{display:block;border-right:1px dotted  #e1e1e1;width:42px ; height:36px;}
.so_link_fb{ background:url(../imgs/btn/icon_fb.png) top ;}
.so_link_gl{ background:url(../imgs/btn/icon_gl.png) top ;}
.so_link_rss{ background:url(../imgs/btn/icon_rss.png) top ;}

.so_link_fb a:hover{ background:url(../imgs/btn/icon_fb.png) bottom ;}
.so_link_gl a:hover{ background:url(../imgs/btn/icon_gl.png) bottom ;}
.so_link_rss a:hover{ background:url(../imgs/btn/icon_rss.png) bottom ;}


/*搜尋結果*/
.searchResult{/*text-align: right;*/padding: 5px 5px 1px 5px;padding:17px 17px 0 17px;}
.searchResult span{color:#FF0033; font-size:130%;padding:0 15px}
.searchResult em{color:#FF0033}
.searchResult h5{border-bottom:1px solid #ccc;padding: 5px 5px 1px 5px}


.searchlist h3{ font-size:18px; padding:0 0 5px 0 ; color:#000 } 
.searchlist h3 a{ color:#333 }
.searchlist h3 a:hover{ text-decoration:underline;}
.searchlist{ padding:15px 0; border-bottom: 1px dotted #ccc}

.searcb_mid{margin:10px 0 0 0;width: 100% ; height:50px;}

.searchResult  .searchBox{height:29px ; line-height:1.7em ; border:1px solid #ccc; width:830px ;margin:10px 10px 10px 0 ;float:left;padding:0 5px 0 25; background:url(../imgs/icon/searchicon.png) 5px center no-repeat}
a.btn_s{ background:url(../imgs/icon/search.png) left top ;width:70px ;height:29px; border:none; text-indent:-9999 ; display:block;float:left;margin:10px 0;}


/*MENU 上方搜尋*/
.searcb_small{position:absolute;top:47px;right: 0;width: 374px;background:#eff0f0 ;padding:0 10px; border:1px solid #ccc;clear:both;z-index: 50;	}
.searcb_small .searchBox{height:29px ; line-height:1.7em ; border:1px solid #ccc; width:280px ;margin:10px 10px 10px 0 ;float:left;padding:0 5px; background:#fff ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.searcb_small .arr-mask{ background:url(../imgs/icon/Arr.gif) 330px 0px no-repeat ; margin:-6px 0 0 0; height:7px}


.member_sbox{position:absolute;top:47px;right:80px;width: 80px;background:#eff0f0 ;padding:0 2px; border:1px solid #ccc;height:173px;z-index: 50;}
.member_sbox .arr-mask{ background:url(../imgs/icon/Arr.gif) 35px 0px no-repeat ; margin:-6px 0 0 0; height:7px}
.member_sbox ul{padding:5px 2px;display:block;  }
.member_sbox li{ display:block ; border-bottom:1px solid #ccc ; padding:2px ; text-align:center }
.member_sbox a{color:#333 ; font-size:12px;display:block}
.member_sbox a:hover{background: #f44238 ; color:#fff}

/*頁碼*/
.pagenavi{padding: 10px ;text-align: right;font-size:13px;}

.pagenavi a,.pagenavi a:link,.pagenavi a:active {margin: 2px 0;text-decoration: none;color: #999999;height: 18px;padding: 5px 8px; border:1PX solid #e9e9e9}

.pagenavi a:hover {	color: #fff;background: #f44238;}

.pagenavi span.pages {margin: 2px;color: #999999;padding:2px 8px}

.pagenavi span.current {margin: 2px;font-weight: bold;color: #FF0033;padding:2px 8px;text-decoration: underline;}

.pagenavi span.extend {margin: 2px;	height: 18px;}


/* 頁籤*/

.pageTab{ height:20px;  font-size:15px ;padding:5px 0 5px 12px;color:#999;font-weight: normal; }
.pageTab a{color:#666 ;padding:0 5px}
.pageTab a:hover{ text-decoration:underline;}

#product .pageTab{padding:20px 0 10px 12px}
/* .breadcrumbs {margin:10px 0} */

/*功能*/

.funtion2{padding:0 17px; font-size:13px; clear:both ; text-align:right; }
.funtion2 a{ color:#919191}
.funtion2 a:hover{ color:#333}
.funtion2 a img{padding:0 0 0 2px}


.fun3{padding:0 17px; font-size:13px; text-align:right; float:right;width:400px }
.fun3 a{ color:#919191}
.fun3 a:hover{ color:#333}
.fun3 a img{padding:0 0 0 2px}


