@charset "utf-8";

/*格式標準化margin&panding*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,inut,p,blockquote
{margin:0;padding:0;vertical-align:baseline;}

div{height:auto}

/*文字標準化*/
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal}

/*移除清單的list-style樣式*/
ol,ul
{list-style:none;}

/*將font-style及font-wight標準化成normal*/
address,caption,cite,code,dfn,em,strong,var
{font-style:normal;font-weight:normal;}

/*移除table的外筐*/

/*移除fieldest 和img的border*/
fieldset,img
{border:0;}

/*caption th 文字靠左*/
caption
{text-align:left;}

/*引號移除*/
q:before,q:after
{ content:close-quote; }

* { padding: 0; margin: 0; }

a{text-decoration:none}



/*常用通用*/
/*body{font-family: Meiryo, Osaka,"微軟中黑體", "微軟正黑體",Helvetica}*/
body{font: arial,Helvetica,sans-serif; line-height: 1.3em; background:url(../imgs/bg/bigbg.gif)}

.hiddenLink{ position:absolute; text-indent:-3000px}
.clearDiv{clear:both ; height:1px ;}
.floatLeft{float:left}
.floatRight{float:right}
.notext { font-size: 0; line-height: 0; text-indent: -4000px; background-repeat: no-repeat; }

/*共用架構*/
.content{width:976px;margin:auto ; background:#FFF}
.normalDiv{{width:976px;margin:0 auto ;min-height:900px; }

#contentDiv{padding:10px 0px;}

/*AD*/
.ad300x225{padding:20px 0}



