<?php
/**
 * 20120619 return oreder theme by Sean
 */
?>
<?php 
$rawOrders = $this->getOrders();
$orderItemNum = sizeof($rawOrders->getItems());
?>

<div class="mem-ticker2">
	<h1>
		<?php echo $this->__('My Return Orders') ?>
	</h1>
</div>



		<div class="hitxt">
			<h4>
				<?php echo $this->escapeHtml($this->__('Welcome,')) ?>
				<span><?php echo $this->escapeHtml(Mage::getSingleton('customer/session')->getCustomer()->getName()) ?>
				</span>
			</h4>
		</div>
<?php if($orderItemNum): ?>
<div class="paragDiv">
	<div class="comTxt">
		<p>
			共有
			<?php echo $this->getOrders()->getSize() ?>
			件商品
		</p>
	</div>
	<?php $prevMasterOrderId = '' ;?>
<div class="men-table">

	<?php foreach ($rawOrders as $raworder): ?>
				<?php
				if($raworder->getMasterOrderId() != "" && $prevMasterOrderId == $raworder->getMasterOrderId())
					continue;

				$totalOfOrder = 0;
				$master_order = Mage::getModel('splitorder/items')->getMasterOrderByOrderId($raworder->getId());
				$createdAt = $master_order->getCreateTime();
				$createdAtToLocalTime = Mage::getModel('core/date')->date('Y/m/d Ah:i' , $createdAt);
				$paymentDesc = $master_order->getPayment();
				$orders = Mage::getModel('splitorder/items')->getOrdersOfSameMasterByOrder($raworder);
				$totalOfOrder = $master_order->getFormatGrandTotal();
				if(!$orders)
				{
					array_push($orders, $raworder);
					$paymentDesc = $raworder->getPayment()->getMethodInstance()->getTitle();
					$createdAt = $raworder->getCreatedAt();
					$createdAtToLocalTime = Mage::getModel('core/date')->date('Y/m/d Ah:i' , $createdAt);
					$totalOfOrder = $raworder->formatPrice($raworder->getGrandTotal());
				}
				?>

				
				<?php foreach ($orders as $order): ?>
				<?php 
				$_item = Mage::helper("splitorder/order")->getSimpleItemByOrder($order);
				$price = number_format($_item->getPrice());
				$productId = $_item->getProductId();
				$product = Mage::getModel('catalog/product')->load($productId);
				$imageUrl = ((string)Mage::helper('catalog/image')->init($product, 'image')->resize(75));
				$productName = $this->htmlEscape($_item->getRealName());
				$qty = $_item->getQtyToInvoice();
				?>
	
	<li class="item">
		<h3><?php echo $this->__('Order #') ?>：<?php echo $order->getRealOrderId() ?></h3>

            <dl>
            	<dt><?php echo $this->__('Product Name') ?>：</dt>
            	<dd><?php echo $productName; ?></dd>
            	<dt><?php echo $this->__('Amount') ?>：</dt>
            	<dd><?php echo $order->formatPrice($order->getGrandTotal()) ?></dd>
            	<dt><?php echo $this->__('Order Status') ?>：</dt>
            	<dd><?php echo $order->getStatusLabel() ?></dd>
            	<dt><?php echo $this->__('Invoice') ?>：</dt>
            	<dd><?php 
					echo "<div>".Mage::helper('goveinvoice/message')->GetInvoiceNumberByOrder($order->getId())."</div>";
					echo "<div>".Mage::helper('goveinvoice/message')->GetInvoiceStrResult($order->getId())."</div>";
					echo "<div>".Mage::helper('goveinvoice/message')->GetRequestInvoiceLink($order->getId())."</div>";
					?>
				</dd>
		<dd>
			<div class="returnProduct">
                                <?php if($order->getStatus() != "return_processing" && $order->getStatus() != "return_succeeded"):?>
                                        <a id="return_btn"
                                                href="<?php echo $this->getURL('sales/order/returnform/').'order_id/'.$order->getId() ?>"><?php echo $this->__('Return Order') ?>
                                        </a>
                                <?php endif;?>
                                        <a href="<?php echo $this->getViewUrl($order) ?>"><?php echo $this->__('View Order')  ?></a>
                        </div>
		</dd>
            </dl>
    </li>
		<?php endforeach ?>
				<?php             
				$prevMasterOrderId = $raworder->getMasterOrderId();
				?>
	<?php endforeach; ?>
	<?php else: ?>
	<?php echo $this->__('You have placed no orders to return.'); ?>
	<?php endif ?>
<!--
	<div class="pager">
		<?php 
		//echo $this->getPagerHtml();
		?>
	</div>
-->
	<script type="text/javascript">decorateTable('my-orders-table');</script>
	<script>
	jQuery(document).ready(function($){
		$('a').click(function(event){
			if($(this).attr('id')=='return_btn'){
				if(confirm("<?php echo $this->__('Are you sure you want to return this order?');?>")){
					return true;
				}else{
					return false;
				}
			}else{
				return true;
			}
		});
	});
</script>
