<!-- goto familymart -->
<script>window.location.href='<?php echo $this->getData("familymarturl"); ?>';</script>

<!-- test -->
<!--<script>window.location.href="https://127.0.0.1/magento/logistic/familymart/index?cvsid=1111&cvsspot=F002770&cvstemp=&cvsname=www%2Eigood%2Etw&name=%A5%FE%AEa%AAO%BE%F4%B7s%A5%C1%A9%B1&tel=02%2D22570742&addr=%B7s%A5%5F%A5%AB%AAO%BE%F4%B0%CF%A4%E5%A4%C6%B8%F4%A4%40%ACq188%AB%D142%B8%B91%BC%D3&cvsnum=WN10"</script>-->