<?php
/**
 * 20120503 Customize by Sean
 * TODO: Remove comment.
 */
?>
<?php 
    $rawOrders = $this->getOrders();
    $orderItemNum = sizeof($rawOrders->getItems());
?>
<div class="mem-ticker2">
	<h1>
		<?php echo $this->__('Recent Orders') ?>
	</h1>
	<div>
		<a href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('View All') ?>
		</a>
	</div>
</div>
<div class="paragDiv">
        
        <?php $index = 0; ?>       
        <?php if( $orderItemNum > 0 ): ?>
        <?php $prevMasterOrderId = '' ; ?>    
        <?php foreach ($rawOrders as $raworder): ?> 
        <?php     
        	if($raworder->getMasterOrderId() != "" && $prevMasterOrderId == $raworder->getMasterOrderId())
        	continue;
                                      
            $totalOfOrder = 0;
            $master_order = Mage::getModel('splitorder/items')->getMasterOrderByOrderId($raworder->getId());
            $createdAt = $master_order->getCreateTime();
            $createdAtToLocalTime = Mage::getModel('core/date')->date('Y/m/d Ah:i' , $createdAt);
            $paymentDesc = $master_order->getPayment();                                                                                
            $orders = Mage::getModel('splitorder/items')->getOrdersOfSameMasterByOrder($raworder);            
            $totalOfOrder = $master_order->getFormatGrandTotal();
          	if(!$orders)
            {
            	array_push($orders, $raworder);
            	$paymentDesc = $raworder->getPayment()->getMethodInstance()->getTitle();
            	$createdAt = $raworder->getCreatedAt();
            	$createdAtToLocalTime = Mage::getModel('core/date')->date('Y/m/d Ah:i' , $createdAt);
            	$totalOfOrder = $raworder->formatPrice($raworder->getGrandTotal());
            }
        ?>     
        <div class="men-table">               
      	<table width="930" border="0" align="center" cellpadding="1" cellspacing="1">
          <tbody>          
              <tr>
                <th colspan="7" style="background:#ceda7f">
                    <div class="glyphicon icon-collapse" href="javascript:void(0)"></div>                   
                    <div class="OrderTableDesc"><?php echo $this->__('Purchase On').":".$createdAtToLocalTime ?></div>                    
                    <?php if ($paymentDesc): ?>
                    <div class="OrderTableDesc">
                        <?php echo $this->__('Payment Method').":". $paymentDesc ?>
                    </div>
                    <?php endif ?>                    
                </th>
              </tr>
              <tr class="show">
                <th width="50"><?php echo $this->__('Order #') ?></th>
                <th width="90"><?php echo $this->__('Product') ?></th>
                <th width="90"><?php echo $this->__('Product Name') ?></th>            
                <th width="65"><?php echo $this->__('Amount') ?></th>
                <th width="75"><?php echo $this->__('Order Status') ?></th>            
                <th width="75"><?php echo $this->__('Invoice') ?></th>
                <th width="67"> </th>
              </tr>
             <?php foreach ($orders as $order): ?>
             <?php
             	if($order->getRelationChildId()) continue;
                $_item = Mage::helper("splitorder/order")->getSimpleItemByOrder($order);                
                $price = number_format($_item->getPrice());
                $productId = $_item->getProductId();
                $product = Mage::getModel('catalog/product')->load($productId);
                $imageUrl = ((string)Mage::helper('catalog/image')->init($product, 'image')->resize(150));
                $productName = $this->htmlEscape($_item->getRealName());
                $qty = $_item->getQtyToInvoice();
                               
             ?>
              <tr class="show">
                <td valign="middle"><?php echo $order->getRealOrderId() ?></td>                
                <td valign="middle" class="imgcenter">
                 <?php if ($imageUrl != "")?>
                 <?php echo "<img src=\"".$imageUrl."\"/>";?>
                </td>
                <td valign="middle">                                                                                                    
                 <?php echo $productName; ?>
                 
                <?php if($_options = $this->getItemOptions()): ?>
                <dl class="item-options">
                <?php foreach ($_options as $_option) : ?>
                    <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
                    <?php if (!$this->getPrintStatus()): ?>
                        <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                        <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>>
                            <?php echo $_formatedOptionValue['value'] ?>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                            <div class="truncated_full_value">
                                <dl class="item-options">
                                    <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
                                    <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
                                </dl>
                            </div>
                            <?php endif; ?>
                        </dd>
                    <?php else: ?>
                        <dd>
                            <?php echo nl2br($this->htmlEscape( (isset($_option['print_value']) ? $_option['print_value'] : $_option['value']) )) ?>
                        </dd>
                    <?php endif; ?>
                <?php endforeach; ?>                 
                </dl>
                <?php endif; ?>                 
                                                             
                </td>          
                <td valign="middle"><?php echo $order->formatPrice($order->getGrandTotal()) ?></td>            
                <td valign="middle"><?php echo $order->getStatusLabel() ?></td>                              
                <td valign="middle">                       
                <?php 
                echo "<div>".Mage::helper('goveinvoice/message')->GetInvoiceNumberByOrder($order->getId())."</div>";           
                echo "<div>".Mage::helper('goveinvoice/message')->GetInvoiceStrResult($order->getId())."</div>";       
                echo "<div>".Mage::helper('goveinvoice/message')->GetRequestInvoiceLink($order->getId())."</div>";
                ?>              
                </td>
                <td valign="middle"><a href="<?php echo $this->getViewUrl($order) ?>"><?php echo $this->__('View Order') ?></a></td>                
              </tr>             
	         <?php             
	            $prevMasterOrderId = $raworder->getMasterOrderId();            
	         ?>                   
             <?php endforeach ?>            
          </tbody>      
        </table>      
        </div>                  
        <?php 
            $index++;                        
            if($index == 5) break;
        ?>               
        <?php endforeach; ?>
        <?php else: ?>
    		<p><?php echo $this->__('You have placed no orders.'); ?></p>
		<?php endif; ?>
</div>
