<?php
/**
 * Template for Mage_Adminhtml_Block_Widget_Grid
 *
 *  getId()
 *  getCollection()
 *  getColumns()
 *  getPagerVisibility()
 *  getVarNamePage()
 */
$numColumns = sizeof($this->getColumns());
?>
<?php if($this->getCollection()): ?>
<?php if($this->canDisplayContainer()): ?>
<?php if($this->getGridHeader()): ?>
<div class="content-header">
	<table cellspacing="0">
		<tr>
			<td style="width: 50%;"><h2>
					<?php echo $this->getGridHeader(); ?>
				</h2></td>
		</tr>
	</table>
</div>
<?php endif ?>

<div id="<?php echo $this->getId() ?>">
	<?php else: ?>
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<?php endif; ?>
	<table cellspacing="0" class="actions">
		<tr>
			<?php if($this->getDateFilterVisibility()): ?>
			<td class="a-left filter">
				<div class="f-left">
					<div>
						<?php echo $this->__('From') ?>
						:&nbsp;<input class="input-text no-changes required-entry" type="text" id="period_date_from" name="report_from"
							value="<?php echo $this->getFilter('report_from') ?>" style="width: 5em" /> <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>"
							title="<?php echo $this->__('Select Date') ?>" id="period_date_from_trig" alt="<?php echo $this->__('Select Date') ?>" class="v-middle" />&nbsp;&nbsp;
					</div>
					<div id="period_date_from_advaice"></div>
				</div>

				<div class="f-left">
					<div>
						<?php echo $this->__('To') ?>
						:&nbsp;<input class="input-text no-changes required-entry" type="text" id="period_date_to" name="report_to"
							value="<?php echo $this->getFilter('report_to') ?>" style="width: 5em" /> <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>"
							class="v-middle" title="<?php echo $this->__('Select Date') ?>" id="period_date_to_trig" alt="<?php echo $this->__('Select Date') ?>" />&nbsp;&nbsp;
					</div>
					<div id="period_date_to_advaice"></div>
				</div>

				<div class="f-left">
					<?php echo $this->getRefreshButtonHtml() ?>
				</div> <script type="text/javascript">
                <!--
                Calendar.setup({
                    inputField : 'period_date_from',
                    ifFormat : '<?php echo $this->getDateFormat() ?>',
                    button : 'period_date_from_trig',
                    align : 'Bl',
                    singleClick : true
                });
                Calendar.setup({
                    inputField : 'period_date_to',
                    ifFormat : '<?php echo $this->getDateFormat() ?>',
                    button : 'period_date_to_trig',
                    align : 'Bl',
                    singleClick : true
                });
                //-->
                </script>
			</td>
			<?php endif; ?>
			<?php if($this->getExportVisibility()): ?>
			<td class="a-right"><img src="<?php echo $this->getSkinUrl('images/icon_export.gif') ?>" alt="" class="v-middle" />&nbsp; <?php echo $this->__('Export to:') ?>
				<select name="<?php echo $this->getId() ?>_export" id="<?php echo $this->getId() ?>_export" style="width: 8em;">
					<?php foreach ($this->getExportTypes() as $_type): ?>
					<option value="<?php echo $_type->getUrl() ?>">
						<?php echo $_type->getLabel() ?>
					</option>
					<?php endforeach; ?>
			</select> <?php echo $this->getExportButtonHtml() ?>
			</td>
			<?php endif; ?>
		</tr>
	</table>
	<?php if($this->getMassactionBlock()->isAvailable()): ?>
	<?php echo $this->getMassactionBlockHtml() ?>
	<?php endif ?>
	<div class="grid">
		<div class="hor-scroll">
			<table cellspacing="0" class="data" id="<?php echo $this->getId() ?>_table">
				<?php foreach ($this->getColumns() as $_column): ?>
				<col <?php echo $_column->getHtmlProperty() ?> />
				<?php endforeach; ?>
				<?php if ($this->getHeadersVisibility() || $this->getFilterVisibility()): ?>
				<thead>
					<?php if ($this->getHeadersVisibility()): ?>
					<tr class="headings">
						<?php foreach ($this->getColumns() as $_column): ?>
						<th <?php echo $_column->getHeaderHtmlProperty() ?>><span class="nobr"><?php echo $_column->getHeaderHtml() ?> </span></th>
						<?php endforeach; ?>
					</tr>
					<?php endif; ?>
					<?php if ($this->getFilterVisibility()): ?>
					<tr class="filter">
						<?php $i=0;foreach ($this->getColumns() as $_column): ?>
						<th <?php echo $_column->getHeaderHtmlProperty() ?>><?php echo $_column->getFilterHtml() ?></th>
						<?php endforeach; ?>
					</tr>
					<?php endif ?>
				</thead>
				<?php endif; ?>
				<?php if ($this->getCountTotals()): ?>
				<tfoot>
					<tr class="totals">
						<?php foreach ($this->getColumns() as $_column): ?>
						<th class="<?php echo $_column->getCssProperty() ?>"><?php echo ($_column->hasTotalsLabel()) ? $_column->getTotalsLabel() : $_column->getRowField($_column->getGrid()->getTotals()) ?>&nbsp;</th>
						<?php endforeach; ?>
					</tr>
				</tfoot>
				<?php endif; ?>

				<tbody>
					<?php if (($this->getCollection()->getSize()>0) && ($this->getCollection()->getIntervals())): ?>
					<?php foreach ($this->getCollection()->getIntervals() as $_index => $_item): ?>
			            <tr>
			            <?php $report=$this->getReport($_item['start'], $_item['end']) ?>
			            <?php $rows=count($report) ?>
			            <?php if ($rows > 0 ): ?>
			                <?php $i=0;foreach ($report as $_subIndex=>$_subItem): ?>
			                    <tr title="<?php echo $this->getRowUrl($_subItem) ?>"<?php if ($_class = $this->getRowClass($_subItem)):?> class="<?php echo $_class; ?>"<?php endif;?> >
			                    <?php $i++; ?>
			                    <?php $j=0;foreach ($this->getColumns() as $_column): ?>
			                        <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?>">
			                            <?php echo (($_html = $_column->getRowField($_subItem)) != '' ? $_html : '&nbsp;') ?>
			                        </td>
			                    <?php endforeach; ?>
			                    </tr>
			                <?php endforeach; ?>
			                <?php if($this->getCountTotals() && $rows > 0 && $this->getSubtotalVisibility()): ?>
			                <tr>
			                    <?php $j=0;foreach ($this->getColumns() as $_column): ?>
			                        <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?> subtotal">
			                            <?php echo ($j==1)?$this->getSubtotalText():$_column->getRowField($this->getTotals()) ?>
			                        </td>
			                    <?php endforeach; ?>
			                </tr>
			                <?php endif; ?>
			            <?php else: ?>
			                <td colspan="<?php echo $numColumns ?>" class="empty-text <?php echo $this->getEmptyTextClass() ?> last"><?php echo $this->getEmptyText() ?></td>
			            <?php endif; ?>
			            </tr>
			        <?php endforeach; ?>
					<?php elseif ($this->getEmptyText()): ?>
					<tr>
						<td class="empty-text <?php echo $this->getEmptyTextClass() ?>" colspan="<?php echo $numColumns ?>"><?php echo $this->getEmptyText() ?></td>
					</tr>
					<?php endif; ?>
				</tbody>

			</table>
		</div>
	</div>
	<?php if($this->canDisplayContainer()): ?>
</div>
<script type="text/javascript">
//<![CDATA[
    <?php echo $this->getJsObjectName() ?> = new varienGrid('<?php echo $this->getId() ?>', '<?php echo $this->getGridUrl() ?>', '<?php echo $this->getVarNamePage() ?>', '<?php echo $this->getVarNameSort() ?>', '<?php echo $this->getVarNameDir() ?>', '<?php echo $this->getVarNameFilter() ?>');
    <?php echo $this->getJsObjectName() ?>.useAjax = '<?php echo $this->getUseAjax() ?>';
	<?php if($this->getRowClickCallback()): ?>
        <?php echo $this->getJsObjectName() ?>.rowClickCallback = <?php echo $this->getRowClickCallback() ?>;
    <?php endif; ?>
    <?php if($this->getDateFilterVisibility()):?>
    <?php echo $this->getJsObjectName() ?>.doFilterCallback = validateFilterDate;
    var period_date_from = $('period_date_from');
    var period_date_to   = $('period_date_to');
    period_date_from.advaiceContainer = $('period_date_from_advaice');
    period_date_to.advaiceContainer = $('period_date_to_advaice');

    function validateFilterDate()
    {
        if (period_date_from && period_date_to) {
            return Validation.validate(period_date_from) && Validation.validate(period_date_to);
        }
        else {
            return true;
        }
    }
    <?php endif;?>
    /* Overwrite function from switcher.phtml widget*/
    function switchStore(obj){
        if (obj.options[obj.selectedIndex].getAttribute('website') == 'true') {
            var selectionType = 'website';
        } else if (obj.options[obj.selectedIndex].getAttribute('group') == 'true') {
            var selectionType = 'group';
        } else {
            var selectionType = 'store';
        }
        var storeParam = obj.value ? selectionType + '/' + obj.value + '/' : '';
        if(obj.switchParams){
            storeParam+= obj.switchParams;
        }
        var formParam = new Array('period_date_from', 'period_date_to', 'report_period');
        var paramURL = '';
        var switchURL = '<?php echo $this->getAbsoluteGridUrl(array('_current' => false)); ?>'.replace(/(store|group|website)\/\d+\//,'');

        for(var i=0;i<formParam.length;i++){
            if ($(formParam[i]).value && $(formParam[i]).name) {
                paramURL+= $(formParam[i]).name + '=' + escape($(formParam[i]).value) + '&';
            }
        }
        setLocation(switchURL + storeParam + '?' + paramURL);
    }
//]]>
</script>
<?php endif; ?>
<?php endif ?>