<?php 
	$cols = (int)$this->getConfig( "itemvisiable" ); 
	$count = count($brands);
	$moduleId = 'sc-'.rand().time();
	$i = 1;
	$span = 12/$cols;
	$span1 = 2;
	$span2 = 4;
?>
<?php if ($count > 0 ):?>
<div class="brand-scroll block set">	
	<?php if( $this->getConfig("brandnav_title") ) : ?>
	<div class="block-title">
		<strong><span><?php echo $this->getConfig( "brandnav_title" ); ?></span></strong>
		
		<?php if ($count > $cols ):?>
		<!-- Controls -->
		<div class="nav-scroll f-right">
			<a class="i-prev" href="#carousel-<?php echo $moduleId;?>" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="i-next" href="#carousel-<?php echo $moduleId;?>" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>	
		<?php endif; ?>
		
	</div>	
	<?php endif; ?>	
	<div id="carousel-<?php echo $moduleId;?>" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item <?php if ($i == 1){ echo 'active';}?>">
				<div class="row">				
					<?php foreach( $brands as $brand  ):  ?>
					<div class="col-lg-<?php echo $span;?> col-sm-<?php echo $span1;?> col-xs-<?php echo $span2;?>">
						<a href="<?php echo $brand->getLink(); ?>" title="<?php echo $brand->getTitle(); ?>">
							<img src="<?php echo $brand->getImageUrl("l");?>" width="165" height="124" alt="<?php echo $brand->getTitle(); ?>"/>
						</a>
					</div>
					<?php
						if($i % $cols == 0 && $i < $count){?>
							</div>
						</div>
						<div class="item">
							<div class="row">
							
						<?php }; $i++;	?>
					<?php endforeach; ?>	
				</div>
			</div>
		</div>
	</div>		

</div>
<script type="text/javascript">	
	jQuery('#carousel-<?php echo $moduleId;?>').carousel({
		interval: false
	});
</script>
<?php endif; ?>