<?php
/**
 * 20120503 Customize by Sean
 */
?>
<?php $_orders = $this->getOrders(); ?>
<div class="paragDiv">
        <h5><span><?php echo $this->__('Recent Orders') ?></span>
        	<?php if( sizeof($_orders->getItems()) > 0 ): ?>
            	<a href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('View All') ?></a>
        	<?php endif; ?>
        </h5>
        
        <?php if( sizeof($_orders->getItems()) > 0 ): ?>
      	<table width="748" border="0" align="center" cellpadding="1" cellspacing="1">
          <tbody>
          <tr>
            <th width="90"><?php echo $this->__('Order #') ?></th>
            <th width="110"><?php echo $this->__('Date') ?>(dd/mm/yy)</th>
            <th width="220"><?php echo $this->__('Ship To') ?></th>
            <th width="65"><?php echo $this->__('Order Total') ?></th>
            <th width="75"><?php echo $this->__('Status') ?></th>
            <th width="65"><?php echo $this->__('Shipping Status') ?></th>
            <th width="60"><?php echo $this->__('Logistics No.') ?></th>
            <th width="67"> </th>
          </tr>
          <?php foreach ($_orders as $_order): ?>
          <tr>
            <td valign="top"><?php echo $_order->getRealOrderId() ?></td>
            <td valign="top"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></td>
            <td valign="top">
            <?php 
                if($_order->getShippingAddress()):
					$_SAddress = $_order->getShippingAddress();
					echo $_SAddress->getName()."<br>".$_SAddress->getPostcode().$_SAddress->getCity().$_SAddress->getRegion().$_SAddress->getStreetFull();
				else:
					echo '&nbsp;';
				endif;
			?>   
            </td>
            <td valign="top"><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
            <td valign="top"><?php echo $_order->getStatusLabel() ?></td>
            <?php 
                $CustomId = Mage::getModel('check/custom_order')->getIdByOrder($_order->getId());
                $model = Mage::getModel('check/custom_order')->load($CustomId);
        		$Var = $model->getData();
        		if(array_key_exists('shipstatus', $Var)){
        			echo '<td valign="top">'.$this->__($Var['shipstatus']).'</td>';
        		}else{
        			echo '<td valign="top"></td>';
        		}
        		
        		if(array_key_exists('logistics_num', $Var)){
        			echo '<td valign="top"><a href="http://cagweb01.hct.com.tw/pls/cagweb/C_POLNK021_P?pkey='.$this->__($Var['logistics_num']).'">'.$this->__($Var['logistics_num']).'</a></td>';
        		}else{
        			echo '<td valign="top"></td>';
        		}
        	?>
            <td valign="top"><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a></td>
          </tr>
          <?php endforeach; ?>
          </tbody>
        </table>
        <?php else: ?>
    		<p><?php echo $this->__('You have placed no orders.'); ?></p>
		<?php endif; ?>
</div>



<?php 
/*
$_TshippingAddress = $_order->getShippingAddress();
echo $_TshippingAddress->getFirstname() . '<br />';
echo $_TshippingAddress->getLastname() . '<br />';
echo $_TshippingAddress->getCompany() . '<br />';
echo $_TshippingAddress->getStreetFull() . '<br />';
echo $_TshippingAddress->getRegion() . '<br />';
echo $_TshippingAddress->getCity() . '<br />';
echo $_TshippingAddress->getPostcode() . '<br />';
echo $_TshippingAddress->getCountry_id() . '<br />';
*/
?>