<?php
/**
 * 20120619 return oreder theme by Sean
 */
?>
<?php /* echo $this->getMessagesBlock()->getGroupedHtml() */ ?>
<?php $_orders = $this->getOrders(); ?>

<div class="mem_clum_r">
      <div class="clum_all">
      	<h3><?php echo $this->__('My Return Orders') ?></h3>
      	<div class="hitxt">
    	<h4><?php echo $this->escapeHtml($this->__('Welcome,')) ?>
    	<span><?php echo $this->escapeHtml(Mage::getSingleton('customer/session')->getCustomer()->getName()) ?></span></h4>       
		</div>
      	<!-- <div class="paragDiv"></div> -->
      	<?php /* echo $this->getPagerHtml(); */ ?>
		<?php if($_orders->getSize()): ?>
      	<div class="paragDiv">
            <div class="hitxt">
                <p>共有<?php echo $this->getOrders()->getSize() ?>件商品</p>
            </div>
            <table width="748" border="0" align="center" cellpadding="1" cellspacing="1">
                <tbody>
                <tr>
                    <th width="97"><?php echo $this->__('Order #') ?></th>
                    <th width="91"><?php echo $this->__('Date') ?><em> dd/mm/yy </em></th>
                    <th width="250"><?php echo $this->__('Shipping Address') ?></th>
                    <th width="67"><?php echo $this->__('Order Total') ?></th>
                    <th width="58"><?php echo $this->__('Order Status') ?></th>
                    <th width="58"><?php echo $this->__('Logistics No.') ?></th>
                    <th> </th>
                </tr>
                <?php foreach ($_orders as $_order): ?>
                    <tr>
                  	<td valign="top"><?php echo $_order->getRealOrderId() ?></td>
                  	<td valign="top"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?>
                  	</td>
                   	<td valign="top">
                   	<?php 
                	if($_order->getShippingAddress()):
						$_SAddress = $_order->getShippingAddress();
						echo $_SAddress->getName()."<br>".$_SAddress->getPostcode().$_SAddress->getCity().$_SAddress->getRegion().$_SAddress->getStreetFull();
					else:
						echo '&nbsp;';
					endif;
					?>
                   	</td>
                   	<td valign="top"><?php echo $this->helper('core')->currency($_order->getGrandTotal()) ?></td>
                   	<td valign="top"><?php echo $_order->getStatusLabel() ?></td>
                   	 <?php 
		                $CustomId = Mage::getModel('check/custom_order')->getIdByOrder($_order->getId());
		                $model = Mage::getModel('check/custom_order')->load($CustomId);
		        		$Var = $model->getData();
// 		        		if(array_key_exists('shipstatus', $Var)){
// 		        			echo '<td valign="top">'.$this->__($Var['shipstatus']).'</td>';
// 		        		}else{
// 		        			echo '<td valign="top"></td>';
// 		        		}
		        		
		        		if(array_key_exists('logistics_num', $Var)){
		        			echo '<td valign="top"><a href="http://cagweb01.hct.com.tw/pls/cagweb/C_POLNK021_P?pkey='.$this->__($Var['logistics_num']).'">'.$this->__($Var['logistics_num']).'</a></td>';
		        		}else{
		        			echo '<td valign="top"></td>';
		        		}
		        	?>
                   	<td valign="top"><a id="return_btn" href="<?php echo $this->getURL('sales/order/returnform/').'order_id/'.$_order->getId() ?>"><?php echo $this->__('Return Order') ?></a><br><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a></td>
            	 	</tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php else: ?>
    		<?php echo $this->__('You have placed no orders to return.'); ?>
		<?php endif ?>
      </div>      
    </div>

<script type="text/javascript">decorateTable('my-orders-table');</script>
<script>
	jQuery(document).ready(function($){
		$('a').click(function(event){
			if($(this).attr('id')=='return_btn'){
				if(confirm("<?php echo $this->__('Are you sure you want to return this order?');?>")){
					return true;
				}else{
					return false;
				}
			}else{
				return true;
			}
		});
	});
</script>
<?php echo $this->getPagerHtml(); ?>

